Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario012-standalone, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag

tripleo-ansible-docs:
  parent: openstack-tox-docs

tripleo-ansible-centos-7-molecule-aide:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-aide

tripleo-ansible-centos-7-molecule-test_deps:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_deps

tripleo-ansible-centos-7-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_json_error_callback

tripleo-ansible-centos-7-molecule-test_package_action:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_package_action

tripleo-ansible-centos-7-molecule-tuned:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-tuned

tripleo-ansible-centos-7-molecule-tripleo-bootstrap:
  parent: tripleo-ansible-centos
  timeout: 1800
  vars:
    tox_envlist: mol-tripleo-bootstrap

tripleo-ansible-centos-7-role-addition:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: role-addition

tripleo-ansible-centos-7-molecule-tripleo-create-admin:
  parent: tripleo-ansible-centos
  timeout: 1800
  vars:
    tox_envlist: mol-tripleo-create-admin

tripleo-ansible-centos-7-molecule-tripleo-module-load:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-tripleo-module-load

tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-tripleo-ssh-known-hosts

tripleo-ansible-centos-7-molecule-tripleo-container-tag:
  parent: tripleo-ansible-centos-sudo
  vars:
    tox_envlist: mol-tripleo-container-tag

Tweak the role-addition tox job
  tox.ini
  zuul.d/molecule.yaml
Due: none

Add an additional check for ceph_ansible_skip_tags variable.
  tripleo_ansible/roles/tripleo-ceph-run-ansible/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

update example zuul job parent
  doc/source/contributing.rst
  role-addition.yml
Due: tripleo-ansible-docs, tripleo-ansible-centos-7-role-addition

Add post job for sphix docs
  zuul.d/layout.yaml
Due: none

Add post job filters
  zuul.d/layout.yaml
Due: none

Add plugin documentation
  doc/source/_exts/ansible-module-autodoc.py
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/index.rst
  doc/source/modules.rst
  doc/source/modules/action-package.rst
  doc/source/modules/calllback-json_error.rst
  doc/source/modules/modules-podman_container.rst
  doc/source/modules/modules-podman_image.rst
  doc/source/modules/modules-podman_image_facts.rst
  tox.ini
  tripleo_ansible/ansible_plugins/action/package.py
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ci-centos-7-scenario004-standalone

correct octavia playbooks
  tripleo_ansible/roles/octavia-undercloud/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone

Remove filters on post jobs
  zuul.d/layout.yaml
Due: none

Add ansible requirement to our docs builds
  doc/requirements.txt
  doc/source/_exts/.gitkeep
  molecule-requirements.txt
  tox.ini
Due: tripleo-ansible-docs

Fix setup.py for symlinked tripleo-docker-rm
  setup.cfg
Due: none

Force removal of stopped or running containers
  tripleo_ansible/roles/tripleo-container-rm/tasks/tripleo_podman_container_rm.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Fix docs Zuul jobs
  zuul.d/layout.yaml
Due: none

Dont set constraints on sphinx
  molecule-requirements.txt
Due: none

Add molecule test for stopped container scenario
  tripleo_ansible/roles/tripleo-container-rm/molecule/podman-rm-stopped/molecule.yml
  tripleo_ansible/roles/tripleo-container-rm/molecule/podman-rm-stopped/playbook.yml
  tripleo_ansible/roles/tripleo-container-rm/molecule/podman-rm-stopped/prepare.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Add template mode to tripleo-ssh-known-hosts
  tripleo_ansible/roles/tripleo-ssh-known-hosts/defaults/main.yml
  tripleo_ansible/roles/tripleo-ssh-known-hosts/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts

Update all role docs to use the ansible autodoc plugin
  doc/source/_exts/ansible-autodoc.py
  doc/source/_exts/ansible-module-autodoc.py
  doc/source/conf.py
  doc/source/roles/role-aide.rst
  doc/source/roles/role-octavia-controller-config.rst
  doc/source/roles/role-octavia-controller-post-config copy.rst
  doc/source/roles/role-octavia-overcloud-config.rst
  doc/source/roles/role-octavia-undercloud.rst
  doc/source/roles/role-octavia_common.rst
  doc/source/roles/role-test_deps.rst
  doc/source/roles/role-test_json_error_callback.rst
  doc/source/roles/role-test_package_action.rst
  doc/source/roles/role-tripleo-bootstrap.rst
  doc/source/roles/role-tripleo-ceph-common.rst
  doc/source/roles/role-tripleo-ceph-fetch-dir.rst
  doc/source/roles/role-tripleo-ceph-run-ansible.rst
  doc/source/roles/role-tripleo-ceph-uuid.rst
  doc/source/roles/role-tripleo-ceph-work-dir.rst
  doc/source/roles/role-tripleo-container-rm.rst
  doc/source/roles/role-tripleo-container-tag.rst
  doc/source/roles/role-tripleo-create-admin.rst
  doc/source/roles/role-tripleo-docker-rm.rst
  doc/source/roles/role-tripleo-image-serve.rst
  doc/source/roles/role-tripleo-module-load.rst
  doc/source/roles/role-tripleo-ssh-known-hosts.rst
  doc/source/roles/role-tripleo-transfer.rst
  doc/source/roles/role-tuned.rst
  role-addition.yml
Due: tripleo-ansible-docs, tripleo-ansible-centos-7-role-addition

Remove non-template mode from tripleo-ssh-known-hosts role
  tripleo_ansible/roles/tripleo-ssh-known-hosts/README.md
  tripleo_ansible/roles/tripleo-ssh-known-hosts/defaults/main.yml
  tripleo_ansible/roles/tripleo-ssh-known-hosts/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-ssh-known-hosts/molecule/default/tests/test_default.py
  tripleo_ansible/roles/tripleo-ssh-known-hosts/molecule/legacy_vars/Dockerfile
  tripleo_ansible/roles/tripleo-ssh-known-hosts/molecule/legacy_vars/molecule.yml
  tripleo_ansible/roles/tripleo-ssh-known-hosts/molecule/legacy_vars/playbook.yml
  tripleo_ansible/roles/tripleo-ssh-known-hosts/molecule/legacy_vars/prepare.yml
  tripleo_ansible/roles/tripleo-ssh-known-hosts/molecule/legacy_vars/tests/test_default.py
  tripleo_ansible/roles/tripleo-ssh-known-hosts/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts

Use internal endpoints for configuration in octavia nodes
  tripleo_ansible/playbooks/octavia-files.yaml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone

Update readme with tripleo-ansible links
  README.rst
Due: tripleo-ansible-docs

Create a podman role
  doc/source/roles/role-tripleo-podman.rst
  tripleo_ansible/roles/tripleo-podman/defaults/main.yml
  tripleo_ansible/roles/tripleo-podman/meta/main.yml
  tripleo_ansible/roles/tripleo-podman/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-podman/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-podman/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-podman/molecule/install/molecule.yml
  tripleo_ansible/roles/tripleo-podman/molecule/install/playbook.yml
  tripleo_ansible/roles/tripleo-podman/molecule/install/prepare.yml
  tripleo_ansible/roles/tripleo-podman/molecule/login/molecule.yml
  tripleo_ansible/roles/tripleo-podman/molecule/login/playbook.yml
  tripleo_ansible/roles/tripleo-podman/molecule/login/prepare.yml
  tripleo_ansible/roles/tripleo-podman/tasks/main.yml
  tripleo_ansible/roles/tripleo-podman/tasks/tripleo_docker_purge.yml
  tripleo_ansible/roles/tripleo-podman/tasks/tripleo_docker_stop.yml
  tripleo_ansible/roles/tripleo-podman/tasks/tripleo_podman_install.yml
  tripleo_ansible/roles/tripleo-podman/tasks/tripleo_podman_login.yml
  tripleo_ansible/roles/tripleo-podman/tasks/tripleo_podman_purge.yml
  tripleo_ansible/roles/tripleo-podman/vars/redhat.yml
  zuul.d/molecule.yaml
Due: tripleo-ansible-docs, tripleo-ci-centos-7-scenario004-standalone

Cover the case when the container engine is not available.
  tripleo_ansible/roles/tripleo-container-rm/tasks/main.yml
  tripleo_ansible/roles/tripleo-container-rm/tasks/tripleo_docker_container_rm.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Use canonical hostname when setting up network ports
  tripleo_ansible/roles/octavia-controller-config/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone

Import the tripleo-persist role from tripleo-common.
  doc/source/roles/role-tripleo-persist.rst
  tripleo_ansible/roles/tripleo-persist/defaults/main.yml
  tripleo_ansible/roles/tripleo-persist/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-persist/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-persist/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-persist/tasks/cleanup.yml
  tripleo_ansible/roles/tripleo-persist/tasks/persist.yml
  tripleo_ansible/roles/tripleo-persist/tasks/restore.yml
  zuul.d/molecule.yaml
Due: tripleo-ansible-docs, tripleo-ci-centos-7-scenario004-standalone

Add galaxy role path which will be ignored by git
  .gitignore
  .pre-commit-config.yaml
  ansible-test-env.rc
  tox.ini
  tripleo_ansible/roles.galaxy/.gitkeep
Due: tripleo-ci-centos-7-scenario004-standalone

Remove docker_container task from tripleo-container-rm.
  tripleo_ansible/roles/tripleo-container-rm/tasks/tripleo_docker_container_rm.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Skip processing role_networks if not defined
  tripleo_ansible/roles/tripleo-ssh-known-hosts/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts

Fix documentation and skeleton role
  _skeleton_role_/defaults/main.yml.j2
  _skeleton_role_/vars/main.yml
Due: tripleo-ansible-centos-7-role-addition

Add library documentation within roles
  doc/source/_exts/ansible-autodoc.py
Due: tripleo-ansible-docs

Add molecule test structure to ceph roles
  ansible-test-env.rc
  doc/source/roles/role-tripleo-ceph-run-ansible.rst
  doc/source/roles/role-tripleo-ceph-uuid.rst
  scripts/run-local-test
  tripleo_ansible/roles/tripleo-ceph-common/defaults/main.yml
  tripleo_ansible/roles/tripleo-ceph-common/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-ceph-common/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-ceph-common/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-ceph-common/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-ceph-common/tasks/main.yml
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo-ceph-run-ansible/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-ceph-run-ansible/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-ceph-run-ansible/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-ceph-run-ansible/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-ceph-run-ansible/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo-ceph-run-ansible/tasks/main.yml
  tripleo_ansible/roles/tripleo-ceph-uuid/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-ceph-uuid/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-ceph-uuid/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-ceph-uuid/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-ceph-uuid/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo-ceph-uuid/tasks/gather.yml
  tripleo_ansible/roles/tripleo-ceph-work-dir/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-ceph-work-dir/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-ceph-work-dir/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-ceph-work-dir/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-ceph-work-dir/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo-ceph-work-dir/tasks/prepare.yml
  zuul.d/molecule.yaml
  zuul.d/playbooks/run.yml
Due: tripleo-ansible-docs, tripleo-ci-centos-7-scenario004-standalone

Allow distribution of non-autogenerated certs
  tripleo_ansible/roles/octavia-controller-config/tasks/certificate.yml
  tripleo_ansible/roles/octavia-controller-config/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone

Correct role documentation heading
  doc/source/roles/role-tripleo-persist.rst
Due: tripleo-ansible-docs

Logindefs role in tripleo-ansible
  doc/source/roles/role-login-defs.rst
  tripleo_ansible/roles/login-defs/defaults/main.yml
  tripleo_ansible/roles/login-defs/meta/main.yml
  tripleo_ansible/roles/login-defs/molecule/default/Dockerfile
  tripleo_ansible/roles/login-defs/molecule/default/molecule.yml
  tripleo_ansible/roles/login-defs/molecule/default/playbook.yml
  tripleo_ansible/roles/login-defs/molecule/default/prepare.yml
  tripleo_ansible/roles/login-defs/molecule/default/verify.yml
  tripleo_ansible/roles/login-defs/tasks/main.yml
  zuul.d/molecule.yaml
Due: tripleo-ansible-docs, tripleo-ci-centos-7-scenario004-standalone

Create a time role
  doc/source/roles/role-tripleo-time.rst
  tripleo_ansible/roles/tripleo-time/defaults/main.yml
  tripleo_ansible/roles/tripleo-time/handlers/main.yml
  tripleo_ansible/roles/tripleo-time/meta/main.yml
  tripleo_ansible/roles/tripleo-time/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-time/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-time/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-time/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-time/molecule/ntp_stop/Dockerfile
  tripleo_ansible/roles/tripleo-time/molecule/ntp_stop/molecule.yml
  tripleo_ansible/roles/tripleo-time/molecule/ntp_stop/playbook.yml
  tripleo_ansible/roles/tripleo-time/molecule/ntp_stop/prepare.yml
  tripleo_ansible/roles/tripleo-time/tasks/main.yml
  tripleo_ansible/roles/tripleo-time/tasks/tripleo_ntp_stop.yml
  tripleo_ansible/roles/tripleo-time/tasks/tripleo_phc2sys.yml
  tripleo_ansible/roles/tripleo-time/tasks/tripleo_ptp.yml
  tripleo_ansible/roles/tripleo-time/templates/ptp4l.conf.j2
  tripleo_ansible/roles/tripleo-time/vars/redhat.yml
  zuul.d/molecule.yaml
Due: tripleo-ansible-docs, tripleo-ci-centos-7-scenario004-standalone

Disable ceph-ansible firewall tasks
  tripleo_ansible/roles/tripleo-ceph-common/defaults/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Introduce tripleo-config role
  ansible-test-env.rc
  doc/source/roles/role-tripleo-config.rst
  tox.ini
  tripleo_ansible/roles/tripleo-config/defaults/main.yml
  tripleo_ansible/roles/tripleo-config/meta/main.yml
  tripleo_ansible/roles/tripleo-config/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-config/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-config/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-config/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-config/tasks/main.yml
  tripleo_ansible/roles/tripleo-config/templates/ini-config.j2
  zuul.d/molecule.yaml
  zuul.d/playbooks/pre.yml
  zuul.d/playbooks/run.yml
Due: tripleo-ansible-docs, tripleo-ci-centos-7-scenario004-standalone

Updates old references to ceph_docker_* ansible variables
  tripleo_ansible/roles/tripleo-ceph-common/defaults/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Improve local_ceph_ansible_fetch_directory_backup error msg
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/tasks/create.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Fix molecule reports.html logs capture
  zuul.d/base.yaml
  zuul.d/playbooks/run.yml
Due: none

Separate tripleo-time into two distinct roles
  doc/source/roles/role-tripleo-timezone.rst
  tripleo_ansible/roles/tripleo-ptp/defaults/main.yml
  tripleo_ansible/roles/tripleo-ptp/handlers/main.yml
  tripleo_ansible/roles/tripleo-ptp/meta/main.yml
  tripleo_ansible/roles/tripleo-ptp/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-ptp/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-ptp/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-ptp/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-ptp/molecule/ntp_stop/Dockerfile
  tripleo_ansible/roles/tripleo-ptp/molecule/ntp_stop/molecule.yml
  tripleo_ansible/roles/tripleo-ptp/molecule/ntp_stop/playbook.yml
  tripleo_ansible/roles/tripleo-ptp/molecule/ntp_stop/prepare.yml
  tripleo_ansible/roles/tripleo-ptp/tasks/main.yml
  tripleo_ansible/roles/tripleo-ptp/tasks/tripleo_ntp_stop.yml
  tripleo_ansible/roles/tripleo-ptp/tasks/tripleo_phc2sys.yml
  tripleo_ansible/roles/tripleo-ptp/tasks/tripleo_ptp.yml
  tripleo_ansible/roles/tripleo-ptp/templates/ptp4l.conf.j2
  tripleo_ansible/roles/tripleo-ptp/vars/redhat.yml
  tripleo_ansible/roles/tripleo-timezone/defaults/main.yml
  tripleo_ansible/roles/tripleo-timezone/handlers/main.yml
  tripleo_ansible/roles/tripleo-timezone/meta/main.yml
  tripleo_ansible/roles/tripleo-timezone/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-timezone/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-timezone/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-timezone/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-timezone/tasks/main.yml
  zuul.d/molecule.yaml
Due: tripleo-ansible-docs, tripleo-ci-centos-7-scenario004-standalone

Add playbook to stop containers
  doc/source/roles/role-tripleo-container-stop.rst
  tripleo_ansible/roles/tripleo-container-stop/defaults/main.yml
  tripleo_ansible/roles/tripleo-container-stop/meta/main.yml
  tripleo_ansible/roles/tripleo-container-stop/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-container-stop/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-container-stop/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-container-stop/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-container-stop/molecule/podman/Dockerfile
  tripleo_ansible/roles/tripleo-container-stop/molecule/podman/molecule.yml
  tripleo_ansible/roles/tripleo-container-stop/molecule/podman/playbook.yml
  tripleo_ansible/roles/tripleo-container-stop/molecule/podman/prepare.yml
  tripleo_ansible/roles/tripleo-container-stop/tasks/main.yml
  tripleo_ansible/roles/tripleo-container-stop/tasks/tripleo_container_stop.yaml
  zuul.d/molecule.yaml
Due: tripleo-ansible-docs, tripleo-ci-centos-7-scenario004-standalone

Path conditions:
  tripleo-ansible-docs: (any of: ^doc/.*, ^README.rst) or (any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst)
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  tripleo-ci-centos-7-scenario004-standalone: any of: ^tripleo_ansible/.*, requirements.txt
  tripleo-ci-centos-7-scenario010-standalone: any of: ^tripleo_ansible/.*octavia.*
  tripleo-ci-centos-7-scenario003-standalone: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ci-centos-7-scenario012-standalone: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
