Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario012-standalone, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-persist

tripleo-ansible-docs:
  parent: openstack-tox-docs

tripleo-ansible-centos-7-molecule-aide:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-aide

tripleo-ansible-centos-7-molecule-test_deps:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_deps

tripleo-ansible-centos-7-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_json_error_callback

tripleo-ansible-centos-7-molecule-test_package_action:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_package_action

tripleo-ansible-centos-7-molecule-tuned:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-tuned

tripleo-ansible-centos-7-molecule-tripleo-bootstrap:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-bootstrap

tripleo-ansible-centos-7-role-addition:
  nodeset: centos-7
  parent: tox-molecule
  timeout: 1800
  vars:
    tox_envlist: role-addition

tripleo-ansible-centos-7-molecule-tripleo-create-admin:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-create-admin

tripleo-ansible-centos-7-molecule-tripleo-module-load:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-module-load

tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-ssh-known-hosts

tripleo-ansible-centos-7-molecule-tripleo-container-tag:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-tag

tripleo-ansible-centos-7-molecule-tripleo-container-rm:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-rm

tripleo-ansible-centos-7-molecule-tripleo-image-serve:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-image-serve

tripleo-ansible-centos-7-molecule-tripleo-transfer:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-transfer

tripleo-ansible-centos-7-molecule-tripleo-podman:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-podman

tripleo-ansible-centos-7-molecule-tripleo-persist:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-persist

Inherit calling Ansible's environment when running ceph-ansible
  tripleo_ansible/roles/tripleo-ceph-common/defaults/main.yml
  tripleo_ansible/roles/tripleo-ceph-common/tasks/main.yml
  tripleo_ansible/roles/tripleo-ceph-run-ansible/tasks/main.yml
  tripleo_ansible/roles/tripleo-ceph-uuid/tasks/gather.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Add kernel tuning role
  doc/source/roles/role-tripleo-kernel.rst
  tripleo_ansible/roles/tripleo-kernel/defaults/main.yml
  tripleo_ansible/roles/tripleo-kernel/handlers/main.yml
  tripleo_ansible/roles/tripleo-kernel/meta/main.yml
  tripleo_ansible/roles/tripleo-kernel/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-kernel/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-kernel/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-kernel/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-kernel/molecule/extra/Dockerfile
  tripleo_ansible/roles/tripleo-kernel/molecule/extra/molecule.yml
  tripleo_ansible/roles/tripleo-kernel/molecule/extra/playbook.yml
  tripleo_ansible/roles/tripleo-kernel/molecule/extra/prepare.yml
  tripleo_ansible/roles/tripleo-kernel/tasks/main.yml
  tripleo_ansible/roles/tripleo-kernel/templates/tripleo-modprobe.conf.j2
  tripleo_ansible/roles/tripleo-kernel/templates/tripleo-sysctl.conf.j2
  tripleo_ansible/roles/tripleo-kernel/vars/main.yml
  zuul.d/molecule.yaml
Due: tripleo-ansible-docs, tripleo-ci-centos-7-scenario004-standalone

Remove unused hieradata ansible tasks for datafiles
  tripleo_ansible/roles/tripleo-hieradata/molecule/all-hosts/Dockerfile
  tripleo_ansible/roles/tripleo-hieradata/molecule/all-hosts/mock-hieradata.j2.yaml
  tripleo_ansible/roles/tripleo-hieradata/molecule/all-hosts/molecule.yml
  tripleo_ansible/roles/tripleo-hieradata/molecule/all-hosts/playbook.yml
  tripleo_ansible/roles/tripleo-hieradata/molecule/all-hosts/prepare.yml
  tripleo_ansible/roles/tripleo-hieradata/molecule/all-hosts/tests/test_default.py
  tripleo_ansible/roles/tripleo-hieradata/molecule/per-host/Dockerfile
  tripleo_ansible/roles/tripleo-hieradata/molecule/per-host/mock-hieradata.j2.yaml
  tripleo_ansible/roles/tripleo-hieradata/molecule/per-host/molecule.yml
  tripleo_ansible/roles/tripleo-hieradata/molecule/per-host/playbook.yml
  tripleo_ansible/roles/tripleo-hieradata/molecule/per-host/prepare.yml
  tripleo_ansible/roles/tripleo-hieradata/molecule/per-host/tests/test_default.py
  tripleo_ansible/roles/tripleo-hieradata/tasks/all_hosts.yml
  tripleo_ansible/roles/tripleo-hieradata/tasks/main.yml
  tripleo_ansible/roles/tripleo-hieradata/tasks/per_host.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Create tripleo container image prepare role
  doc/source/roles/role-tripleo-container-image-prepare.rst
  releasenotes/notes/docker_enable_vfs-c8b41b02111341df.yaml
  roles
  tripleo_ansible/playbooks/docker-vfs-setup.yml
  tripleo_ansible/roles/test_deps/README.md
  tripleo_ansible/roles/test_deps/defaults/main.yml
  tripleo_ansible/roles/test_deps/tasks/main.yml
  tripleo_ansible/roles/test_deps/tasks/tripleo-setup.yml
  tripleo_ansible/roles/test_deps/vars/centos-7.yml
  tripleo_ansible/roles/test_deps/vars/fedora.yml
  tripleo_ansible/roles/tripleo-config/defaults/main.yml
  tripleo_ansible/roles/tripleo-config/templates/json-config.j2
  tripleo_ansible/roles/tripleo-container-image-prepare/defaults/main.yml
  tripleo_ansible/roles/tripleo-container-image-prepare/handlers/main.yml
  tripleo_ansible/roles/tripleo-container-image-prepare/meta/main.yml
  tripleo_ansible/roles/tripleo-container-image-prepare/molecule/build/Dockerfile
  tripleo_ansible/roles/tripleo-container-image-prepare/molecule/build/DockerfileRegistry
  tripleo_ansible/roles/tripleo-container-image-prepare/molecule/build/molecule.yml
  tripleo_ansible/roles/tripleo-container-image-prepare/molecule/build/playbook-docker-vfs-setup.yml
  tripleo_ansible/roles/tripleo-container-image-prepare/molecule/build/playbook.yml
  tripleo_ansible/roles/tripleo-container-image-prepare/molecule/build/prepare.yml
  tripleo_ansible/roles/tripleo-container-image-prepare/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-container-image-prepare/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-container-image-prepare/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-container-image-prepare/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-container-image-prepare/tasks/main.yml
  zuul.d/molecule.yaml
  zuul.d/playbooks/pre.yml
Due: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ci-centos-7-scenario004-standalone

Fix ansible test runner
  zuul.d/playbooks/run.yml
Due: none

Update jobs resolving runtime issues
  molecule-requirements.txt
  tripleo_ansible/roles/tripleo-container-stop/tasks/tripleo_container_stop.yaml
  tripleo_ansible/roles/tripleo-ptp/molecule/ntp_stop/molecule.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Add kernel package install
  tripleo_ansible/roles/tripleo-kernel/defaults/main.yml
  tripleo_ansible/roles/tripleo-kernel/molecule/extra/playbook.yml
  tripleo_ansible/roles/tripleo-kernel/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Create the tripleo-firewall role
  doc/source/roles/role-tripleo-firewall.rst
  tripleo_ansible/roles/tripleo-firewall/defaults/main.yml
  tripleo_ansible/roles/tripleo-firewall/handlers/main.yml
  tripleo_ansible/roles/tripleo-firewall/meta/main.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/firewall-add-complex/molecule.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/firewall-add-complex/playbook.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/firewall-add-complex/prepare.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/firewall-add/molecule.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/firewall-add/playbook.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/firewall-add/prepare.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/firewall-remove-complex/molecule.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/firewall-remove-complex/playbook.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/firewall-remove-complex/prepare.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/firewall-remove/molecule.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/firewall-remove/playbook.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/firewall-remove/prepare.yml
  tripleo_ansible/roles/tripleo-firewall/tasks/main.yml
  tripleo_ansible/roles/tripleo-firewall/tasks/tripleo_firewall_add.yml
  tripleo_ansible/roles/tripleo-firewall/tasks/tripleo_firewall_remove.yml
  tripleo_ansible/roles/tripleo-firewall/vars/main.yml
  tripleo_ansible/roles/tripleo-firewall/vars/redhat.yml
  zuul.d/molecule.yaml
Due: tripleo-ansible-docs, tripleo-ci-centos-7-scenario004-standalone

Add securetty role
  doc/source/roles/role-tripleo-securetty.rst
  tripleo_ansible/roles/tripleo-securetty/defaults/main.yml
  tripleo_ansible/roles/tripleo-securetty/meta/main.yml
  tripleo_ansible/roles/tripleo-securetty/molecule/create/Dockerfile
  tripleo_ansible/roles/tripleo-securetty/molecule/create/molecule.yml
  tripleo_ansible/roles/tripleo-securetty/molecule/create/playbook.yml
  tripleo_ansible/roles/tripleo-securetty/molecule/create/prepare.yml
  tripleo_ansible/roles/tripleo-securetty/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-securetty/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-securetty/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-securetty/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-securetty/tasks/main.yml
  tripleo_ansible/roles/tripleo-securetty/templates/securetty.j2
  zuul.d/molecule.yaml
Due: tripleo-ansible-docs, tripleo-ci-centos-7-scenario004-standalone

Remove temporary workaround for hieradata_files
  tripleo_ansible/roles/tripleo-hieradata/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Switch to promote docs job
  zuul.d/base.yaml
  zuul.d/layout.yaml
Due: none

Add firewall pruning and protocal parsing
  tripleo_ansible/roles/tripleo-firewall/handlers/main.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/firewall-add-complex/playbook.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/firewall-remove-complex/playbook.yml
  tripleo_ansible/roles/tripleo-firewall/tasks/main.yml
  tripleo_ansible/roles/tripleo-firewall/tasks/tripleo_firewall_add.yml
  tripleo_ansible/roles/tripleo-firewall/tasks/tripleo_firewall_protocol_rules.yml
  tripleo_ansible/roles/tripleo-firewall/tasks/tripleo_firewall_state.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Create ansible environment variables in profile.d
  tripleo_ansible/roles/tripleo-bootstrap/files/tripleo-ansible-env.sh
  tripleo_ansible/roles/tripleo-bootstrap/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-bootstrap

Remove static configs for the called playbook from the calling role
  tripleo_ansible/roles/tripleo-ceph-common/defaults/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Create tripleo-cellv2 role
  doc/source/roles/role-tripleo-cellv2.rst
  tripleo_ansible/playbooks/create-nova-cell-v2.yaml
  tripleo_ansible/roles/tripleo-cellv2/defaults/main.yml
  tripleo_ansible/roles/tripleo-cellv2/handlers/main.yml
  tripleo_ansible/roles/tripleo-cellv2/meta/main.yml
  tripleo_ansible/roles/tripleo-cellv2/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-cellv2/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-cellv2/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-cellv2/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-cellv2/tasks/add_internalapi_hosts_entries.yml
  tripleo_ansible/roles/tripleo-cellv2/tasks/check_cell_exist.yml
  tripleo_ansible/roles/tripleo-cellv2/tasks/create_cell.yml
  tripleo_ansible/roles/tripleo-cellv2/tasks/discover_hosts.yml
  tripleo_ansible/roles/tripleo-cellv2/tasks/extract_cell_information.yml
  zuul.d/molecule.yaml
Due: tripleo-ansible-docs, tripleo-ci-centos-7-scenario004-standalone

Restore AllNodesExtraMapData
  tripleo_ansible/roles/tripleo-hieradata/templates/all_nodes.j2
Due: tripleo-ci-centos-7-scenario004-standalone

Adds tripleo-clients-install role
  doc/source/roles/role-tripleo-clients-install.rst
  tripleo_ansible/roles/tripleo-clients-install/README.md
  tripleo_ansible/roles/tripleo-clients-install/defaults/main.yml
  tripleo_ansible/roles/tripleo-clients-install/meta/main.yml
  tripleo_ansible/roles/tripleo-clients-install/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-clients-install/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-clients-install/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-clients-install/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-clients-install/tasks/install_pkgs.yml
  tripleo_ansible/roles/tripleo-clients-install/tasks/main.yml
  tripleo_ansible/roles/tripleo-clients-install/vars/fedora.yml
  tripleo_ansible/roles/tripleo-clients-install/vars/main.yml
  tripleo_ansible/roles/tripleo-clients-install/vars/redhat-8.yml
  zuul.d/molecule.yaml
Due: tripleo-ansible-docs, tripleo-ci-centos-7-scenario004-standalone

Creates tripleo-validations-package role
  doc/source/roles/role-tripleo-validations-package.rst
  tripleo_ansible/roles/tripleo-validations-package/README.md
  tripleo_ansible/roles/tripleo-validations-package/meta/main.yml
  tripleo_ansible/roles/tripleo-validations-package/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-validations-package/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-validations-package/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-validations-package/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-validations-package/tasks/main.yml
  zuul.d/molecule.yaml
Due: tripleo-ansible-docs, tripleo-ci-centos-7-scenario004-standalone

Add check for string type dport
  tripleo_ansible/roles/tripleo-firewall/molecule/firewall-add-complex/playbook.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/firewall-remove-complex/playbook.yml
  tripleo_ansible/roles/tripleo-firewall/tasks/tripleo_firewall_add.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Revert "Create ansible environment variables in profile.d"
  tripleo_ansible/roles/tripleo-bootstrap/files/tripleo-ansible-env.sh
  tripleo_ansible/roles/tripleo-bootstrap/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-bootstrap

Update install path for roles and plugins
  setup.cfg
  zuul.d/playbooks/pre.yml
  zuul.d/playbooks/run.yml
Due: none

Revert "Update install path for roles and plugins"
  setup.cfg
  zuul.d/playbooks/pre.yml
  zuul.d/playbooks/run.yml
Due: none

Revert "Revert "Update install path for roles and plugins""
  setup.cfg
  zuul.d/layout.yaml
  zuul.d/playbooks/pre.yml
  zuul.d/playbooks/run.yml
Due: none

Choose first node as bootstrap node name/ip
  tripleo_ansible/roles/tripleo-hieradata/molecule/hieradata_vars/molecule.yml
  tripleo_ansible/roles/tripleo-hieradata/templates/all_nodes.j2
  tripleo_ansible/roles/tripleo-hieradata/templates/bootstrap_node.j2
Due: tripleo-ci-centos-7-scenario004-standalone

Add the undercloud backup ansible playbook
  releasenotes/notes/add_save_swift_parameter_to_undercloud_backup-9cf04020d91bb0c1.yaml
  tripleo_ansible/playbooks/undercloud_backup.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Constrain molecule
  molecule-requirements.txt
  zuul.d/molecule.yaml
Due: none

Create the tripleo-sshd role
  doc/source/roles/role-tripleo-sshd.rst
  tripleo_ansible/roles/tripleo-sshd/defaults/main.yml
  tripleo_ansible/roles/tripleo-sshd/handlers/main.yml
  tripleo_ansible/roles/tripleo-sshd/meta/main.yml
  tripleo_ansible/roles/tripleo-sshd/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-sshd/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-sshd/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-sshd/tasks/main.yml
  tripleo_ansible/roles/tripleo-sshd/templates/sshd_config_block.j2
  tripleo_ansible/roles/tripleo-sshd/vars/main.yml
  tripleo_ansible/roles/tripleo-sshd/vars/redhat.yml
  zuul.d/molecule.yaml
Due: tripleo-ansible-docs, tripleo-ci-centos-7-scenario004-standalone

Always use sorted group for bootstrap node.
  tripleo_ansible/roles/tripleo-hieradata/templates/all_nodes.j2
  tripleo_ansible/roles/tripleo-hieradata/templates/bootstrap_node.j2
Due: tripleo-ci-centos-7-scenario004-standalone

Add configuration for RSyslog
  tripleo_ansible/roles/tripleo-podman/tasks/main.yml
  tripleo_ansible/roles/tripleo-podman/tasks/tripleo_podman_rsyslog.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-podman

Set ceph_grafana_vip on storage_dashboard network
  tripleo_ansible/roles/tripleo-hieradata/templates/vip_data.j2
Due: tripleo-ci-centos-7-scenario004-standalone

[tripleo-podman]Register the output of podman login
  tripleo_ansible/roles/tripleo-podman/tasks/tripleo_podman_login.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-podman

Include the ansible role to run the backup and restore feature
  doc/source/roles/role-backup-and-restore.rst
  tripleo_ansible/roles/backup-and-restore/backup/tasks/main.yml
  tripleo_ansible/roles/backup-and-restore/defaults/main.yml
  tripleo_ansible/roles/backup-and-restore/meta/main.yml
  tripleo_ansible/roles/backup-and-restore/molecule/default/Dockerfile
  tripleo_ansible/roles/backup-and-restore/molecule/default/molecule.yml
  tripleo_ansible/roles/backup-and-restore/molecule/default/playbook.yml
  tripleo_ansible/roles/backup-and-restore/molecule/default/prepare.yml
  tripleo_ansible/roles/backup-and-restore/setup_nfs/tasks/main.yml
  tripleo_ansible/roles/backup-and-restore/setup_rear/tasks/main.yml
  tripleo_ansible/roles/backup-and-restore/tasks/main.yml
  tripleo_ansible/roles/backup-and-restore/templates/exports.j2
  tripleo_ansible/roles/backup-and-restore/templates/local.conf.j2
  tripleo_ansible/roles/backup-and-restore/templates/rescue.conf.j2
  tripleo_ansible/roles/backup-and-restore/vars/redhat.yml
  zuul.d/molecule.yaml
Due: tripleo-ansible-docs, tripleo-ci-centos-7-scenario004-standalone

import missing logic from puppet manifests
  tripleo_ansible/roles/tripleo-sshd/defaults/main.yml
  tripleo_ansible/roles/tripleo-sshd/molecule/banners/Dockerfile
  tripleo_ansible/roles/tripleo-sshd/molecule/banners/molecule.yml
  tripleo_ansible/roles/tripleo-sshd/molecule/banners/playbook.yml
  tripleo_ansible/roles/tripleo-sshd/tasks/main.yml
  tripleo_ansible/roles/tripleo-sshd/templates/sshd_config_block.j2
Due: tripleo-ci-centos-7-scenario004-standalone

Use blockinfile for tripleo-ssh-known-hosts
  tripleo_ansible/roles/tripleo-ssh-known-hosts/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts

Remove bootstrap_nodeid test var
  tripleo_ansible/roles/tripleo-hieradata/molecule/hieradata_vars/molecule.yml
Due: none

Create the tripleo-packages role.
  doc/source/roles/role-tripleo-packages.rst
  tripleo_ansible/roles/tripleo-packages/defaults/main.yml
  tripleo_ansible/roles/tripleo-packages/handlers/main.yml
  tripleo_ansible/roles/tripleo-packages/meta/main.yml
  tripleo_ansible/roles/tripleo-packages/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-packages/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-packages/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-packages/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-packages/molecule/external_upgrade/Dockerfile
  tripleo_ansible/roles/tripleo-packages/molecule/external_upgrade/molecule.yml
  tripleo_ansible/roles/tripleo-packages/molecule/external_upgrade/playbook.yml
  tripleo_ansible/roles/tripleo-packages/molecule/external_upgrade/prepare.yml
  tripleo_ansible/roles/tripleo-packages/molecule/ffu/Dockerfile
  tripleo_ansible/roles/tripleo-packages/molecule/ffu/molecule.yml
  tripleo_ansible/roles/tripleo-packages/molecule/ffu/playbook.yml
  tripleo_ansible/roles/tripleo-packages/molecule/ffu/prepare.yml
  tripleo_ansible/roles/tripleo-packages/molecule/update/Dockerfile
  tripleo_ansible/roles/tripleo-packages/molecule/update/molecule.yml
  tripleo_ansible/roles/tripleo-packages/molecule/update/playbook.yml
  tripleo_ansible/roles/tripleo-packages/molecule/update/prepare.yml
  tripleo_ansible/roles/tripleo-packages/molecule/upgrade/Dockerfile
  tripleo_ansible/roles/tripleo-packages/molecule/upgrade/molecule.yml
  tripleo_ansible/roles/tripleo-packages/molecule/upgrade/playbook.yml
  tripleo_ansible/roles/tripleo-packages/molecule/upgrade/prepare.yml
  tripleo_ansible/roles/tripleo-packages/tasks/external_upgrade.yml
  tripleo_ansible/roles/tripleo-packages/tasks/fast_forward_post_upgrade.yml
  tripleo_ansible/roles/tripleo-packages/tasks/fast_forward_upgrade.yml
  tripleo_ansible/roles/tripleo-packages/tasks/update.yml
  tripleo_ansible/roles/tripleo-packages/tasks/upgrade.yml
  zuul.d/molecule.yaml
Due: tripleo-ansible-docs, tripleo-ci-centos-7-scenario004-standalone

Import default rules and sort rules
  tripleo_ansible/roles/tripleo-firewall/defaults/main.yml
  tripleo_ansible/roles/tripleo-firewall/tasks/main.yml
  tripleo_ansible/roles/tripleo-firewall/tasks/tripleo_firewall_add.yml
  tripleo_ansible/roles/tripleo-firewall/tasks/tripleo_firewall_protocol_rules.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Move OVN VIP to all_nodes and consider if OVN is configured for a separate VIP
  tripleo_ansible/roles/tripleo-hieradata/molecule/hieradata_vars/molecule.yml
  tripleo_ansible/roles/tripleo-hieradata/templates/all_nodes.j2
  tripleo_ansible/roles/tripleo-hieradata/templates/vip_data.j2
Due: tripleo-ci-centos-7-scenario004-standalone

Check if docker enabled before stopping all containers.
  tripleo_ansible/roles/tripleo-podman/tasks/tripleo_docker_stop.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-podman

Path conditions:
  tripleo-ansible-docs: (any of: ^doc/.*, ^README.rst) or (any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst)
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  tripleo-ci-centos-7-scenario004-standalone: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario010-standalone: (any of: ^tripleo_ansible/.*octavia.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario003-standalone: (any of: ^tripleo_ansible/roles/tripleo-create-admin/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario012-standalone: (any of: ^tripleo_ansible/roles/tripleo-module-load/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-7-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-7-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-7-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-7-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
