Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario012-standalone, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-persist, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-7-molecule-login-defs, tripleo-ansible-centos-7-molecule-tripleo-ptp, tripleo-ansible-centos-7-molecule-tripleo-timezone, tripleo-ansible-centos-7-molecule-tripleo-config, tripleo-ansible-centos-7-molecule-tripleo-container-stop, tripleo-ansible-centos-7-molecule-tripleo-hieradata, tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-7-molecule-tripleo-kernel, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-7-molecule-tripleo-firewall, tripleo-ansible-centos-7-molecule-tripleo-securetty, tripleo-ansible-centos-7-molecule-tripleo-cellv2

tripleo-ansible-docs:
  parent: openstack-tox-docs

tripleo-ansible-centos-7-molecule-aide:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-aide

tripleo-ansible-centos-7-molecule-test_deps:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_deps

tripleo-ansible-centos-7-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_json_error_callback

tripleo-ansible-centos-7-molecule-test_package_action:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_package_action

tripleo-ansible-centos-7-molecule-tuned:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-tuned

tripleo-ansible-centos-7-molecule-tripleo-bootstrap:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-bootstrap

tripleo-ansible-centos-7-role-addition:
  nodeset: centos-7
  parent: tox-molecule
  timeout: 1800
  vars:
    tox_envlist: role-addition

tripleo-ansible-centos-7-molecule-tripleo-create-admin:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-create-admin

tripleo-ansible-centos-7-molecule-tripleo-module-load:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-module-load

tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-ssh-known-hosts

tripleo-ansible-centos-7-molecule-tripleo-container-tag:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-tag

tripleo-ansible-centos-7-molecule-tripleo-container-rm:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-rm

tripleo-ansible-centos-7-molecule-tripleo-image-serve:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-image-serve

tripleo-ansible-centos-7-molecule-tripleo-transfer:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-transfer

tripleo-ansible-centos-7-molecule-tripleo-podman:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-podman

tripleo-ansible-centos-7-molecule-tripleo-persist:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-persist

tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_job_ansible_args: -v --skip-tags=run_uuid_ansible,run_ceph_ansible
    tripleo_role_name: tripleo-ceph-run-ansible

tripleo-ansible-centos-7-molecule-login-defs:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: login-defs

tripleo-ansible-centos-7-molecule-tripleo-ptp:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-ptp

tripleo-ansible-centos-7-molecule-tripleo-timezone:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-timezone

Programatically generate ssh hosts lines
  tripleo_ansible/roles/tripleo-ssh-known-hosts/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts

Revert "tripleo-keystone-resources: reduce permissions for clouds.yaml"
  tripleo_ansible/roles/tripleo-keystone-resources/defaults/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Add role/playbook to manage nova image cache
  doc/source/modules/modules-tripleo_nova_image_cache.rst
  doc/source/roles/role-tripleo-nova-image-cache.rst
  tripleo_ansible/ansible_plugins/action/tripleo_nova_image_cache.py
  tripleo_ansible/ansible_plugins/modules/tripleo_nova_image_cache.py
  tripleo_ansible/playbooks/tripleo_nova_image_cache.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/defaults/main.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/meta/main.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-nova-image-cache/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/tasks/cache.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/tasks/main.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/tasks/uncache.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/vars/main.yml
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Revert "Revert "tripleo-keystone-resources: reduce permissions for clouds.yaml""
  tripleo_ansible/roles/tripleo-keystone-resources/defaults/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Add job sorting logic to the role-addition playbook
  role-addition.yml
  zuul.d/molecule.yaml
Due: tripleo-ansible-centos-7-role-addition

Jinja test "failed" is no longer supported as filter in ansible > 2.9.0
  tripleo_ansible/roles/octavia-undercloud/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone

Add recursive get key from dict
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-keystone-resources: handle multiple roles per user
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/main.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/user_roles.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/user_to_project_per_role.yml
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-scenario004-standalone

Add tripleo-hosts-entries role
  doc/source/roles/role-tripleo-hosts-entries.rst
  tripleo_ansible/roles/tripleo-hosts-entries/defaults/main.yml
  tripleo_ansible/roles/tripleo-hosts-entries/files/.gitkeep
  tripleo_ansible/roles/tripleo-hosts-entries/handlers/main.yml
  tripleo_ansible/roles/tripleo-hosts-entries/meta/main.yml
  tripleo_ansible/roles/tripleo-hosts-entries/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-hosts-entries/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-hosts-entries/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-hosts-entries/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-hosts-entries/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo-hosts-entries/tasks/main.yml
  tripleo_ansible/roles/tripleo-hosts-entries/vars/main.yml
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Fix network hostnames in tripleo-hosts-entries
  tripleo_ansible/roles/tripleo-hosts-entries/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo-hosts-entries/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Remove old Heat hosts entries in tripleo-hosts-entries
  tripleo_ansible/roles/tripleo-hosts-entries/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-hosts-entries/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Handle null enabled_networks and role_networks
  tripleo_ansible/roles/tripleo-ssh-known-hosts/tasks/main.yml
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts

fix a typo in netport.yml
  tripleo_ansible/roles/octavia-controller-config/tasks/netport.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone

Allow to run tripleo-container-manage in check mode
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Improve idempotency for podman container module
  tripleo_ansible/ansible_plugins/modules/podman_container.py
  tripleo_ansible/ansible_plugins/tests/molecule/podman_container/playbook.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Data structure changes for tripleo-keystone-resources role
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo-keystone-resources/defaults/main.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/domains.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/endpoints.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/gather_domains_new.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/gather_domains_old.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/loop-endpoints.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/main.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/user_per_role.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/users.yml
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: fix config_data in Config/Labels
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: search container configs recursively
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Initial documentation for tripleo-keystone-resources role
  doc/source/roles/role-tripleo-keystone-resources.rst
Due: none

Initial documentation for tripleo-container-manage role
  doc/source/roles/role-tripleo-container-manage.rst
Due: none

tripleo-container-manage: allow to override a container config
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo-container-manage/defaults/main.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-scenario004-standalone

Improve idempotency of podman_container
  tripleo_ansible/ansible_plugins/modules/podman_container.py
  tripleo_ansible/ansible_plugins/tests/molecule/podman_container/playbook.yml
Due: tripleo-ci-centos-7-scenario004-standalone

paunch: only read container config JSON which starts by "hashed-"
  tripleo_ansible/ansible_plugins/modules/paunch.py
Due: tripleo-ci-centos-7-scenario004-standalone

Include stdout and stderr in return of podman_container
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-scenario004-standalone

Use module command to run podman
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: show podman commands that are executed
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/exec.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Remove extra backslash in awk for tripleo-ceph-uuid role
  tripleo_ansible/roles/tripleo-ceph-uuid/tasks/prepare.yml
Due: tripleo-ci-centos-7-scenario004-standalone

paunch: allow to override any container config
  tripleo_ansible/ansible_plugins/modules/paunch.py
Due: tripleo-ci-centos-7-scenario004-standalone

Remove dracut-config-generic package
  tripleo_ansible/roles/tripleo-kernel/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-kernel

Remove --rm=true from sidecar container sync
  tripleo_ansible/roles/tripleo-systemd-wrapper/templates/service_sync.j2
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-image: add |list to containers_commands
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/exec.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Allow comments in variable files to be rendered in docs
  doc/source/_exts/ansible-autodoc.py
Due: none

Revert "tripleo-container-image: add |list to containers_commands"
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/exec.yml
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: fix check mode
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/exec.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Quote PermitRootLogin string for the search.
  tripleo_ansible/roles/tripleo-sshd/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Fix substitution in kill-script
  tripleo_ansible/roles/tripleo-systemd-wrapper/templates/service_kill.j2
Due: tripleo-ci-centos-7-scenario004-standalone

Add handling of signal 15 in kill script
  tripleo_ansible/roles/tripleo-systemd-wrapper/templates/service_kill.j2
Due: tripleo-ci-centos-7-scenario004-standalone

Normalize role names when generating roles
  role-addition.yml
Due: tripleo-ansible-centos-7-role-addition

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  tripleo-ci-centos-7-scenario004-standalone: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario010-standalone: (any of: ^tripleo_ansible/.*octavia.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario003-standalone: (any of: ^tripleo_ansible/roles/tripleo-create-admin/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario012-standalone: (any of: ^tripleo_ansible/roles/tripleo-module-load/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-7-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-7-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-7-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-7-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-7-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-7-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-7-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-7-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-7-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-7-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-7-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-7-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-7-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
