Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-aide, tripleo-ansible-centos-8-molecule-tripleo_auditd, tripleo-ansible-centos-8-molecule-backup-and-restore, tripleo-ansible-centos-8-molecule-test_deps, tripleo-ansible-centos-8-molecule-test_json_error_callback, tripleo-ansible-centos-8-molecule-test_package_action, tripleo-ansible-centos-8-molecule-tripleo-bootstrap, tripleo-ansible-centos-8-molecule-tuned, tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-create-admin, tripleo-ansible-centos-8-molecule-tripleo-module-load, tripleo-ansible-centos-8-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-8-molecule-tripleo-container-tag, tripleo-ansible-centos-8-molecule-tripleo-container-rm, tripleo-ansible-centos-8-molecule-tripleo-image-serve, tripleo-ansible-centos-8-molecule-tripleo-transfer, tripleo-ansible-centos-8-molecule-tripleo-podman, tripleo-ansible-centos-8-molecule-tripleo-persist, tripleo-ansible-centos-8-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-8-molecule-login-defs, tripleo-ansible-centos-8-molecule-tripleo-ptp, tripleo-ansible-centos-8-molecule-tripleo-timezone, tripleo-ansible-centos-8-molecule-tripleo-config, tripleo-ansible-centos-8-molecule-tripleo-container-image-build, tripleo-ansible-centos-8-molecule-tripleo-container-stop, tripleo-ansible-centos-8-molecule-tripleo-hieradata, tripleo-ansible-centos-8-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-8-molecule-tripleo_lvmfilter, tripleo-ansible-centos-8-molecule-tripleo_multipathd, tripleo-ansible-centos-8-molecule-tripleo-network-config, tripleo-ansible-centos-8-molecule-tripleo-kernel, tripleo-ansible-centos-8-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-8-molecule-tripleo-firewall, tripleo-ansible-centos-8-molecule-tripleo-securetty, tripleo-ansible-centos-8-molecule-tripleo-cellv2, tripleo-ansible-centos-8-molecule-tripleo-clients-install, tripleo-ansible-centos-8-molecule-tripleo-redhat-enforce, tripleo-ansible-centos-8-molecule-tripleo-sshd, tripleo-ansible-centos-8-molecule-tripleo-hosts-entries, tripleo-ansible-centos-8-molecule-tripleo-container-manage, tripleo-ansible-centos-8-molecule-tripleo-modules, tripleo-ansible-centos-8-molecule-tripleo-keystone-resources, tripleo-ansible-centos-8-molecule-tripleo-systemd-wrapper, tripleo-ansible-centos-8-molecule-tripleo_nvdimm, tripleo-ansible-centos-8-molecule-tripleo_ha_wrapper, tripleo-ansible-centos-8-molecule-tripleo_nodes_validation, tripleo-ansible-centos-8-molecule-tripleo_ovn_cluster

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt, ^tripleo_ansible/ansible_plugins/.*
  promote-openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt, ^tripleo_ansible/ansible_plugins/.*
  tripleo-ansible-centos-8-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-8-molecule-tripleo_auditd: any of: ^tripleo_ansible/roles/tripleo_auditd/(?!meta).*
  tripleo-ansible-centos-8-molecule-backup-and-restore: any of: ^tripleo_ansible/roles/backup-and-restore/.*
  tripleo-ansible-centos-8-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-8-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-8-molecule-test_package_action: any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*
  tripleo-ansible-centos-8-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-8-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  tripleo-ansible-centos-8-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-8-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-8-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-8-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-8-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-8-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-8-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-8-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-8-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-8-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-8-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-8-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-8-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-image-build: any of: ^tripleo_ansible/roles/tripleo-container-image-build/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-8-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-8-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-8-molecule-tripleo_lvmfilter: any of: ^tripleo_ansible/roles/tripleo_lvmfilter/.*
  tripleo-ansible-centos-8-molecule-tripleo_multipathd: any of: ^tripleo_ansible/roles/tripleo_multipathd/.*
  tripleo-ansible-centos-8-molecule-tripleo-network-config: any of: ^tripleo_ansible/roles/tripleo-network-config/.*
  tripleo-ansible-centos-8-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-8-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-8-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-8-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
  tripleo-ansible-centos-8-molecule-tripleo-clients-install: any of: ^tripleo_ansible/roles/tripleo-clients-install/.*
  tripleo-ansible-centos-8-molecule-tripleo-redhat-enforce: any of: ^tripleo_ansible/roles/tripleo-redhat-enforce/.*
  tripleo-ansible-centos-8-molecule-tripleo-sshd: any of: ^tripleo_ansible/roles/tripleo-sshd/.*
  tripleo-ansible-centos-8-molecule-tripleo-hosts-entries: any of: ^tripleo_ansible/roles/tripleo-hosts-entries/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-manage: any of: ^zuul.d/playbooks/pre.yml, ^tripleo_ansible/roles/tripleo-container-manage/.*, ^tripleo_ansible/roles/tripleo-container-rm/.*, ^tripleo_ansible/ansible_plugins/action/container_status.py$, ^tripleo_ansible/ansible_plugins/action/container_systemd.py$, ^tripleo_ansible/ansible_plugins/filter/helpers.py$, ^tripleo_ansible/ansible_plugins/modules/container_config_data.py$, ^tripleo_ansible/ansible_plugins/modules/container_puppet_config.py$, ^tripleo_ansible/ansible_plugins/modules/container_startup_config.py$, ^tripleo_ansible/ansible_plugins/modules/podman_container.py$, ^tripleo_ansible/ansible_plugins/modules/podman_container_info.py$
  tripleo-ansible-centos-8-molecule-tripleo-modules: any of: ^tripleo_ansible/ansible_plugins/.*$, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-8-molecule-tripleo-keystone-resources: any of: ^tripleo_ansible/roles/tripleo-keystone-resources/.*
  tripleo-ansible-centos-8-molecule-tripleo-systemd-wrapper: any of: ^tripleo_ansible/roles/tripleo-systemd-wrapper/.*
  tripleo-ansible-centos-8-molecule-tripleo_nvdimm: any of: ^tripleo_ansible/roles/tripleo_nvdimm/.*
  tripleo-ansible-centos-8-molecule-tripleo_ha_wrapper: any of: ^tripleo_ansible/roles/tripleo_ha_wrapper/.*
  tripleo-ansible-centos-8-molecule-tripleo_nodes_validation: any of: ^tripleo_ansible/roles/tripleo_nodes_validation/.*
  tripleo-ansible-centos-8-molecule-tripleo_ovn_cluster: any of: ^tripleo_ansible/roles/tripleo_ovn_cluster/.*

tripleo_auditd: Clear unused default of tripleo_auditd_rules
  tripleo_ansible/roles/tripleo_auditd/defaults/main.yml
Due: tripleo-ansible-centos-8-molecule-tripleo_auditd

Ensure crudini is installed
  tripleo_ansible/roles/tripleo_bootstrap/vars/fedora-28.yml
  tripleo_ansible/roles/tripleo_bootstrap/vars/redhat-8.yml
  tripleo_ansible/roles/tripleo_bootstrap/vars/redhat-9.yml
  tripleo_ansible/roles/tripleo_bootstrap/vars/redhat.yml
Due: none

tripleo-keystone-resources: reduce permissions for clouds.yaml
  tripleo_ansible/roles/tripleo-keystone-resources/defaults/main.yml
Due: tripleo-ansible-centos-8-molecule-tripleo-keystone-resources

Allow role re-tagging of ports
  tripleo_ansible/ansible_plugins/modules/tripleo_overcloud_network_ports.py
  tripleo_ansible/ansible_plugins/modules/tripleo_ovn_mac_addresses.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Unbound: remove incorrect config of forwarding
  tripleo_ansible/roles/tripleo_unbound/tasks/main.yml
  tripleo_ansible/roles/tripleo_unbound/templates/tripleo-forwarder-unbound.conf.j2
Due: none

Pytest to run all molecule scenarios of roles
  tests/test_molecule.py
  tripleo_ansible/roles/tripleo_kernel/molecule/default/molecule.yml
Due: none

Ensure we flush the firewall at the end
  tripleo_ansible/roles/tripleo_nftables/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/default/molecule.yml
Due: none

Remove unneeded parameter tripleo_frr_ovn_bgp_agent_bridge_mappings
  tripleo_ansible/roles/tripleo_frr/defaults/main.yml
  tripleo_ansible/roles/tripleo_frr/tasks/ovn_bgp_agent.yml
Due: none

Ensure we properly set the right IP version
  tripleo_ansible/roles/tripleo_nftables/templates/destination.j2
  tripleo_ansible/roles/tripleo_nftables/templates/source.j2
Due: none

Control molecule tags with test molecule script
  tests/test_molecule.py
Due: none

molecule: podman overlay mounts for dnf in config
  .config/molecule/config_podman.yml
Due: none

Support role specific ContainerImagePrepare
  tripleo_ansible/ansible_plugins/modules/tripleo_container_image_prepare.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Remove unnecessary designate worker conditional
  tripleo_ansible/roles/designate_rndc_config/templates/rndc.conf.j2
Due: none

Downgrade containers-common to 1-40
  zuul.d/playbooks/directories.yml
Due: none

typo in tripleo_nova_migration_target
  tripleo_ansible/roles/tripleo_nova_migration_target/tasks/configure.yaml
Due: none

TripleO os_net_config playbooks should allow re-run
  tripleo_ansible/ansible_plugins/modules/tripleo_os_net_config.py
  tripleo_ansible/ansible_plugins/modules/tripleo_os_net_config_mappings.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Fix wrong separator(,) used to list multiple dependent services
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-service.j2
Due: tripleo-ansible-centos-8-molecule-tripleo-container-manage

Ensure package is installed before downgrading
  zuul.d/playbooks/directories.yml
Due: none

Rename tripleo_ovn role playbook to follow naming policy
  tripleo_ansible/roles/tripleo_ovn/tasks/install.yml
  tripleo_ansible/roles/tripleo_ovn/tasks/main.yml
Due: none

Run molecule tests locally without zuul
  .config/molecule/config_podman.yml
  ansible-test-env-podman.rc
  doc/source/contributing_roles.rst
  tripleo_ansible/roles/test_deps/tasks/main.yml
Due: tripleo-ansible-centos-7-molecule-test_deps, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-test_deps

Improve and correct nftables role
  tripleo_ansible/roles/tripleo_nftables/molecule/action/converge.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/action/molecule.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/action/prepare.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/destination/converge.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/destination/molecule.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/destination/prepare.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/source/converge.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/source/molecule.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/source/prepare.yml
  tripleo_ansible/roles/tripleo_nftables/tasks/cleanup.yaml
  tripleo_ansible/roles/tripleo_nftables/templates/jump.j2
  tripleo_ansible/roles/tripleo_nftables/templates/source.j2
Due: none

We need to downgrade in the pre.yml as well
  zuul.d/playbooks/pre.yml
Due: tripleo-ansible-centos-8-molecule-tripleo-container-manage

Add openssh test_deps as container manager needs it
  tripleo_ansible/roles/test_deps/vars/centos-9.yml
  tripleo_ansible/roles/test_deps/vars/redhat-9.yml
Due: tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-8-molecule-test_deps

[RFE] Add a new Snapshot And Revert feature to Backup and Restore
  tripleo_ansible/playbooks/cli-overcloud-snapshot.yaml
  tripleo_ansible/roles/snapshot_and_revert/defaults/main.yml
  tripleo_ansible/roles/snapshot_and_revert/meta/main.yml
  tripleo_ansible/roles/snapshot_and_revert/molecule/default/converge.yml
  tripleo_ansible/roles/snapshot_and_revert/molecule/default/molecule.yml
  tripleo_ansible/roles/snapshot_and_revert/tasks/main.yml
  zuul.d/molecule.yaml
Due: none

New tripleo_ironic role
  doc/source/roles/role-tripleo_ironic.rst
  tripleo_ansible/roles/tripleo_httpd_vhost/defaults/main.yml
  tripleo_ansible/roles/tripleo_httpd_vhost/templates/vhost.conf.j2
  tripleo_ansible/roles/tripleo_ironic/defaults/main.yml
  tripleo_ansible/roles/tripleo_ironic/meta/main.yml
  tripleo_ansible/roles/tripleo_ironic/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_ironic/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_ironic/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_ironic/tasks/api_httpd.yaml
  tripleo_ansible/roles/tripleo_ironic/tasks/ipxe_httpd.yaml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Use context manager to open/close file
  tripleo_ansible/ansible_plugins/modules/container_config_data.py
  tripleo_ansible/ansible_plugins/modules/container_puppet_config.py
  tripleo_ansible/ansible_plugins/modules/tripleo_os_net_config.py
  tripleo_ansible/ansible_plugins/modules/tripleo_os_net_config_mappings.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-container-manage, tripleo-ansible-centos-8-molecule-tripleo-modules

num_dpdk_interface_rx_queues support net conf schema
  releasenotes/notes/net-conf-schema-num_dpdk_interface_rx_queues-4a37e4fc3957ed9a.yaml
  tripleo_ansible/ansible_plugins/module_utils/baremetal_deploy.py
  tripleo_ansible/ansible_plugins/modules/tripleo_generate_inventory_network_config.py
  tripleo_ansible/tests/modules/test_tripleo_generate_inventory_network_config.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Remove wrong equal sign
  tripleo_ansible/roles/tripleo-container-image-build/templates/Containerfile.j2
Due: tripleo-ansible-centos-8-molecule-tripleo-container-image-build

Ensure the openvswitch service is enabled and deps are installed
  tripleo_ansible/roles/tripleo_bootstrap/tasks/bootstrap.yml
  tripleo_ansible/roles/tripleo_bootstrap/vars/fedora-28.yml
  tripleo_ansible/roles/tripleo_bootstrap/vars/redhat-8.yml
  tripleo_ansible/roles/tripleo_bootstrap/vars/redhat-9.yml
  tripleo_ansible/roles/tripleo_bootstrap/vars/redhat.yml
Due: none

Do not execute anything if a host is unreachable
  tripleo_ansible/playbooks/cli-overcloud-backup-cron.yaml
  tripleo_ansible/playbooks/cli-overcloud-backup.yaml
  tripleo_ansible/playbooks/prepare-overcloud-backup.yaml
  tripleo_ansible/roles/backup_and_restore/tasks/main.yml
Due: none

iPXE service port can be changed by operator
  tripleo_ansible/roles/tripleo_ironic/tasks/ipxe_httpd.yaml
Due: none

Support auto-revert of all the snapshots
  tripleo_ansible/playbooks/cli-overcloud-snapshot.yaml
  tripleo_ansible/roles/snapshot_and_revert/tasks/main.yml
Due: none

Ensure /var/lib/kolla/config_files exists
  tripleo_ansible/roles/tripleo_container_standalone/tasks/main.yml
Due: none

Include libvirt role when using lookup file plugin
  tripleo_ansible/roles/tripleo_nova_libvirt/tasks/run.yml
Due: none

Fix typo when nova pool is built and wrong flag during cli creation
  tripleo_ansible/roles/tripleo_cephadm/tasks/post.yaml
  tripleo_ansible/roles/tripleo_run_cephadm/tasks/build_pools.yml
Due: none

Add a new option for the vhost
  tripleo_ansible/roles/tripleo_httpd_vhost/defaults/main.yml
  tripleo_ansible/roles/tripleo_httpd_vhost/molecule/locations/converge.yml
  tripleo_ansible/roles/tripleo_httpd_vhost/molecule/locations/molecule.yml
  tripleo_ansible/roles/tripleo_httpd_vhost/molecule/locations/prepare.yml
  tripleo_ansible/roles/tripleo_httpd_vhost/templates/locations.inc.j2
  tripleo_ansible/roles/tripleo_httpd_vhost/templates/vhost.conf.j2
Due: none
