Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-standalone-upgrade, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-persist, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-7-molecule-login-defs, tripleo-ansible-centos-7-molecule-tripleo-ptp, tripleo-ansible-centos-7-molecule-tripleo-timezone, tripleo-ansible-centos-7-molecule-tripleo-config, tripleo-ansible-centos-7-molecule-tripleo-container-stop, tripleo-ansible-centos-7-molecule-tripleo-hieradata, tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-7-molecule-tripleo-kernel, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-7-molecule-tripleo-firewall, tripleo-ansible-centos-7-molecule-tripleo-securetty, tripleo-ansible-centos-7-molecule-tripleo-cellv2, tripleo-ansible-centos-7-molecule-tripleo-clients-install, tripleo-ansible-centos-7-molecule-tripleo-validations-package, tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk, tripleo-ansible-centos-7-molecule-tripleo-sshd, tripleo-ansible-centos-7-molecule-backup-and-restore, tripleo-ansible-centos-7-molecule-tripleo-packages, tripleo-ansible-centos-7-molecule-tripleo-hosts-entries, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules, tripleo-ansible-centos-7-molecule-tripleo-keystone-resources, tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper

tripleo-ansible-docs:
  parent: openstack-tox-docs

tripleo-ansible-centos-7-molecule-aide:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-aide

tripleo-ansible-centos-7-molecule-test_deps:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_deps

tripleo-ansible-centos-7-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_json_error_callback

tripleo-ansible-centos-7-molecule-test_package_action:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_package_action

tripleo-ansible-centos-7-molecule-tuned:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-tuned

tripleo-ansible-centos-7-molecule-tripleo-bootstrap:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-bootstrap

tripleo-ansible-centos-7-role-addition:
  nodeset: centos-7
  parent: tox-molecule
  timeout: 1800
  vars:
    tox_envlist: role-addition

tripleo-ansible-centos-7-molecule-tripleo-create-admin:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-create-admin

tripleo-ansible-centos-7-molecule-tripleo-module-load:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-module-load

tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-ssh-known-hosts

tripleo-ansible-centos-7-molecule-tripleo-container-tag:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-tag

tripleo-ansible-centos-7-molecule-tripleo-container-rm:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-rm

tripleo-ansible-centos-7-molecule-tripleo-image-serve:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-image-serve

tripleo-ansible-centos-7-molecule-tripleo-transfer:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-transfer

tripleo-ansible-centos-7-molecule-tripleo-podman:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-podman

tripleo-ansible-centos-7-molecule-tripleo-persist:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-persist

tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_job_ansible_args: -v --skip-tags=run_uuid_ansible,run_ceph_ansible
    tripleo_role_name: tripleo-ceph-run-ansible

tripleo-ansible-centos-7-molecule-login-defs:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: login-defs

tripleo-ansible-centos-7-molecule-tripleo-ptp:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-ptp

tripleo-ansible-centos-7-molecule-tripleo-timezone:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-timezone

tripleo-ansible-centos-7-molecule-tripleo-sshd:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-sshd

Tune-up package install
  tripleo_ansible/roles/tripleo_clients_install/tasks/install_pkgs.yml
  tripleo_ansible/roles/tripleo_clients_install/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode

Fixed the condition for gather_domains
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ansible-centos-7-molecule-tripleo-keystone-resources

Fix octavia services restart
  tripleo_ansible/roles/octavia-controller-post-config/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-scenario010-standalone

Only add host entries for role_networks
  tripleo_ansible/roles/tripleo_hosts_entries/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_hosts_entries/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode

Fix logic to stop overrwriting upgrade hieradata
  tripleo_ansible/roles/tripleo_upgrade_hiera/tasks/create-tripleo-upgrade-file.yml
Due: tripleo-ci-centos-7-containers-multinode

Creates container_config_data module
  tripleo_ansible/ansible_plugins/modules/container_config_data.py
  tripleo_ansible/roles/tripleo_container_manage/tasks/main.yml
  tripleo_ansible/tests/modules/test_container_config_data.py
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ansible-centos-7-molecule-tripleo-modules

update tripleo-ansible ci for centos-8
  zuul.d/layout.yaml
Due: none

Fix typo in logs
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/create.yml
Due: tripleo-ci-centos-7-containers-multinode

Creates container_config_data module
  tripleo_ansible/ansible_plugins/modules/container_config_data.py
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
  tripleo_ansible/tests/modules/test_container_config_data.py
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-standalone-upgrade, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules

Tune-up package install
  tripleo_ansible/roles/tripleo-clients-install/tasks/install_pkgs.yml
  tripleo_ansible/roles/tripleo-clients-install/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ansible-centos-7-molecule-tripleo-clients-install

CI: mount /lib/modules
  tripleo_ansible/roles/tripleo_ovs_dpdk/molecule/default/molecule.yml
Due: none

Add a new set of tasks to build the openstack pool and key list
  tripleo_ansible/roles/tripleo_ceph_common/defaults/main.yml
  tripleo_ansible/roles/tripleo_ceph_work_dir/tasks/build_keys.yml
  tripleo_ansible/roles/tripleo_ceph_work_dir/tasks/build_pools.yml
  tripleo_ansible/roles/tripleo_ceph_work_dir/tasks/prepare.yml
Due: tripleo-ci-centos-7-containers-multinode

Revert "Modify the introspection playbook to simplify client interactions"
  tripleo_ansible/playbooks/cli-baremetal-introspect.yaml
Due: none

Ensure the os-cloud flag is used for CLI commands
  tripleo_ansible/playbooks/cli-baremetal-clean.yaml
  tripleo_ansible/playbooks/cli-baremetal-introspect.yaml
  tripleo_ansible/playbooks/cli-overcloud-delete.yaml
  tripleo_ansible/playbooks/cli-overcloud-node-import.yaml
  tripleo_ansible/playbooks/cli-overcloud-node-provide.yaml
Due: tripleo-ci-centos-7-containers-multinode

Roll role-addition jobs to python3 (centos-8)
  tox.ini
  zuul.d/molecule.yaml
Due: tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-modules

Remove all the extra folders in the backup and restore role
  tripleo_ansible/roles/backup_and_restore/setup_nfs/tasks/main.yml
  tripleo_ansible/roles/backup_and_restore/setup_rear/tasks/main.yml
  tripleo_ansible/roles/backup_and_restore/tasks/db_backup.yml
  tripleo_ansible/roles/backup_and_restore/tasks/main.yml
  tripleo_ansible/roles/backup_and_restore/tasks/run_backup.yml
  tripleo_ansible/roles/backup_and_restore/tasks/service_manager_pause.yml
  tripleo_ansible/roles/backup_and_restore/tasks/service_manager_unpause.yml
  tripleo_ansible/roles/backup_and_restore/tasks/setup_nfs.yml
  tripleo_ansible/roles/backup_and_restore/tasks/setup_rear.yml
Due: tripleo-ci-centos-7-containers-multinode

Forces root for get_ssh_private_key
  tripleo_ansible/roles/tripleo_ceph_work_dir/tasks/get_ssh_private_key.yml
Due: tripleo-ci-centos-7-containers-multinode

module tripleo_baremetal_expand_roles
  ansible-requirements.txt
  doc/source/conf.py
  doc/source/modules/modules-tripleo_baremetal_expand_roles.rst
  molecule-requirements.txt
  tripleo_ansible/ansible_plugins/module_utils/baremetal_deploy.py
  tripleo_ansible/ansible_plugins/modules/tripleo_baremetal_expand_roles.py
  tripleo_ansible/tests/base.py
  tripleo_ansible/tests/plugins/module_utils/__init__.py
  tripleo_ansible/tests/plugins/module_utils/test_baremetal_deploy.py
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, promote-openstack-tox-docs, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-modules

module tripleo_baremetal_check_existing
  doc/source/modules/modules-tripleo_baremetal_check_existing.rst
  tripleo_ansible/ansible_plugins/module_utils/baremetal_deploy.py
  tripleo_ansible/ansible_plugins/modules/tripleo_baremetal_check_existing.py
  tripleo_ansible/tests/plugins/module_utils/test_baremetal_deploy.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules

module tripleo_baremetal_populate_environment
  doc/source/modules/modules-tripleo_baremetal_populate_environment.rst
  tripleo_ansible/ansible_plugins/module_utils/baremetal_deploy.py
  tripleo_ansible/ansible_plugins/modules/tripleo_baremetal_populate_environment.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules

module metalsmith_instances
  doc/source/modules/modules-metalsmith_instances.rst
  tripleo_ansible/ansible_plugins/modules/metalsmith_instances.py
  tripleo_ansible/tests/modules/test_metalsmith_instances.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules

Playbooks for overcloud node (un)provision
  tripleo_ansible/playbooks/cli-overcloud-node-provision.yaml
  tripleo_ansible/playbooks/cli-overcloud-node-unprovision.yaml
Due: tripleo-ci-centos-7-containers-multinode

Auto-detect default overcloud-full image
  tripleo_ansible/playbooks/cli-overcloud-node-provision.yaml
Due: tripleo-ci-centos-7-containers-multinode

Remove all ignore_errors to avoid confusion when debugging
  tripleo_ansible/roles/octavia_controller_post_config/tasks/main.yml
  tripleo_ansible/roles/octavia_undercloud/tasks/image_mgmt.yml
  tripleo_ansible/roles/octavia_undercloud/tasks/main.yml
  tripleo_ansible/roles/tripleo_cellv2/tasks/check_cell_exist.yml
  tripleo_ansible/roles/tripleo_ceph_common/tasks/main.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo_packages/handlers/main.yml
  tripleo_ansible/roles/tripleo_packages/tasks/upgrade.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_install.yml
  tripleo_ansible/roles/tripleo_puppet_cache/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-scenario010-standalone

Make run-local.yml use ansible_connection local, not ssh
  zuul.d/playbooks/run-local.yml
Due: none

trivial: add reference to molecule-requirements.txt
  doc/source/contributing.rst
Due: openstack-tox-docs, promote-openstack-tox-docs

update more jobs to centos-8
  zuul.d/layout.yaml
Due: none

Add grafana vip on the storage network
  tripleo_ansible/roles/tripleo-hieradata/templates/vip_data.j2
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ansible-centos-7-molecule-tripleo-hieradata

Remove all ignore_errors to avoid confusion when debugging
  tripleo_ansible/roles/octavia-controller-post-config/tasks/main.yml
  tripleo_ansible/roles/octavia-undercloud/tasks/image_mgmt.yml
  tripleo_ansible/roles/octavia-undercloud/tasks/main.yml
  tripleo_ansible/roles/tripleo-cellv2/tasks/check_cell_exist.yml
  tripleo_ansible/roles/tripleo-ceph-common/tasks/main.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo-packages/handlers/main.yml
  tripleo_ansible/roles/tripleo-packages/tasks/upgrade.yml
  tripleo_ansible/roles/tripleo-podman/tasks/tripleo_podman_install.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-cellv2, tripleo-ansible-centos-7-molecule-tripleo-packages, tripleo-ansible-centos-7-molecule-tripleo-container-manage

Use only ansible for fernet key rotation
  doc/source/modules/modules-tripleo_fernet_keys_rotate.rst
  tripleo_ansible/ansible_plugins/modules/tripleo_fernet_keys_rotate.py
  tripleo_ansible/playbooks/rotate-fernet-keys.yaml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules

Use ansible for password rotation
  doc/source/modules/modules-tripleo_passwords_rotate.rst
  tripleo_ansible/ansible_plugins/modules/tripleo_passwords_rotate.py
  tripleo_ansible/playbooks/rotate-passwords.yaml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules

Forces root for get_ssh_private_key
  tripleo_ansible/roles/tripleo-ceph-work-dir/tasks/get_ssh_private_key.yml
Due: tripleo-ci-centos-7-containers-multinode

add scenario010 to trigger on octavia
  zuul.d/layout.yaml
Due: none

Use become when gathering hiera metadata
  tripleo_ansible/roles/tripleo_ceph_work_dir/tasks/prepare.yml
Due: tripleo-ci-centos-7-containers-multinode

Remove duplicate mock requirement from test-reqs
  test-requirements.txt
Due: none

Migrate molecule jobs from centos 7 to 8
  tools/test-setup.sh
  tripleo_ansible/roles/backup_and_restore/tasks/db_backup.yml
  tripleo_ansible/roles/backup_and_restore/tasks/service_manager_pause.yml
  tripleo_ansible/roles/backup_and_restore/tasks/setup_rear.yml
  tripleo_ansible/roles/tripleo_ceph_work_dir/tasks/prepare.yml
  zuul.d/base.yaml
  zuul.d/molecule.yaml
  zuul.d/playbooks/pre.yml
Due: tripleo-ci-centos-7-containers-multinode

remove bad octavia path
  zuul.d/layout.yaml
Due: none

Fail when there are no nodes to introspect
  tripleo_ansible/playbooks/cli-baremetal-introspect.yaml
Due: none

Fix os_baremetal_node_info module documentation
  tripleo_ansible/ansible_plugins/modules/os_baremetal_node_info.py
Due: tripleo-ansible-centos-7-molecule-tripleo-modules

Allow overriding keystone username by parameter
  tripleo_ansible/roles/tripleo_keystone_resources/tasks/users.yml
Due: tripleo-ci-centos-7-containers-multinode

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  openstack-tox-docs: any of: ^doc/.*, ^README.rst
  tripleo-ci-centos-7-containers-multinode: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-scenario001-standalone: (any of: ^tripleo_ansible/roles/tripleo-hieradata/.*, ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*, ^setup.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-scenario002-standalone: (any of: ^tripleo_ansible/roles/tripleo-hieradata/.*, ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-scenario003-standalone: (any of: ^tripleo_ansible/roles/tripleo-create-admin/.*, ^tripleo_ansible/roles/tripleo-hieradata/.*, ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-scenario010-standalone: (any of: ^tripleo_ansible/.*octavia.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-standalone-upgrade: (any of: ^tripleo_ansible/roles/tripleo-hieradata/.*, ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*, ^tripleo_ansible/roles/tripleo-container-manage/.*, ^tripleo_ansible/roles/tripleo-container-rm/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  promote-openstack-tox-docs: any of: ^doc/.*, ^README.rst
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-7-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-7-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-7-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-7-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-7-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-7-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-7-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-7-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-7-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-7-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-7-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-7-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-7-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
  tripleo-ansible-centos-7-molecule-tripleo-clients-install: any of: ^tripleo_ansible/roles/tripleo-clients-install/.*
  tripleo-ansible-centos-7-molecule-tripleo-validations-package: any of: ^tripleo_ansible/roles/tripleo-validations-package/.*
  tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk: any of: ^tripleo_ansible/roles/tripleo-ovs-dpdk/.*
  tripleo-ansible-centos-7-molecule-tripleo-sshd: any of: ^tripleo_ansible/roles/tripleo-sshd/.*
  tripleo-ansible-centos-7-molecule-backup-and-restore: any of: ^tripleo_ansible/roles/backup-and-restore/.*
  tripleo-ansible-centos-7-molecule-tripleo-packages: any of: ^tripleo_ansible/roles/tripleo-packages/.*
  tripleo-ansible-centos-7-molecule-tripleo-hosts-entries: any of: ^tripleo_ansible/roles/tripleo-hosts-entries/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-manage: any of: ^tripleo_ansible/roles/tripleo-container-manage/.*
  tripleo-ansible-centos-7-molecule-tripleo-modules: any of: ^tripleo_ansible/ansible_plugins/.*$, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-keystone-resources: any of: ^tripleo_ansible/roles/tripleo-keystone-resources/.*
  tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper: any of: ^tripleo_ansible/roles/tripleo-systemd-wrapper/.*
