Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario012-standalone, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-persist, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-7-molecule-login-defs, tripleo-ansible-centos-7-molecule-tripleo-ptp, tripleo-ansible-centos-7-molecule-tripleo-timezone, tripleo-ansible-centos-7-molecule-tripleo-config, tripleo-ansible-centos-7-molecule-tripleo-container-stop, tripleo-ansible-centos-7-molecule-tripleo-hieradata, tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-7-molecule-tripleo-kernel, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-7-molecule-tripleo-firewall, tripleo-ansible-centos-7-molecule-tripleo-securetty, tripleo-ansible-centos-7-molecule-tripleo-cellv2

tripleo-ansible-docs:
  parent: openstack-tox-docs

tripleo-ansible-centos-7-molecule-aide:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-aide

tripleo-ansible-centos-7-molecule-test_deps:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_deps

tripleo-ansible-centos-7-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_json_error_callback

tripleo-ansible-centos-7-molecule-test_package_action:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_package_action

tripleo-ansible-centos-7-molecule-tuned:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-tuned

tripleo-ansible-centos-7-molecule-tripleo-bootstrap:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-bootstrap

tripleo-ansible-centos-7-role-addition:
  nodeset: centos-7
  parent: tox-molecule
  timeout: 1800
  vars:
    tox_envlist: role-addition

tripleo-ansible-centos-7-molecule-tripleo-create-admin:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-create-admin

tripleo-ansible-centos-7-molecule-tripleo-module-load:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-module-load

tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-ssh-known-hosts

tripleo-ansible-centos-7-molecule-tripleo-container-tag:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-tag

tripleo-ansible-centos-7-molecule-tripleo-container-rm:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-rm

tripleo-ansible-centos-7-molecule-tripleo-image-serve:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-image-serve

tripleo-ansible-centos-7-molecule-tripleo-transfer:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-transfer

tripleo-ansible-centos-7-molecule-tripleo-podman:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-podman

tripleo-ansible-centos-7-molecule-tripleo-persist:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-persist

tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_job_ansible_args: -v --skip-tags=run_uuid_ansible,run_ceph_ansible
    tripleo_role_name: tripleo-ceph-run-ansible

tripleo-ansible-centos-7-molecule-login-defs:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: login-defs

tripleo-ansible-centos-7-molecule-tripleo-ptp:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-ptp

tripleo-ansible-centos-7-molecule-tripleo-timezone:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-timezone

Introduce unit tests structure for tripleo-ansible filters
  .gitignore
  .stestr.conf
  ansible-requirements.txt
  test-requirements.txt
  tox.ini
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/tests/__init__.py
  tripleo_ansible/tests/base.py
  tripleo_ansible/tests/plugins/__init__.py
  tripleo_ansible/tests/plugins/filter/__init__.py
  tripleo_ansible/tests/plugins/filter/test_helpers.py
  zuul.d/layout.yaml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-role-addition

Baremetal Introspection Playbook
  tripleo_ansible/ansible_plugins/modules/os_tripleo_baremetal_node_introspection.py
  tripleo_ansible/playbooks/cli-baremetal-introspect.yaml
Due: none

Delete Octavia configuration leftovers
  tripleo_ansible/roles/octavia-controller-post-config/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone

Ensure plugin path is correct
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/positive/molecule.yml
  tripleo_ansible/roles/tripleo-packages/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-packages/molecule/external_upgrade/molecule.yml
  tripleo_ansible/roles/tripleo-packages/molecule/update/molecule.yml
  tripleo_ansible/roles/tripleo-packages/molecule/upgrade/molecule.yml
  tripleo_ansible/roles/tripleo-packages/molecule/upgrade/prepare.yml
Due: none

Handle range in the cpu_mask conversion for DPDK cores
  tripleo_ansible/ansible_plugins/filter/cpu_mask.py
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/default/tests/test_default.py
Due: tripleo-ci-centos-7-scenario004-standalone

Optionally add ctlplane vips
  tripleo_ansible/roles/tripleo-hieradata/templates/net_ip_map.j2
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-hieradata

Improve idempotency for podman containers module
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-scenario004-standalone

Fix case in filters when Labels is None
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-hieradata: re-enable "service_names"
  tripleo_ansible/roles/tripleo-hieradata/molecule/hieradata_vars/molecule.yml
  tripleo_ansible/roles/tripleo-hieradata/molecule/hieradata_vars/playbook.yml
  tripleo_ansible/roles/tripleo-hieradata/molecule/hieradata_vars/tests/test_hieradata_vars.py
  tripleo_ansible/roles/tripleo-hieradata/templates/service_names.j2
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-hieradata

Networks may be none
  tripleo_ansible/roles/tripleo-hieradata/templates/fqdn.j2
  tripleo_ansible/roles/tripleo-hieradata/templates/net_ip_map.j2
  tripleo_ansible/roles/tripleo-ssh-known-hosts/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-hieradata

tripleo-config: use become by default
  tripleo_ansible/roles/tripleo-config/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-config

Don't include tuned tasks when checkmode
  tripleo_ansible/roles/tuned/tasks/main.yml
Due: tripleo-ansible-centos-7-molecule-tuned, tripleo-ci-centos-7-scenario004-standalone

Move localhost_address to net_ip_map hieradata
  tripleo_ansible/roles/tripleo-hieradata/templates/all_nodes.j2
  tripleo_ansible/roles/tripleo-hieradata/templates/net_ip_map.j2
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-hieradata

Copy all_nodes.json instead of rendering template
  tripleo_ansible/roles/tripleo-hieradata/molecule/hieradata_vars/group_vars/overcloud.json
  tripleo_ansible/roles/tripleo-hieradata/tasks/hieradata_vars.yaml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-hieradata

include the openstacksdk so that openstack modules work within molecule
  molecule-requirements.txt
Due: none

Use openstacksdk in test-deps
  tripleo_ansible/roles/test_deps/vars/centos-7.yml
  tripleo_ansible/roles/test_deps/vars/fedora.yml
  tripleo_ansible/roles/test_deps/vars/redhat-8.yml
Due: tripleo-ansible-centos-7-molecule-test_deps, tripleo-ci-centos-7-scenario004-standalone

tripleo-config: add tripleo_config_remote_src option
  tripleo_ansible/roles/tripleo-config/defaults/main.yml
  tripleo_ansible/roles/tripleo-config/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-config

Fix zuul facts for run-local-test
  zuul.d/playbooks/run-local.yml
Due: none

Fix pip install for run-local-test
  scripts/run-local-test
Due: none

Bump molecule to 3.0a4
  molecule-requirements.txt
Due: none

tripleo-container-manage: include more arguments for container exec
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/exec.yml
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-scenario004-standalone

Fix typo that prevents to run tests locally
  scripts/run-local-test
Due: none

Introduce tripleo-keystone-resources role
  doc/source/roles/role-tripleo-keystone-resources.rst
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo-keystone-resources/defaults/main.yml
  tripleo_ansible/roles/tripleo-keystone-resources/meta/main.yml
  tripleo_ansible/roles/tripleo-keystone-resources/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-keystone-resources/molecule/default/Dockerfile.keystone
  tripleo_ansible/roles/tripleo-keystone-resources/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-keystone-resources/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-keystone-resources/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-keystone-resources/molecule/default/start_keystone.sh
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/admin.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/clouds.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/domains.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/endpoints.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/loop-endpoints.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/main.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/projects.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/roles.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/services.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/user_roles.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/user_to_project_per_role.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/users.yml
  tripleo_ansible/tests/plugins/filter/test_helpers.py
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Create Validations logging directory
  tripleo_ansible/roles/tripleo-validations-package/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Update override for keystone resources
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/clouds.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Update firewall role to use an action plugin
  tripleo_ansible/ansible_plugins/action/tripleo_iptables.py
  tripleo_ansible/roles/tripleo-firewall/molecule/firewall-add-complex/playbook.yml
  tripleo_ansible/roles/tripleo-firewall/molecule/firewall-remove-complex/playbook.yml
  tripleo_ansible/roles/tripleo-firewall/tasks/main.yml
  tripleo_ansible/roles/tripleo-firewall/tasks/tripleo_firewall_add.yml
  tripleo_ansible/roles/tripleo-firewall/tasks/tripleo_firewall_state.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-firewall

tripleo-keystone-resources: reduce permissions for clouds.yaml
  tripleo_ansible/roles/tripleo-keystone-resources/defaults/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Add SyslogIdenfier to healthcheck systemd unit
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-healthcheck.j2
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-keystone-resources: fix a typo for domains creation
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/domains.yml
Due: tripleo-ci-centos-7-scenario004-standalone

zuul: all functional jobs now depend on linter job first
  zuul.d/layout.yaml
Due: none

Update firewall role handlers
  tripleo_ansible/roles/tripleo-firewall/handlers/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-firewall

Update regex for presistent save roles
  tripleo_ansible/roles/tripleo-firewall/handlers/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-firewall

Change drop action
  tripleo_ansible/ansible_plugins/action/tripleo_iptables.py
Due: tripleo-ci-centos-7-scenario004-standalone

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  tripleo-ci-centos-7-scenario004-standalone: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario010-standalone: (any of: ^tripleo_ansible/.*octavia.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario003-standalone: (any of: ^tripleo_ansible/roles/tripleo-create-admin/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario012-standalone: (any of: ^tripleo_ansible/roles/tripleo-module-load/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-7-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-7-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-7-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-7-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-7-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-7-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-7-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-7-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-7-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-7-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-7-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-7-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-7-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
