Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario012-standalone, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-persist, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-7-molecule-login-defs, tripleo-ansible-centos-7-molecule-tripleo-ptp, tripleo-ansible-centos-7-molecule-tripleo-timezone, tripleo-ansible-centos-7-molecule-tripleo-config, tripleo-ansible-centos-7-molecule-tripleo-container-stop, tripleo-ansible-centos-7-molecule-tripleo-hieradata, tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-7-molecule-tripleo-kernel, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-7-molecule-tripleo-firewall, tripleo-ansible-centos-7-molecule-tripleo-securetty, tripleo-ansible-centos-7-molecule-tripleo-cellv2

tripleo-ansible-docs:
  parent: openstack-tox-docs

tripleo-ansible-centos-7-molecule-aide:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-aide

tripleo-ansible-centos-7-molecule-test_deps:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_deps

tripleo-ansible-centos-7-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_json_error_callback

tripleo-ansible-centos-7-molecule-test_package_action:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_package_action

tripleo-ansible-centos-7-molecule-tuned:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-tuned

tripleo-ansible-centos-7-molecule-tripleo-bootstrap:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-bootstrap

tripleo-ansible-centos-7-role-addition:
  nodeset: centos-7
  parent: tox-molecule
  timeout: 1800
  vars:
    tox_envlist: role-addition

tripleo-ansible-centos-7-molecule-tripleo-create-admin:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-create-admin

tripleo-ansible-centos-7-molecule-tripleo-module-load:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-module-load

tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-ssh-known-hosts

tripleo-ansible-centos-7-molecule-tripleo-container-tag:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-tag

tripleo-ansible-centos-7-molecule-tripleo-container-rm:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-rm

tripleo-ansible-centos-7-molecule-tripleo-image-serve:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-image-serve

tripleo-ansible-centos-7-molecule-tripleo-transfer:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-transfer

tripleo-ansible-centos-7-molecule-tripleo-podman:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-podman

tripleo-ansible-centos-7-molecule-tripleo-persist:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-persist

tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_job_ansible_args: -v --skip-tags=run_uuid_ansible,run_ceph_ansible
    tripleo_role_name: tripleo-ceph-run-ansible

tripleo-ansible-centos-7-molecule-login-defs:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: login-defs

tripleo-ansible-centos-7-molecule-tripleo-ptp:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-ptp

tripleo-ansible-centos-7-molecule-tripleo-timezone:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-timezone

Revert "tripleo-container-manage: add task to start systemd healthcheck service"
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/systemd.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Implement tripleo-systemd-wrapper role
  doc/source/roles/role-tripleo-systemd-wrapper.rst
  tripleo_ansible/roles/tripleo-systemd-wrapper/defaults/main.yml
  tripleo_ansible/roles/tripleo-systemd-wrapper/meta/main.yml
  tripleo_ansible/roles/tripleo-systemd-wrapper/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-systemd-wrapper/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-systemd-wrapper/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-systemd-wrapper/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-systemd-wrapper/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo-systemd-wrapper/tasks/main.yml
  tripleo_ansible/roles/tripleo-systemd-wrapper/templates/service.path.j2
  tripleo_ansible/roles/tripleo-systemd-wrapper/templates/service.service.j2
  tripleo_ansible/roles/tripleo-systemd-wrapper/templates/service_command.j2
  tripleo_ansible/roles/tripleo-systemd-wrapper/templates/service_kill.j2
  tripleo_ansible/roles/tripleo-systemd-wrapper/templates/service_sync.j2
  tripleo_ansible/roles/tripleo-systemd-wrapper/templates/service_wrapper.j2
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Prefer ovn_dbs_vip from all_nodes_extra_map_data
  tripleo_ansible/roles/tripleo-hieradata/templates/all_nodes.j2
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-hieradata

tripleo-container-manage: port paunch-services
  tripleo_ansible/roles/tripleo-container-manage/defaults/main.yml
  tripleo_ansible/roles/tripleo-container-manage/files/91-netns-placeholder-preset
  tripleo_ansible/roles/tripleo-container-manage/files/91-tripleo-container-shutdown-preset
  tripleo_ansible/roles/tripleo-container-manage/files/netns-placeholder-service
  tripleo_ansible/roles/tripleo-container-manage/files/tripleo-container-shutdown
  tripleo_ansible/roles/tripleo-container-manage/files/tripleo-container-shutdown-service
  tripleo_ansible/roles/tripleo-container-manage/files/tripleo-start-podman-container
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/shutdown.yml
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-healthcheck.j2
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-service.j2
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: fix duplicated loop vars
  tripleo_ansible/roles/tripleo-container-manage/tasks/container_running.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/exec.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/systemd.yml
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-healthcheck.j2
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-service.j2
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-timer.j2
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: skip some tasks in check mode
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/exec.yml
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: add no_log to podman create
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Check that facter.conf is a file
  tripleo_ansible/roles/tripleo-puppet-cache/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Don't fail hard when facter cache doesn't work correctly
  tripleo_ansible/roles/tripleo-puppet-cache/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: restart systemd service if container changed
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/systemd.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Fix case where there're no effective caps
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: some improvements
  tripleo_ansible/roles/tripleo-container-manage/tasks/container_running.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/exec.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/systemd.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/shutdown.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Improve molecule tests for tripleo-container-manage (systemd)
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/prepare.yml
Due: none

Fix ssh_known_hosts hostname entries
  releasenotes/notes/fix_ssh-known-hosts-22738bc60fdc2f62.yaml
  tripleo_ansible/roles/tripleo-ssh-known-hosts/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts

fix typo
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/prepare.yml
Due: none

update bindep, remove older fedora support
  bindep.txt
Due: none

Add os_baremetal_node_info module for retrieving nodes info
  tripleo_ansible/ansible_plugins/modules/os_baremetal_node_info.py
Due: none

Adding setup_rear and setup_nfs task
  tripleo_ansible/roles/backup-and-restore/tasks/setup_nfs.yml
  tripleo_ansible/roles/backup-and-restore/tasks/setup_rear.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Rename undercloud-backup playbook
  tripleo_ansible/playbooks/cli-undercloud-backup.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

OpenStack Node Provide playbook
  tripleo_ansible/playbooks/cli-overcloud-node-provide.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Add idempotency for networks parameter in podman_container
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-scenario004-standalone

Rename overcloud-delete playbook
  tripleo_ansible/playbooks/cli-overcloud-delete.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Make sure we add all_nodes_extra_map_data to all_nodes
  tripleo_ansible/roles/tripleo-hieradata/templates/all_nodes.j2
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-hieradata

tripleo-container-manage: create ansible-managed dropin file
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: remove no_log for create/exec tasks
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/exec.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Add LVM2 package install to bootstrap
  tripleo_ansible/roles/tripleo-bootstrap/vars/redhat-8.yml
  tripleo_ansible/roles/tripleo-bootstrap/vars/redhat.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-bootstrap

use version parsing from distutils
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-scenario004-standalone

Remove extra backslash in awk for tripleo-ceph-uuid role
  tripleo_ansible/roles/tripleo-ceph-uuid/tasks/prepare.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Handle range in the cpu_mask conversion for DPDK cores
  tripleo_ansible/ansible_plugins/filter/cpu_mask.py
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/default/tests/test_default.py
Due: tripleo-ci-centos-7-scenario004-standalone

Cast single value list as a string for config id
  tripleo_ansible/ansible_plugins/modules/paunch.py
Due: tripleo-ci-centos-7-scenario004-standalone

Make sure role_networks is used from current processed node
  tripleo_ansible/roles/tripleo-ssh-known-hosts/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts

Add missing ExecReload in container service unit file
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-service.j2
Due: tripleo-ci-centos-7-scenario004-standalone

Delete Octavia configuration leftovers
  tripleo_ansible/roles/octavia-controller-post-config/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone

Fix for Ansible playbook error, variable is undefined
  tripleo_ansible/roles/tripleo-hieradata/templates/fqdn.j2
  tripleo_ansible/roles/tripleo-hieradata/templates/net_ip_map.j2
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-hieradata

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  tripleo-ci-centos-7-scenario004-standalone: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario010-standalone: (any of: ^tripleo_ansible/.*octavia.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario003-standalone: (any of: ^tripleo_ansible/roles/tripleo-create-admin/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario012-standalone: (any of: ^tripleo_ansible/roles/tripleo-module-load/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-7-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-7-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-7-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-7-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-7-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-7-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-7-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-7-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-7-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-7-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-7-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-7-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-7-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
