Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-scenario003-standalone, tripleo-ci-centos-8-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-standalone-upgrade, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-persist, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-7-molecule-login-defs, tripleo-ansible-centos-7-molecule-tripleo-ptp, tripleo-ansible-centos-7-molecule-tripleo-timezone, tripleo-ansible-centos-7-molecule-tripleo-config, tripleo-ansible-centos-7-molecule-tripleo-container-stop, tripleo-ansible-centos-7-molecule-tripleo-hieradata, tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-7-molecule-tripleo-kernel, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-7-molecule-tripleo-firewall, tripleo-ansible-centos-7-molecule-tripleo-securetty, tripleo-ansible-centos-7-molecule-tripleo-cellv2, tripleo-ansible-centos-7-molecule-tripleo-clients-install, tripleo-ansible-centos-7-molecule-tripleo-validations-package, tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk, tripleo-ansible-centos-7-molecule-tripleo-sshd, tripleo-ansible-centos-7-molecule-backup-and-restore, tripleo-ansible-centos-7-molecule-tripleo-packages, tripleo-ansible-centos-7-molecule-tripleo-hosts-entries, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules, tripleo-ansible-centos-7-molecule-tripleo-keystone-resources, tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt
  tripleo-ci-centos-7-containers-multinode: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-standalone: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-containers-undercloud-minion: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-undercloud-containers: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario001-standalone: (any of: ^tripleo_ansible/roles/tripleo_ceph_.*/.*, ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*, ^setup.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario002-standalone: (any of: ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario003-standalone: (any of: ^tripleo_ansible/roles/tripleo_create_admin/.*, ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario004-standalone: (any of: ^tripleo_ansible/roles/tripleo_ceph_.*/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-scenario010-standalone: (any of: ^tripleo_ansible/.*octavia.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-standalone-upgrade: (any of: ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*, ^tripleo_ansible/roles/tripleo_container_manage/.*, ^tripleo_ansible/roles/tripleo_container_rm/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  promote-openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-7-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-7-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-7-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-7-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-7-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-7-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-7-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-7-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-7-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-7-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-7-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-7-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-7-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
  tripleo-ansible-centos-7-molecule-tripleo-clients-install: any of: ^tripleo_ansible/roles/tripleo-clients-install/.*
  tripleo-ansible-centos-7-molecule-tripleo-validations-package: any of: ^tripleo_ansible/roles/tripleo-validations-package/.*
  tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk: any of: ^tripleo_ansible/roles/tripleo-ovs-dpdk/.*
  tripleo-ansible-centos-7-molecule-tripleo-sshd: any of: ^tripleo_ansible/roles/tripleo-sshd/.*
  tripleo-ansible-centos-7-molecule-backup-and-restore: any of: ^tripleo_ansible/roles/backup-and-restore/.*
  tripleo-ansible-centos-7-molecule-tripleo-packages: any of: ^tripleo_ansible/roles/tripleo-packages/.*
  tripleo-ansible-centos-7-molecule-tripleo-hosts-entries: any of: ^tripleo_ansible/roles/tripleo-hosts-entries/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-manage: any of: ^tripleo_ansible/roles/tripleo-container-manage/.*
  tripleo-ansible-centos-7-molecule-tripleo-modules: any of: ^tripleo_ansible/ansible_plugins/.*$, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-keystone-resources: any of: ^tripleo_ansible/roles/tripleo-keystone-resources/.*
  tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper: any of: ^tripleo_ansible/roles/tripleo-systemd-wrapper/.*

Fix tripleo_hierdata permissions
  tripleo_ansible/roles/tripleo-hieradata/tasks/ansible_hieradata.yml
  tripleo_ansible/roles/tripleo-hieradata/tasks/hieradata_vars.yaml
  tripleo_ansible/roles/tripleo-hieradata/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-hieradata

Login with buildah too to allow registry access with buildah
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_login.yml
  tripleo_ansible/roles/tripleo_podman/vars/redhat.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Molecule testing for TripleO Strategy Plugins
  ansible-test-env.rc
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/ansible-test-env.rc
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/inventory-fail
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/inventory-success
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/molecule.yml
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/playbook.yml
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/tripleo-free.yml
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/tripleo-linear.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Use registry:2.7.0 instead of registry:2
  tripleo_ansible/roles/tripleo_podman/molecule/login/prepare.yml
Due: none

Use registry:2.7.0 instead of registry:2
  tripleo_ansible/roles/tripleo-podman/molecule/login/prepare.yml
Due: tripleo-ansible-centos-7-molecule-tripleo-podman

Set short ANSIBLE_SSH_CONTROL_PATH_DIR for all ceph roles
  tripleo_ansible/roles/tripleo_ceph_run_ansible/tasks/create_ceph_ansible_remote_tmp.yml
  tripleo_ansible/roles/tripleo_ceph_run_ansible/tasks/main.yml
  tripleo_ansible/roles/tripleo_ceph_uuid/tasks/gather.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario004-standalone

Login with buildah too to allow registry access with buildah
  tripleo_ansible/roles/tripleo-podman/tasks/tripleo_podman_login.yml
  tripleo_ansible/roles/tripleo-podman/vars/redhat.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-podman

Introduce an Action Plugin to fetch container infos
  tripleo_ansible/ansible_plugins/action/container_status.py
  tripleo_ansible/roles/tripleo_container_manage/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/check_exit_code.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/get_commands_create.yml
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade, tripleo-ansible-centos-7-molecule-tripleo-modules

Introduce an Action Plugin to manage systemd services for containers
  tripleo_ansible/ansible_plugins/action/container_systemd.py
  tripleo_ansible/roles/tripleo_container_manage/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/create.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/cleanup_healthcheck.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/stat_healthcheck.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/systemd.yml
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade, tripleo-ansible-centos-7-molecule-tripleo-modules

Fix introspection restart with unlocking node
  tripleo_ansible/ansible_plugins/modules/os_tripleo_baremetal_node_introspection.py
Due: tripleo-ansible-centos-7-molecule-tripleo-modules

Update podman_container with better idempotency
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Revert "Make the metalsmith module interactions more resilient"
  tripleo_ansible/playbooks/cli-overcloud-node-provision.yaml
  tripleo_ansible/playbooks/cli-overcloud-node-unprovision.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

tripleo_states: add missing space
  tripleo_ansible/ansible_plugins/callback/tripleo_states.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

container_systemd: improve logging
  tripleo_ansible/ansible_plugins/action/container_systemd.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

tripleo_container_manage: only run exec/create playbooks when needed
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/manage.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade

container_status: "exec" checks status
  tripleo_ansible/ansible_plugins/action/container_status.py
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/exec.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/get_commands_exec.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/manage.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade, tripleo-ansible-centos-7-molecule-tripleo-modules

Add default value in CinderRbdExtraPools task condition
  tripleo_ansible/roles/tripleo_ceph_work_dir/tasks/build_pools.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario004-standalone

container_startup_config: remove old startup config files
  tripleo_ansible/ansible_plugins/modules/container_startup_config.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

tripleo_container_manage: only run exec/create playbooks when needed
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/manage.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage

Add a new callback: tripleo_states
  tripleo_ansible/ansible_plugins/callback/tripleo_states.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Fix Octavia amphora log offloading template path
  tripleo_ansible/roles/octavia-controller-post-config/templates/10-octavia.conf.j2
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-scenario010-standalone

container_status: "exec" checks status
  tripleo_ansible/ansible_plugins/action/container_status.py
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/exec.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/get_commands_exec.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade, tripleo-ansible-centos-7-molecule-tripleo-modules

[train-only] change parent for tripleo-ansible-centos-7-role-addition
  zuul.d/molecule.yaml
Due: none

[train-only] add tenacity as a molecule requirements
  molecule-requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-modules

Introduce an Action Plugin to fetch container infos
  tripleo_ansible/ansible_plugins/action/container_status.py
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/check_exit_code.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/get_commands_create.yml
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules

container_status: "exec" checks status
  tripleo_ansible/ansible_plugins/action/container_status.py
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/exec.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/get_commands_exec.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/manage.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules

Make buildah login optional
  tripleo_ansible/roles/tripleo_podman/defaults/main.yml
  tripleo_ansible/roles/tripleo_podman/molecule/login/converge.yml
  tripleo_ansible/roles/tripleo_podman/tasks/main.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_buildah_login.yml
  tripleo_ansible/roles/tripleo_podman/vars/redhat.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Add role for Container file(s) generation
  doc/source/roles/role-tripleo-container-image-build.rst
  tripleo_ansible/playbooks/cli-generate-containerfile.yaml
  tripleo_ansible/roles/tripleo-container-image-build/defaults/main.yml
  tripleo_ansible/roles/tripleo-container-image-build/meta/main.yml
  tripleo_ansible/roles/tripleo-container-image-build/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-container-image-build/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-container-image-build/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-container-image-build/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-container-image-build/tasks/main.yml
  tripleo_ansible/roles/tripleo-container-image-build/templates/Containerfile.j2
  tripleo_ansible/roles/tripleo-container-image-build/templates/buildahfile.sh.j2
  zuul.d/molecule.yaml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs

Add debug output when rendering container files
  tripleo_ansible/roles/tripleo-container-image-build/defaults/main.yml
  tripleo_ansible/roles/tripleo-container-image-build/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Capture metalsmith python logging
  tripleo_ansible/ansible_plugins/modules/metalsmith_instances.py
  tripleo_ansible/playbooks/cli-overcloud-node-provision.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules
