Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-scenario003-standalone, tripleo-ci-centos-8-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-standalone-upgrade, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-persist, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-7-molecule-login-defs, tripleo-ansible-centos-7-molecule-tripleo-ptp, tripleo-ansible-centos-7-molecule-tripleo-timezone, tripleo-ansible-centos-7-molecule-tripleo-config, tripleo-ansible-centos-7-molecule-tripleo-container-stop, tripleo-ansible-centos-7-molecule-tripleo-hieradata, tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-7-molecule-tripleo-kernel, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-7-molecule-tripleo-firewall, tripleo-ansible-centos-7-molecule-tripleo-securetty, tripleo-ansible-centos-7-molecule-tripleo-cellv2, tripleo-ansible-centos-7-molecule-tripleo-clients-install, tripleo-ansible-centos-7-molecule-tripleo-validations-package, tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk, tripleo-ansible-centos-7-molecule-tripleo-sshd, tripleo-ansible-centos-7-molecule-backup-and-restore, tripleo-ansible-centos-7-molecule-tripleo-packages, tripleo-ansible-centos-7-molecule-tripleo-hosts-entries, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules, tripleo-ansible-centos-7-molecule-tripleo-keystone-resources, tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper

tripleo-ansible-docs:
  parent: openstack-tox-docs

tripleo-ansible-centos-7-molecule-aide:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-aide

tripleo-ansible-centos-7-molecule-test_deps:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_deps

tripleo-ansible-centos-7-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_json_error_callback

tripleo-ansible-centos-7-molecule-test_package_action:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_package_action

tripleo-ansible-centos-7-molecule-tuned:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-tuned

tripleo-ci-centos-7-containers-multinode:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-containers-undercloud-minion:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-undercloud-containers:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario001-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario002-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario003-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario004-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-scenario010-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-standalone-upgrade:
  dependencies:
  - openstack-tox-linters

tripleo-ansible-centos-7-molecule-tripleo-bootstrap:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-bootstrap

tripleo-ansible-centos-7-role-addition:
  nodeset: centos-7
  parent: tox-molecule
  timeout: 1800
  vars:
    tox_envlist: role-addition

tripleo-ansible-centos-7-molecule-tripleo-create-admin:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-create-admin

tripleo-ansible-centos-7-molecule-tripleo-module-load:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-module-load

tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-ssh-known-hosts

tripleo-ansible-centos-7-molecule-tripleo-container-tag:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-tag

tripleo-ansible-centos-7-molecule-tripleo-container-rm:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-rm

tripleo-ansible-centos-7-molecule-tripleo-image-serve:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-image-serve

tripleo-ansible-centos-7-molecule-tripleo-transfer:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-transfer

tripleo-ansible-centos-7-molecule-tripleo-podman:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-podman

tripleo_container_manage: improve logging for failed containers
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules

Add baremetal node providing module
  tripleo_ansible/ansible_plugins/modules/os_baremetal_provide_node.py
  tripleo_ansible/playbooks/cli-overcloud-node-provide.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Force container deletion if namespace does not exist in service_kill
  tripleo_ansible/roles/tripleo_systemd_wrapper/templates/service_kill.j2
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

BaR Always do MySQL dumps even the services wont be stopped
  tripleo_ansible/roles/backup_and_restore/molecule/default/prepare.yml
  tripleo_ansible/roles/backup_and_restore/tasks/db_backup.yml
  tripleo_ansible/roles/backup_and_restore/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Fix condition tuned profile.
  tripleo_ansible/roles/tuned/tasks/tuned_config.yml
Due: tripleo-ansible-centos-7-molecule-tuned, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Make the metalsmith module interactions more resilient
  tripleo_ansible/playbooks/cli-overcloud-node-provision.yaml
  tripleo_ansible/playbooks/cli-overcloud-node-unprovision.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Make ceph-ansible run handle missing "{{ playbook_dir }}/ssh_key"
  tripleo_ansible/roles/tripleo_ceph_uuid/tasks/gather.yml
  tripleo_ansible/roles/tripleo_ceph_work_dir/tasks/get_ssh_private_key.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario004-standalone

BaR: Pacemaker config backup
  tripleo_ansible/roles/backup_and_restore/tasks/main.yml
  tripleo_ansible/roles/backup_and_restore/tasks/pacemaker_backup.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Do not race with locks for the sync/wrapper script
  tripleo_ansible/roles/tripleo_systemd_wrapper/templates/service_sync.j2
  tripleo_ansible/roles/tripleo_systemd_wrapper/templates/service_wrapper.j2
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Fix population of username, public keys
  tripleo_ansible/ansible_plugins/module_utils/baremetal_deploy.py
  tripleo_ansible/playbooks/cli-overcloud-node-unprovision.yaml
  tripleo_ansible/tests/plugins/module_utils/test_baremetal_deploy.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Rework how we push the content in the file
  tripleo_ansible/roles/tripleo_hosts_entries/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Force container deletion if namespace does not exist in service_kill
  tripleo_ansible/roles/tripleo-systemd-wrapper/templates/service_kill.j2
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper

Remove async from introspection
  tripleo_ansible/playbooks/cli-baremetal-introspect.yaml
Due: none

Fix get_failed_containers() to correctly fetch container_data
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/create.yml
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade, tripleo-ansible-centos-7-molecule-tripleo-modules

Do not duplicate config volumes for puppet manager
  tripleo_ansible/ansible_plugins/modules/container_puppet_config.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Fix get_failed_containers() to correctly fetch container_data
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules

Don't rotate passwords when updating plan
  tripleo_ansible/ansible_plugins/modules/tripleo_passwords_rotate.py
  tripleo_ansible/playbooks/cli-update-deployment-plan.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Wait for ironic-neutron-agent bridge_mappings before provide
  tripleo_ansible/ansible_plugins/modules/os_baremetal_provide_node.py
  tripleo_ansible/playbooks/cli-overcloud-node-provide.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Add dynamic concurrency values
  tripleo_ansible/playbooks/cli-baremetal-bios-apply.yaml
  tripleo_ansible/playbooks/cli-baremetal-bios-reset.yaml
  tripleo_ansible/playbooks/cli-baremetal-clean.yaml
  tripleo_ansible/playbooks/cli-baremetal-introspect.yaml
  tripleo_ansible/playbooks/cli-baremetal-raid.yaml
  tripleo_ansible/playbooks/cli-overcloud-node-provision.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Rework how we push the content in the file
  tripleo_ansible/roles/tripleo-hosts-entries/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-hosts-entries

Do not race with locks for the sync/wrapper script
  tripleo_ansible/roles/tripleo-systemd-wrapper/templates/service_sync.j2
  tripleo_ansible/roles/tripleo-systemd-wrapper/templates/service_wrapper.j2
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper

Remove mistral dependency from password rotate module
  tripleo_ansible/ansible_plugins/modules/tripleo_passwords_rotate.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Reduce tasks for updating plan parameters
  tripleo_ansible/playbooks/cli-update-deployment-plan.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Hide passwords from ansible output
  tripleo_ansible/playbooks/cli-create-deployment-plan.yaml
  tripleo_ansible/playbooks/cli-update-deployment-plan.yaml
  tripleo_ansible/playbooks/rotate-fernet-keys.yaml
  tripleo_ansible/playbooks/rotate-passwords.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

BaR Always do MySQL dumps even the services wont be stopped
  tripleo_ansible/roles/backup-and-restore/backup/tasks/db_backup.yml
  tripleo_ansible/roles/backup-and-restore/molecule/default/prepare.yml
  tripleo_ansible/roles/backup-and-restore/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-backup-and-restore

Only do nova cell discovery when nova endpoint exists
  tripleo_ansible/playbooks/cli-overcloud-node-provide.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Reduce overhead of stack show loop
  tripleo_ansible/playbooks/cli-deploy-deployment-plan.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Using podman/docker ps to look for running sidecars
  tripleo_ansible/roles/tripleo_systemd_wrapper/templates/service_sync.j2
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Add basic parameter update playbook
  tripleo_ansible/playbooks/cli-update-params.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

remove centos-7-standalone-upgrade for master
  zuul.d/layout.yaml
Due: none

Add filters to help process inventory for tripleo-upgrade
  tripleo_ansible/ansible_plugins/filter/tripleo_inventory.py
  tripleo_ansible/tests/plugins/filter/test_tripleo_inventory.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

'tripleo_ovs_dpdk_lcore_list' should be optional
  doc/source/roles/role-tripleo-ovs-dpdk.rst
  tripleo_ansible/roles/tripleo_ovs_dpdk/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_ovs_dpdk/molecule/default/tests/test_default.py
  tripleo_ansible/roles/tripleo_ovs_dpdk/tasks/config.yml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs

Using podman/docker ps to look for running sidecars
  tripleo_ansible/roles/tripleo-systemd-wrapper/templates/service_sync.j2
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper

BaR: Pacemaker config backup
  tripleo_ansible/roles/backup-and-restore/tasks/main.yml
  tripleo_ansible/roles/backup-and-restore/tasks/pacemaker_backup.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-backup-and-restore

Add ceph config overrides support
  tripleo_ansible/roles/tripleo_ceph_common/defaults/main.yml
  tripleo_ansible/roles/tripleo_ceph_work_dir/tasks/build_config_overrides.yml
  tripleo_ansible/roles/tripleo_ceph_work_dir/tasks/prepare.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario004-standalone

'tripleo_ovs_dpdk_lcore_list' should be optional
  doc/source/roles/role-tripleo-ovs-dpdk.rst
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/default/tests/test_default.py
  tripleo_ansible/roles/tripleo-ovs-dpdk/tasks/config.yml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk

Add recursive get key from dict
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt
  tripleo-ci-centos-7-containers-multinode: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-standalone: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-containers-undercloud-minion: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-undercloud-containers: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario001-standalone: (any of: ^tripleo_ansible/roles/tripleo_ceph_.*/.*, ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*, ^setup.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario002-standalone: (any of: ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario003-standalone: (any of: ^tripleo_ansible/roles/tripleo_create_admin/.*, ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario004-standalone: (any of: ^tripleo_ansible/roles/tripleo_ceph_.*/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-scenario010-standalone: (any of: ^tripleo_ansible/.*octavia.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-standalone-upgrade: (any of: ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*, ^tripleo_ansible/roles/tripleo_container_manage/.*, ^tripleo_ansible/roles/tripleo_container_rm/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  promote-openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-7-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-7-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-7-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-7-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-7-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-7-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-7-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-7-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-7-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-7-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-7-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-7-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-7-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
  tripleo-ansible-centos-7-molecule-tripleo-clients-install: any of: ^tripleo_ansible/roles/tripleo-clients-install/.*
  tripleo-ansible-centos-7-molecule-tripleo-validations-package: any of: ^tripleo_ansible/roles/tripleo-validations-package/.*
  tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk: any of: ^tripleo_ansible/roles/tripleo-ovs-dpdk/.*
  tripleo-ansible-centos-7-molecule-tripleo-sshd: any of: ^tripleo_ansible/roles/tripleo-sshd/.*
  tripleo-ansible-centos-7-molecule-backup-and-restore: any of: ^tripleo_ansible/roles/backup-and-restore/.*
  tripleo-ansible-centos-7-molecule-tripleo-packages: any of: ^tripleo_ansible/roles/tripleo-packages/.*
  tripleo-ansible-centos-7-molecule-tripleo-hosts-entries: any of: ^tripleo_ansible/roles/tripleo-hosts-entries/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-manage: any of: ^tripleo_ansible/roles/tripleo-container-manage/.*
  tripleo-ansible-centos-7-molecule-tripleo-modules: any of: ^tripleo_ansible/ansible_plugins/.*$, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-keystone-resources: any of: ^tripleo_ansible/roles/tripleo-keystone-resources/.*
  tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper: any of: ^tripleo_ansible/roles/tripleo-systemd-wrapper/.*
