Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-aide, tripleo-ansible-centos-8-molecule-tripleo_auditd, tripleo-ansible-centos-8-molecule-backup-and-restore, tripleo-ansible-centos-8-molecule-test_deps, tripleo-ansible-centos-8-molecule-test_json_error_callback, tripleo-ansible-centos-8-molecule-test_package_action, tripleo-ansible-centos-8-molecule-tripleo-bootstrap, tripleo-ansible-centos-8-molecule-tuned, tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-create-admin, tripleo-ansible-centos-8-molecule-tripleo-module-load, tripleo-ansible-centos-8-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-8-molecule-tripleo-container-tag, tripleo-ansible-centos-8-molecule-tripleo-container-rm, tripleo-ansible-centos-8-molecule-tripleo-image-serve, tripleo-ansible-centos-8-molecule-tripleo-transfer, tripleo-ansible-centos-8-molecule-tripleo-podman, tripleo-ansible-centos-8-molecule-tripleo-persist, tripleo-ansible-centos-8-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-8-molecule-login-defs, tripleo-ansible-centos-8-molecule-tripleo-ptp, tripleo-ansible-centos-8-molecule-tripleo-timezone, tripleo-ansible-centos-8-molecule-tripleo-config, tripleo-ansible-centos-8-molecule-tripleo-container-image-build, tripleo-ansible-centos-8-molecule-tripleo-container-stop, tripleo-ansible-centos-8-molecule-tripleo-hieradata, tripleo-ansible-centos-8-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-8-molecule-tripleo_lvmfilter, tripleo-ansible-centos-8-molecule-tripleo_multipathd, tripleo-ansible-centos-8-molecule-tripleo-network-config, tripleo-ansible-centos-8-molecule-tripleo-kernel, tripleo-ansible-centos-8-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-8-molecule-tripleo-firewall, tripleo-ansible-centos-8-molecule-tripleo-securetty, tripleo-ansible-centos-8-molecule-tripleo-cellv2, tripleo-ansible-centos-8-molecule-tripleo-clients-install, tripleo-ansible-centos-8-molecule-tripleo-redhat-enforce, tripleo-ansible-centos-8-molecule-tripleo-sshd, tripleo-ansible-centos-8-molecule-tripleo-hosts-entries, tripleo-ansible-centos-8-molecule-tripleo-container-manage, tripleo-ansible-centos-8-molecule-tripleo-modules, tripleo-ansible-centos-8-molecule-tripleo-keystone-resources, tripleo-ansible-centos-8-molecule-tripleo-systemd-wrapper, tripleo-ansible-centos-8-molecule-tripleo_nvdimm, tripleo-ansible-centos-8-molecule-tripleo_ha_wrapper, tripleo-ansible-centos-8-molecule-tripleo_nodes_validation, tripleo-ansible-centos-8-molecule-tripleo_ovn_cluster

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt, ^tripleo_ansible/ansible_plugins/.*
  promote-openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt, ^tripleo_ansible/ansible_plugins/.*
  tripleo-ansible-centos-8-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-8-molecule-tripleo_auditd: any of: ^tripleo_ansible/roles/tripleo_auditd/(?!meta).*
  tripleo-ansible-centos-8-molecule-backup-and-restore: any of: ^tripleo_ansible/roles/backup-and-restore/.*
  tripleo-ansible-centos-8-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-8-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-8-molecule-test_package_action: any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*
  tripleo-ansible-centos-8-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-8-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  tripleo-ansible-centos-8-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-8-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-8-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-8-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-8-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-8-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-8-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-8-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-8-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-8-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-8-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-8-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-8-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-image-build: any of: ^tripleo_ansible/roles/tripleo-container-image-build/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-8-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-8-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-8-molecule-tripleo_lvmfilter: any of: ^tripleo_ansible/roles/tripleo_lvmfilter/.*
  tripleo-ansible-centos-8-molecule-tripleo_multipathd: any of: ^tripleo_ansible/roles/tripleo_multipathd/.*
  tripleo-ansible-centos-8-molecule-tripleo-network-config: any of: ^tripleo_ansible/roles/tripleo-network-config/.*
  tripleo-ansible-centos-8-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-8-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-8-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-8-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
  tripleo-ansible-centos-8-molecule-tripleo-clients-install: any of: ^tripleo_ansible/roles/tripleo-clients-install/.*
  tripleo-ansible-centos-8-molecule-tripleo-redhat-enforce: any of: ^tripleo_ansible/roles/tripleo-redhat-enforce/.*
  tripleo-ansible-centos-8-molecule-tripleo-sshd: any of: ^tripleo_ansible/roles/tripleo-sshd/.*
  tripleo-ansible-centos-8-molecule-tripleo-hosts-entries: any of: ^tripleo_ansible/roles/tripleo-hosts-entries/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-manage: any of: ^zuul.d/playbooks/pre.yml, ^tripleo_ansible/roles/tripleo-container-manage/.*, ^tripleo_ansible/roles/tripleo-container-rm/.*, ^tripleo_ansible/ansible_plugins/action/container_status.py$, ^tripleo_ansible/ansible_plugins/action/container_systemd.py$, ^tripleo_ansible/ansible_plugins/filter/helpers.py$, ^tripleo_ansible/ansible_plugins/modules/container_config_data.py$, ^tripleo_ansible/ansible_plugins/modules/container_puppet_config.py$, ^tripleo_ansible/ansible_plugins/modules/container_startup_config.py$, ^tripleo_ansible/ansible_plugins/modules/podman_container.py$, ^tripleo_ansible/ansible_plugins/modules/podman_container_info.py$
  tripleo-ansible-centos-8-molecule-tripleo-modules: any of: ^tripleo_ansible/ansible_plugins/.*$, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-8-molecule-tripleo-keystone-resources: any of: ^tripleo_ansible/roles/tripleo-keystone-resources/.*
  tripleo-ansible-centos-8-molecule-tripleo-systemd-wrapper: any of: ^tripleo_ansible/roles/tripleo-systemd-wrapper/.*
  tripleo-ansible-centos-8-molecule-tripleo_nvdimm: any of: ^tripleo_ansible/roles/tripleo_nvdimm/.*
  tripleo-ansible-centos-8-molecule-tripleo_ha_wrapper: any of: ^tripleo_ansible/roles/tripleo_ha_wrapper/.*
  tripleo-ansible-centos-8-molecule-tripleo_nodes_validation: any of: ^tripleo_ansible/roles/tripleo_nodes_validation/.*
  tripleo-ansible-centos-8-molecule-tripleo_ovn_cluster: any of: ^tripleo_ansible/roles/tripleo_ovn_cluster/.*

Ensure $tuned_params is restored after grub2-mkconfig
  tripleo_ansible/roles/tripleo_kernel/tasks/kernelargs.yml
Due: none

Hide output which can contain password strings
  tripleo_ansible/roles/tripleo_keystone_resources/tasks/users.yml
Due: none

Format output of init bundle puppet
  tripleo_ansible/roles/tripleo_ha_wrapper/tasks/main.yml
Due: tripleo-ansible-centos-8-molecule-tripleo_ha_wrapper

Move inventory filters to tripleo-upgrade
  tripleo_ansible/ansible_plugins/filter/tripleo_inventory.py
  tripleo_ansible/tests/plugins/filter/test_tripleo_inventory.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Increase ansible-galaxy install timeout to 300s
  tox.ini
  zuul.d/playbooks/pre.yml
Due: tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-container-manage, tripleo-ansible-centos-8-molecule-tripleo-modules

Drop ansible-core pin from requirements
  ansible-requirements.txt
  doc/requirements.txt
  molecule-requirements.txt
  tox.ini
  zuul.d/playbooks/pre.yml
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-container-manage, tripleo-ansible-centos-8-molecule-tripleo-modules

Use uc for tox py* targets
  tox.ini
Due: tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-modules

Fix molecule failures in tripleo_collectd
  tripleo_ansible/roles/tripleo_collectd/molecule/amqp_connection/verify.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/amqp_connection_default_interval/converge.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/amqp_connection_default_interval/molecule.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/amqp_connection_default_interval/verify.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/amqp_default_interval/converge.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/collectd_connection/molecule.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_libpodstats/converge.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_libpodstats/molecule.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_libpodstats/verify.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_sensubility/molecule.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_sensubility_libpodstats_sqlalchemy/converge.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_sensubility_libpodstats_sqlalchemy/molecule.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_sensubility_libpodstats_sqlalchemy/verify.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_sqlalchemy/converge.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_sqlalchemy/molecule.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_sqlalchemy/requirements.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_sqlalchemy/verify.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_stf/molecule.yml
  zuul.d/molecule.yaml
Due: none

Add support for new ovn-bgp-agent config flag
  tripleo_ansible/roles/tripleo_frr/defaults/main.yml
  tripleo_ansible/roles/tripleo_frr/templates/ovn-bgp-agent.conf.j2
Due: none

Fix ovs check pkg_has_restart error.
  tripleo_ansible/ansible_plugins/modules/tripleo_ovs_upgrade.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Handle child groups when building ceph spec from inventory
  tripleo_ansible/ansible_plugins/modules/ceph_spec_bootstrap.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Fix compatibility with Ansible 2.14
  tripleo_ansible/ansible_plugins/callback/tripleo.py
  tripleo_ansible/ansible_plugins/callback/tripleo_dense.py
  tripleo_ansible/ansible_plugins/strategy/tripleo_base.py
  tripleo_ansible/ansible_plugins/strategy/tripleo_linear.py
  tripleo_ansible/playbooks/rotate-keys.yaml
  tripleo_ansible/roles/backup_and_restore/tasks/run_backup.yml
  tripleo_ansible/roles/tripleo_bootstrap/tasks/main.yml
  tripleo_ansible/roles/tripleo_bootstrap/tasks/packages.yml
  tripleo_ansible/roles/tripleo_ceph_uuid/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_packages/tasks/upgrade.yml
  tripleo_ansible/roles/tuned/tasks/tuned_install.yml
Due: tripleo-ansible-centos-7-molecule-tuned, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tuned, tripleo-ansible-centos-8-molecule-tripleo-modules

Fix issues with connectivity check
  tripleo_ansible/roles/tripleo_nodes_validation/tasks/ping.yml
Due: tripleo-ansible-centos-8-molecule-tripleo_nodes_validation

Remove old podman files.
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_install.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_login.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_purge.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_rsyslog_cleanup.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_service.yml
Due: none

Block deletion of existing snapshots executing the creation command
  tripleo_ansible/roles/snapshot_and_revert/tasks/main.yml
Due: none

Introduce tripleo_ceph_client_files standalone Ansible role
  doc/source/roles/role-tripleo_ceph_client_files.rst
  tripleo_ansible/roles/tripleo_ceph_client_files/defaults/main.yml
  tripleo_ansible/roles/tripleo_ceph_client_files/handlers/main.yml
  tripleo_ansible/roles/tripleo_ceph_client_files/meta/main.yml
  tripleo_ansible/roles/tripleo_ceph_client_files/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_ceph_client_files/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_ceph_client_files/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_ceph_client_files/tasks/main.yml
  tripleo_ansible/roles/tripleo_ceph_client_files/vars/main.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Adding modules for retrieval of overcloud role info
  doc/source/modules/modules-tripleo-overcloud_role_show.rst
  doc/source/modules/modules-tripleo_overcloud_role_list.rst
  tripleo_ansible/ansible_plugins/modules/tripleo_overcloud_role_list.py
  tripleo_ansible/ansible_plugins/modules/tripleo_overcloud_role_show.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Hide output which can contain password strings
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/users.yml
Due: tripleo-ansible-centos-8-molecule-tripleo-keystone-resources

Rotate cephadm_command.log
  tripleo_ansible/roles/tripleo_run_cephadm/tasks/main.yml
Due: none

bnr - Make the galera desync retries and delay configurable
  tripleo_ansible/roles/backup_and_restore/defaults/main.yml
  tripleo_ansible/roles/backup_and_restore/tasks/db_backup.yml
Due: none

Only do snapshot on inactive nodes
  tripleo_ansible/playbooks/cli-overcloud-snapshot.yaml
  tripleo_ansible/roles/snapshot_and_revert/defaults/main.yml
  tripleo_ansible/roles/snapshot_and_revert/molecule/default/prepare.yml
  tripleo_ansible/roles/snapshot_and_revert/tasks/main.yml
Due: none

Add podman_socket role
  tripleo_ansible/roles/tripleo_podman/defaults/main.yml
  tripleo_ansible/roles/tripleo_podman/meta/main.yml
  tripleo_ansible/roles/tripleo_podman/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_podman/molecule/login/prepare.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_rsyslog_cleanup.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_service.yml
  tripleo_ansible/roles/tripleo_podman/templates/podman.service.j2
Due: none

Revert "Explicitly define infra_image in containers.conf"
  tripleo_ansible/roles/tripleo_podman/defaults/main.yml
  tripleo_ansible/roles/tripleo_podman/tasks/install.yml
Due: none

Fix collectd path replacement bug
  tripleo_ansible/roles/tripleo_collectd/molecule/amqp_connection/converge.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/amqp_connection/verify.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/amqp_default_interval/converge.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/amqp_default_interval/verify.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/common/verify.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_libpodstats/converge.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_libpodstats/verify.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_sensubility/converge.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_sensubility/verify.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_sqlalchemy/converge.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_sqlalchemy/verify.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_stf/converge.yml
  tripleo_ansible/roles/tripleo_collectd/molecule/enable_stf/verify.yml
  tripleo_ansible/roles/tripleo_collectd/tasks/configure_collectd.yml
Due: none

Fix indentation error
  tripleo_ansible/roles/tripleo_podman/tasks/rsyslog_cleanup.yml
Due: none

Fixed multi-cell exported on Network
  tripleo_ansible/ansible_plugins/modules/tripleo_overcloud_network_extract.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules
