Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-scenario003-standalone, tripleo-ci-centos-8-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-standalone-upgrade, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-persist, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-7-molecule-login-defs, tripleo-ansible-centos-7-molecule-tripleo-ptp, tripleo-ansible-centos-7-molecule-tripleo-timezone, tripleo-ansible-centos-7-molecule-tripleo-config, tripleo-ansible-centos-7-molecule-tripleo-container-stop, tripleo-ansible-centos-7-molecule-tripleo-hieradata, tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-7-molecule-tripleo-kernel, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-7-molecule-tripleo-firewall, tripleo-ansible-centos-7-molecule-tripleo-securetty, tripleo-ansible-centos-7-molecule-tripleo-cellv2, tripleo-ansible-centos-7-molecule-tripleo-clients-install, tripleo-ansible-centos-7-molecule-tripleo-validations-package, tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk, tripleo-ansible-centos-7-molecule-tripleo-sshd, tripleo-ansible-centos-7-molecule-backup-and-restore, tripleo-ansible-centos-7-molecule-tripleo-packages, tripleo-ansible-centos-7-molecule-tripleo-hosts-entries, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules, tripleo-ansible-centos-7-molecule-tripleo-keystone-resources, tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt
  tripleo-ci-centos-7-containers-multinode: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-standalone: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-containers-undercloud-minion: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-undercloud-containers: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario001-standalone: (any of: ^tripleo_ansible/roles/tripleo_ceph_.*/.*, ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*, ^setup.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario002-standalone: (any of: ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario003-standalone: (any of: ^tripleo_ansible/roles/tripleo_create_admin/.*, ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario004-standalone: (any of: ^tripleo_ansible/roles/tripleo_ceph_.*/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-scenario010-standalone: (any of: ^tripleo_ansible/.*octavia.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-standalone-upgrade: (any of: ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*, ^tripleo_ansible/roles/tripleo_container_manage/.*, ^tripleo_ansible/roles/tripleo_container_rm/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  promote-openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-7-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-7-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-7-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-7-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-7-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-7-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-7-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-7-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-7-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-7-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-7-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-7-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-7-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
  tripleo-ansible-centos-7-molecule-tripleo-clients-install: any of: ^tripleo_ansible/roles/tripleo-clients-install/.*
  tripleo-ansible-centos-7-molecule-tripleo-validations-package: any of: ^tripleo_ansible/roles/tripleo-validations-package/.*
  tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk: any of: ^tripleo_ansible/roles/tripleo-ovs-dpdk/.*
  tripleo-ansible-centos-7-molecule-tripleo-sshd: any of: ^tripleo_ansible/roles/tripleo-sshd/.*
  tripleo-ansible-centos-7-molecule-backup-and-restore: any of: ^tripleo_ansible/roles/backup-and-restore/.*
  tripleo-ansible-centos-7-molecule-tripleo-packages: any of: ^tripleo_ansible/roles/tripleo-packages/.*
  tripleo-ansible-centos-7-molecule-tripleo-hosts-entries: any of: ^tripleo_ansible/roles/tripleo-hosts-entries/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-manage: any of: ^tripleo_ansible/roles/tripleo-container-manage/.*
  tripleo-ansible-centos-7-molecule-tripleo-modules: any of: ^tripleo_ansible/ansible_plugins/.*$, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-keystone-resources: any of: ^tripleo_ansible/roles/tripleo-keystone-resources/.*
  tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper: any of: ^tripleo_ansible/roles/tripleo-systemd-wrapper/.*

Use jinja templating when setting facts
  tripleo_ansible/playbooks/rotate-keys.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Fix error message from tripleo_passwords_rotate module
  tripleo_ansible/ansible_plugins/modules/tripleo_passwords_rotate.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Fix name of baremetal node info module in docs
  tripleo_ansible/ansible_plugins/modules/os_baremetal_node_info.py
Due: tripleo-ansible-centos-7-molecule-tripleo-modules

Revert "Revert "Modify the introspection playbook to simplify client interactions""
  tripleo_ansible/playbooks/cli-baremetal-introspect.yaml
Due: none

Only add host entries for role_networks
  tripleo_ansible/roles/tripleo-hosts-entries/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-hosts-entries/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-hosts-entries

Temporary make tripleo_ceph_run_ansible non voting
  zuul.d/molecule.yaml
Due: none

Trigger molecule jobs once a week
  zuul.d/molecule.yaml
Due: none

Get the list of enabled_services on the overcloud
  tripleo_ansible/roles/tripleo_ceph_work_dir/tasks/build_keys.yml
  tripleo_ansible/roles/tripleo_ceph_work_dir/tasks/build_pools.yml
  tripleo_ansible/roles/tripleo_ceph_work_dir/tasks/prepare.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario004-standalone

Finalize centos-8 migration
  doc/source/contributing.rst
  role-addition.yml
  zuul.d/base.yaml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-7-role-addition

Fix logic to stop overrwriting upgrade hieradata
  tripleo_ansible/roles/tripleo-upgrade-hiera/tasks/create-tripleo-upgrade-file.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera

Remove useless doc in tripleo-container-manag
  doc/source/roles/role-tripleo-container-manage.rst
Due: openstack-tox-docs, promote-openstack-tox-docs

Revert "tripleo-container-image: add |list to containers_commands"
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/exec.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage

tripleo-container-manage: fix check mode
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/exec.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage

Remove mistral cli from the backup playbook
  tripleo_ansible/playbooks/cli-undercloud-backup.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Add a new set of tasks to build the openstack pool and key list
  tripleo_ansible/roles/tripleo-ceph-common/defaults/main.yml
  tripleo_ansible/roles/tripleo-ceph-work-dir/tasks/build_keys.yml
  tripleo_ansible/roles/tripleo-ceph-work-dir/tasks/build_pools.yml
  tripleo_ansible/roles/tripleo-ceph-work-dir/tasks/prepare.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Unprovision confirmation, write an env file
  tripleo_ansible/playbooks/cli-overcloud-node-unprovision.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Cleanup old mistral key process
  tripleo_ansible/playbooks/cli-enable-ssh-admin.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

fix all tripleo_container_* molecule jobs on centos8
  tripleo_ansible/ansible_plugins/modules/podman_container.py
  tripleo_ansible/roles/tripleo_container_rm/molecule/legacy_vars/prepare.yml
  tripleo_ansible/roles/tripleo_container_rm/molecule/podman-rm-stopped/prepare.yml
  tripleo_ansible/roles/tripleo_container_rm/molecule/podman/prepare.yml
  tripleo_ansible/roles/tripleo_container_stop/molecule/podman/prepare.yml
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade, tripleo-ansible-centos-7-molecule-tripleo-modules

Improve idempotency for images in podman container
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Add role/playbook to manage nova image cache
  doc/source/modules/modules-tripleo_nova_image_cache.rst
  doc/source/roles/role-tripleo-nova-image-cache.rst
  tripleo_ansible/ansible_plugins/action/tripleo_nova_image_cache.py
  tripleo_ansible/ansible_plugins/modules/tripleo_nova_image_cache.py
  tripleo_ansible/playbooks/tripleo_nova_image_cache.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/defaults/main.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/meta/main.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-nova-image-cache/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/tasks/cache.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/tasks/main.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/tasks/uncache.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/vars/main.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules

Insert hosts entries to the beginning of the file.
  tripleo_ansible/roles/tripleo-hosts-entries/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-hosts-entries

Make tripleo_ceph_run_ansible voting again
  zuul.d/molecule.yaml
Due: none

Filter out wrapper commands from the ps output
  tripleo_ansible/roles/tripleo_systemd_wrapper/templates/service_sync.j2
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Simplify linting
  molecule-requirements.txt
  tox.ini
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-modules

Fix the docs job
  constraints.txt
  molecule-requirements.txt
  tox.ini
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-modules

change linters job to running on a cent8 node
  zuul.d/layout.yaml
Due: none

Add tripleo_image_params_prepare ansible module
  doc/source/modules/modules-tripleo_image_params_prepare.rst
  tripleo_ansible/ansible_plugins/modules/tripleo_image_params_prepare.py
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules

Add tripleo_templates_upload module
  doc/source/modules/modules-tripleo_templates_upload.rst
  tox.ini
  tripleo_ansible/ansible_plugins/modules/tripleo_templates_upload.py
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-modules

Add tripleo_plan_parameters_update module
  doc/source/modules/modules-tripleo_plan_parameters_update.rst
  tripleo_ansible/ansible_plugins/modules/tripleo_plan_parameters_update.py
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules

Add playbook for create deployment plan
  tripleo_ansible/playbooks/cli-create-deployment-plan.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Add playbook for update deployment plan
  doc/source/modules/modules-tripleo_swift_tempurl.rst
  tripleo_ansible/ansible_plugins/modules/tripleo_swift_tempurl.py
  tripleo_ansible/playbooks/cli-update-deployment-plan.yaml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules

Filter out wrapper commands from the ps output
  tripleo_ansible/roles/tripleo-systemd-wrapper/templates/service_sync.j2
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper

Create a new playbook that will be used for deriving parameters
  tripleo_ansible/playbooks/cli-derive-parameters.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Add deploy plan playbook
  doc/source/modules/modules-tripleo_plan_deploy.rst
  tripleo_ansible/ansible_plugins/modules/tripleo_plan_deploy.py
  tripleo_ansible/playbooks/cli-deploy-deployment-plan.yaml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules

Increase number of retries for container create async task
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage

tripleo_container_manage: improve logging for failed containers
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/create.yml
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade, tripleo-ansible-centos-7-molecule-tripleo-modules
