Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-scenario003-standalone, tripleo-ci-centos-8-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-standalone-upgrade, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-persist, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-7-molecule-login-defs, tripleo-ansible-centos-7-molecule-tripleo-ptp, tripleo-ansible-centos-7-molecule-tripleo-timezone, tripleo-ansible-centos-7-molecule-tripleo-config, tripleo-ansible-centos-7-molecule-tripleo-container-stop, tripleo-ansible-centos-7-molecule-tripleo-hieradata, tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-7-molecule-tripleo-kernel, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-7-molecule-tripleo-firewall, tripleo-ansible-centos-7-molecule-tripleo-securetty, tripleo-ansible-centos-7-molecule-tripleo-cellv2, tripleo-ansible-centos-7-molecule-tripleo-clients-install, tripleo-ansible-centos-7-molecule-tripleo-validations-package, tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk, tripleo-ansible-centos-7-molecule-tripleo-sshd, tripleo-ansible-centos-7-molecule-backup-and-restore, tripleo-ansible-centos-7-molecule-tripleo-packages, tripleo-ansible-centos-7-molecule-tripleo-hosts-entries, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules, tripleo-ansible-centos-7-molecule-tripleo-keystone-resources, tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper

tripleo-ansible-docs:
  parent: openstack-tox-docs

tripleo-ansible-centos-7-molecule-aide:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-aide

tripleo-ansible-centos-7-molecule-test_deps:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_deps

tripleo-ansible-centos-7-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_json_error_callback

tripleo-ansible-centos-7-molecule-test_package_action:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_package_action

tripleo-ansible-centos-7-molecule-tuned:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-tuned

tripleo-ci-centos-7-containers-multinode:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-containers-undercloud-minion:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-undercloud-containers:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario001-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario002-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario003-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario004-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-scenario010-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-standalone-upgrade:
  dependencies:
  - openstack-tox-linters

tripleo-ansible-centos-7-molecule-tripleo-bootstrap:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-bootstrap

tripleo-ansible-centos-7-role-addition:
  nodeset: centos-7
  parent: tox-molecule
  timeout: 1800
  vars:
    tox_envlist: role-addition

tripleo-ansible-centos-7-molecule-tripleo-create-admin:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-create-admin

tripleo-ansible-centos-7-molecule-tripleo-module-load:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-module-load

tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-ssh-known-hosts

tripleo-ansible-centos-7-molecule-tripleo-container-tag:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-tag

tripleo-ansible-centos-7-molecule-tripleo-container-rm:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-rm

tripleo-ansible-centos-7-molecule-tripleo-image-serve:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-image-serve

tripleo-ansible-centos-7-molecule-tripleo-transfer:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-transfer

tripleo-ansible-centos-7-molecule-tripleo-podman:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-podman

Ensure that the playbooks and roles can display debug data when enabled
  _skeleton_role_/defaults/main.yml.j2
  tripleo_ansible/playbooks/cli-create-deployment-plan.yaml
  tripleo_ansible/playbooks/cli-undercloud-backup.yaml
  tripleo_ansible/playbooks/cli-update-deployment-plan.yaml
  tripleo_ansible/playbooks/rotate-fernet-keys.yaml
  tripleo_ansible/playbooks/rotate-keys.yaml
  tripleo_ansible/playbooks/rotate-passwords.yaml
  tripleo_ansible/roles/aide/defaults/main.yml
  tripleo_ansible/roles/aide/tasks/aide_config.yml
  tripleo_ansible/roles/aide/tasks/aide_upgrade.yml
  tripleo_ansible/roles/backup_and_restore/defaults/main.yml
  tripleo_ansible/roles/backup_and_restore/tasks/db_backup.yml
  tripleo_ansible/roles/login_defs/defaults/main.yml
  tripleo_ansible/roles/tripleo_cellv2/defaults/main.yml
  tripleo_ansible/roles/tripleo_ceph_run_ansible/defaults/main.yml
  tripleo_ansible/roles/tripleo_ceph_run_ansible/tasks/main.yml
  tripleo_ansible/roles/tripleo_container_image_prepare/defaults/main.yml
  tripleo_ansible/roles/tripleo_container_image_prepare/tasks/main.yml
  tripleo_ansible/roles/tripleo_container_manage/defaults/main.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/delete_orphan.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/exec.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/get_commands_exec.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/start_order.yml
  tripleo_ansible/roles/tripleo_hosts_entries/defaults/main.yml
  tripleo_ansible/roles/tripleo_nova_image_cache/defaults/main.yml
  tripleo_ansible/roles/tripleo_ovs_dpdk/defaults/main.yml
  tripleo_ansible/roles/tripleo_packages/defaults/main.yml
  tripleo_ansible/roles/tripleo_podman/defaults/main.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_login.yml
  tripleo_ansible/roles/tripleo_puppet_cache/defaults/main.yml
  tripleo_ansible/roles/tripleo_puppet_cache/tasks/main.yml
  tripleo_ansible/roles/tripleo_redhat_enforce/defaults/main.yml
  tripleo_ansible/roles/tripleo_systemd_wrapper/defaults/main.yml
  tripleo_ansible/roles/tripleo_transfer/defaults/main.yml
  tripleo_ansible/roles/tripleo_transfer/tasks/main.yml
Due: tripleo-ansible-centos-7-molecule-aide, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario004-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ansible-centos-7-role-addition

added mcelog role
  tripleo_ansible/roles/tripleo_provision_mcelog/defaults/main.yml
  tripleo_ansible/roles/tripleo_provision_mcelog/meta/main.yml
  tripleo_ansible/roles/tripleo_provision_mcelog/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo_provision_mcelog/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_provision_mcelog/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_provision_mcelog/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_provision_mcelog/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Implement run_once
  tripleo_ansible/ansible_plugins/strategy/tripleo_free.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Implement a tripleo free strategy
  tripleo_ansible/ansible_plugins/strategy/tripleo_free.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Add tripleo linear strategy
  tripleo_ansible/ansible_plugins/strategy/tripleo_linear.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Create tripleo base strategy class
  tripleo_ansible/ansible_plugins/strategy/tripleo_base.py
  tripleo_ansible/ansible_plugins/strategy/tripleo_free.py
  tripleo_ansible/ansible_plugins/strategy/tripleo_linear.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

BaR - Export ceph authentication
  doc/source/roles/role-backup_and_restore.rst
  tripleo_ansible/roles/backup_and_restore/defaults/main.yml
  tripleo_ansible/roles/backup_and_restore/tasks/ceph_authentication.yml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs

Fix conditions tuned profile
  tripleo_ansible/roles/tuned/tasks/tuned_config.yml
Due: tripleo-ansible-centos-7-molecule-tuned, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Exclude callbacks env vars for ceph-ansible
  tripleo_ansible/roles/tripleo_ceph_common/tasks/main.yml
  tripleo_ansible/roles/tripleo_ceph_run_ansible/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario004-standalone

BaR: Set default container cli to podman
  tripleo_ansible/roles/backup-and-restore/defaults/main.yml
  tripleo_ansible/roles/backup-and-restore/molecule/default/playbook.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-backup-and-restore

Stop to use the __future__ module.
  tripleo_ansible/ansible_plugins/action/tripleo_nova_image_cache.py
  tripleo_ansible/ansible_plugins/callback/tripleo.py
  tripleo_ansible/ansible_plugins/callback/tripleo_dense.py
  tripleo_ansible/ansible_plugins/callback/tripleo_profile_tasks.py
  tripleo_ansible/ansible_plugins/modules/baremetal_nodes_validate.py
  tripleo_ansible/ansible_plugins/modules/baremetal_register_or_update_nodes.py
  tripleo_ansible/ansible_plugins/modules/container_config_data.py
  tripleo_ansible/ansible_plugins/modules/container_puppet_config.py
  tripleo_ansible/ansible_plugins/modules/metalsmith_instances.py
  tripleo_ansible/ansible_plugins/modules/os_baremetal_clean_node.py
  tripleo_ansible/ansible_plugins/modules/os_baremetal_node_info.py
  tripleo_ansible/ansible_plugins/modules/os_baremetal_provide_node.py
  tripleo_ansible/ansible_plugins/modules/os_tripleo_baremetal_node_introspection.py
  tripleo_ansible/ansible_plugins/modules/paunch.py
  tripleo_ansible/ansible_plugins/modules/podman_container.py
  tripleo_ansible/ansible_plugins/modules/podman_container_info.py
  tripleo_ansible/ansible_plugins/modules/podman_volume_info.py
  tripleo_ansible/ansible_plugins/modules/tripleo_baremetal_check_existing.py
  tripleo_ansible/ansible_plugins/modules/tripleo_baremetal_expand_roles.py
  tripleo_ansible/ansible_plugins/modules/tripleo_baremetal_populate_environment.py
  tripleo_ansible/ansible_plugins/modules/tripleo_config_download.py
  tripleo_ansible/ansible_plugins/modules/tripleo_fernet_keys_rotate.py
  tripleo_ansible/ansible_plugins/modules/tripleo_generate_ansible_inventory.py
  tripleo_ansible/ansible_plugins/modules/tripleo_generate_overcloudrc.py
  tripleo_ansible/ansible_plugins/modules/tripleo_image_params_prepare.py
  tripleo_ansible/ansible_plugins/modules/tripleo_nova_image_cache.py
  tripleo_ansible/ansible_plugins/modules/tripleo_passwords_rotate.py
  tripleo_ansible/ansible_plugins/modules/tripleo_plan_deploy.py
  tripleo_ansible/ansible_plugins/modules/tripleo_plan_parameters_update.py
  tripleo_ansible/ansible_plugins/modules/tripleo_swift_tempurl.py
  tripleo_ansible/ansible_plugins/modules/tripleo_templates_upload.py
  tripleo_ansible/ansible_plugins/strategy/tripleo_base.py
  tripleo_ansible/ansible_plugins/strategy/tripleo_free.py
  tripleo_ansible/ansible_plugins/strategy/tripleo_linear.py
  tripleo_ansible/roles/tripleo_ovs_dpdk/library/openvswitch_db.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Do not set lo.disable_ipv6=0 by default
  tripleo_ansible/roles/tripleo_kernel/vars/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Switch to newer openstackdocstheme and reno versions
  doc/source/conf.py
  molecule-requirements.txt
  releasenotes/source/conf.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-modules

Add support for Octavia amphora log offloading
  tripleo_ansible/playbooks/octavia-files.yaml
  tripleo_ansible/roles/octavia_common/defaults/main.yml
  tripleo_ansible/roles/octavia_controller_post_config/tasks/main.yml
  tripleo_ansible/roles/octavia_controller_post_config/templates/10-octavia.conf.j2
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-scenario010-standalone

Max percentage failure support
  tripleo_ansible/ansible_plugins/strategy/tripleo_base.py
  tripleo_ansible/ansible_plugins/strategy/tripleo_free.py
  tripleo_ansible/ansible_plugins/strategy/tripleo_linear.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Molecule testing for TripleO Strategy Plugins
  ansible-test-env.rc
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/ansible-test-env.rc
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/converge.yml
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/inventory-fail
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/inventory-success
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/molecule.yml
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/tripleo-free.yml
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/tripleo-linear.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Prepend timestamp callback output
  tripleo_ansible/ansible_plugins/callback/tripleo_dense.py
  tripleo_ansible/ansible_plugins/callback/tripleo_profile_tasks.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Exclude callbacks env vars for ceph-ansible
  tripleo_ansible/roles/tripleo-ceph-common/tasks/main.yml
  tripleo_ansible/roles/tripleo-ceph-run-ansible/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible

Fix missing output call
  tripleo_ansible/ansible_plugins/callback/tripleo_dense.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Add support for Octavia amphora log offloading
  tripleo_ansible/playbooks/octavia-files.yaml
  tripleo_ansible/roles/octavia-controller-post-config/tasks/main.yml
  tripleo_ansible/roles/octavia_common/defaults/main.yml
  tripleo_ansible/roles/octavia_controller_post_config/templates/10-octavia.conf.j2
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-scenario010-standalone

metalsmith_instances: Handle an empty instance list
  tripleo_ansible/ansible_plugins/modules/metalsmith_instances.py
Due: tripleo-ansible-centos-7-molecule-tripleo-modules

Fix tripleo_profile_tasks callback plugin _output()
  tripleo_ansible/ansible_plugins/callback/tripleo_profile_tasks.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Do not set lo.disable_ipv6=0 by default
  tripleo_ansible/roles/tripleo-kernel/vars/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-kernel

Make throttle optional
  tripleo_ansible/ansible_plugins/strategy/tripleo_free.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Adding playbook support for changes coming to python-tripleoclient.
  .gitignore
  tripleo_ansible/playbooks/cli-overcloud-backup.yaml
  tripleo_ansible/playbooks/cli-undercloud-backup-legacy.yaml
  tripleo_ansible/playbooks/prepare-overcloud-backup.yaml
  tripleo_ansible/playbooks/prepare-undercloud-backup.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Add playbook for config-download export
  tripleo_ansible/playbooks/cli-config-download-export.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Preserve inode when updating /etc/hosts
  tripleo_ansible/roles/tripleo_hosts_entries/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Fix error when display_ok_hosts is false
  tripleo_ansible/ansible_plugins/callback/tripleo_dense.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Add toggle for sensitive data within keystone
  tripleo_ansible/roles/test_deps/tasks/main.yml
  tripleo_ansible/roles/test_deps/tasks/tripleo-setup.yml
  tripleo_ansible/roles/tripleo_keystone_resources/defaults/main.yml
  tripleo_ansible/roles/tripleo_keystone_resources/tasks/admin.yml
  tripleo_ansible/roles/tripleo_keystone_resources/tasks/endpoints.yml
  tripleo_ansible/roles/tripleo_keystone_resources/tasks/services.yml
  tripleo_ansible/roles/tripleo_keystone_resources/tasks/users.yml
Due: tripleo-ansible-centos-7-molecule-test_deps, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Add osd blacklist cap when openstack client cap is built
  tripleo_ansible/roles/tripleo_ceph_work_dir/tasks/build_keys.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario004-standalone

Preserve inode when updating /etc/hosts
  tripleo_ansible/roles/tripleo-hosts-entries/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-hosts-entries

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt
  tripleo-ci-centos-7-containers-multinode: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-standalone: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-containers-undercloud-minion: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-undercloud-containers: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario001-standalone: (any of: ^tripleo_ansible/roles/tripleo_ceph_.*/.*, ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*, ^setup.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario002-standalone: (any of: ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario003-standalone: (any of: ^tripleo_ansible/roles/tripleo_create_admin/.*, ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario004-standalone: (any of: ^tripleo_ansible/roles/tripleo_ceph_.*/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-scenario010-standalone: (any of: ^tripleo_ansible/.*octavia.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-standalone-upgrade: (any of: ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*, ^tripleo_ansible/roles/tripleo_container_manage/.*, ^tripleo_ansible/roles/tripleo_container_rm/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  promote-openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-7-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-7-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-7-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-7-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-7-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-7-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-7-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-7-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-7-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-7-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-7-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-7-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-7-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
  tripleo-ansible-centos-7-molecule-tripleo-clients-install: any of: ^tripleo_ansible/roles/tripleo-clients-install/.*
  tripleo-ansible-centos-7-molecule-tripleo-validations-package: any of: ^tripleo_ansible/roles/tripleo-validations-package/.*
  tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk: any of: ^tripleo_ansible/roles/tripleo-ovs-dpdk/.*
  tripleo-ansible-centos-7-molecule-tripleo-sshd: any of: ^tripleo_ansible/roles/tripleo-sshd/.*
  tripleo-ansible-centos-7-molecule-backup-and-restore: any of: ^tripleo_ansible/roles/backup-and-restore/.*
  tripleo-ansible-centos-7-molecule-tripleo-packages: any of: ^tripleo_ansible/roles/tripleo-packages/.*
  tripleo-ansible-centos-7-molecule-tripleo-hosts-entries: any of: ^tripleo_ansible/roles/tripleo-hosts-entries/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-manage: any of: ^tripleo_ansible/roles/tripleo-container-manage/.*
  tripleo-ansible-centos-7-molecule-tripleo-modules: any of: ^tripleo_ansible/ansible_plugins/.*$, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-keystone-resources: any of: ^tripleo_ansible/roles/tripleo-keystone-resources/.*
  tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper: any of: ^tripleo_ansible/roles/tripleo-systemd-wrapper/.*
