Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-aide, tripleo-ansible-centos-8-molecule-tripleo_auditd, tripleo-ansible-centos-8-molecule-backup-and-restore, tripleo-ansible-centos-8-molecule-test_deps, tripleo-ansible-centos-8-molecule-test_json_error_callback, tripleo-ansible-centos-8-molecule-test_package_action, tripleo-ansible-centos-8-molecule-tripleo-bootstrap, tripleo-ansible-centos-8-molecule-tuned, tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-create-admin, tripleo-ansible-centos-8-molecule-tripleo-module-load, tripleo-ansible-centos-8-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-8-molecule-tripleo-container-tag, tripleo-ansible-centos-8-molecule-tripleo-container-rm, tripleo-ansible-centos-8-molecule-tripleo-image-serve, tripleo-ansible-centos-8-molecule-tripleo-transfer, tripleo-ansible-centos-8-molecule-tripleo-podman, tripleo-ansible-centos-8-molecule-tripleo-persist, tripleo-ansible-centos-8-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-8-molecule-login-defs, tripleo-ansible-centos-8-molecule-tripleo-ptp, tripleo-ansible-centos-8-molecule-tripleo-timezone, tripleo-ansible-centos-8-molecule-tripleo-config, tripleo-ansible-centos-8-molecule-tripleo-container-image-build, tripleo-ansible-centos-8-molecule-tripleo-container-stop, tripleo-ansible-centos-8-molecule-tripleo-hieradata, tripleo-ansible-centos-8-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-8-molecule-tripleo_lvmfilter, tripleo-ansible-centos-8-molecule-tripleo_multipathd, tripleo-ansible-centos-8-molecule-tripleo-network-config, tripleo-ansible-centos-8-molecule-tripleo-kernel, tripleo-ansible-centos-8-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-8-molecule-tripleo-firewall, tripleo-ansible-centos-8-molecule-tripleo-securetty, tripleo-ansible-centos-8-molecule-tripleo-cellv2, tripleo-ansible-centos-8-molecule-tripleo-clients-install, tripleo-ansible-centos-8-molecule-tripleo-redhat-enforce, tripleo-ansible-centos-8-molecule-tripleo-sshd, tripleo-ansible-centos-8-molecule-tripleo-hosts-entries, tripleo-ansible-centos-8-molecule-tripleo-container-manage, tripleo-ansible-centos-8-molecule-tripleo-modules, tripleo-ansible-centos-8-molecule-tripleo-keystone-resources, tripleo-ansible-centos-8-molecule-tripleo-systemd-wrapper, tripleo-ansible-centos-8-molecule-tripleo_nvdimm, tripleo-ansible-centos-8-molecule-tripleo_ha_wrapper, tripleo-ansible-centos-8-molecule-tripleo_nodes_validation, tripleo-ansible-centos-8-molecule-tripleo_ovn_cluster

tripleo-ansible-docs:
  parent: openstack-tox-docs

tripleo-ansible-centos-7-molecule-aide:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-aide

tripleo-ansible-centos-7-molecule-test_deps:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_deps

tripleo-ansible-centos-7-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_json_error_callback

tripleo-ansible-centos-7-molecule-test_package_action:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_package_action

tripleo-ansible-centos-7-molecule-tuned:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-tuned

tripleo-ansible-centos-8-molecule-aide:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: aide

tripleo-ansible-centos-8-molecule-tripleo_auditd:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo_auditd

tripleo-ansible-centos-8-molecule-backup-and-restore:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: backup-and-restore

tripleo-ansible-centos-8-molecule-test_deps:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: test_deps

tripleo-ansible-centos-8-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: test_json_error_callback

tripleo-ansible-centos-8-molecule-test_package_action:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: test_package_action

tripleo-ansible-centos-8-molecule-tripleo-bootstrap:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-bootstrap

tripleo-ansible-centos-8-molecule-tuned:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tuned

tripleo-ansible-centos-8-role-addition:
  parent: tripleo-ansible-centos-8-base
  timeout: 1800
  vars:
    tox_envlist: role-addition

tripleo-ansible-centos-8-molecule-tripleo-create-admin:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-create-admin

tripleo-ansible-centos-8-molecule-tripleo-module-load:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-module-load

tripleo-ansible-centos-8-molecule-tripleo-ssh-known-hosts:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-ssh-known-hosts

tripleo-ansible-centos-8-molecule-tripleo-container-tag:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-container-tag

tripleo-ansible-centos-8-molecule-tripleo-container-rm:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-container-rm

tripleo-ansible-centos-8-molecule-tripleo-image-serve:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-image-serve

tripleo-ansible-centos-8-molecule-tripleo-transfer:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-transfer

Train-only: Reduce permission of config-download files
  tripleo_ansible/ansible_plugins/action/tripleo_all_nodes_data.py
  tripleo_ansible/ansible_plugins/callback/json_error.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

tripleo_container_manage: Add retry mechanism
  tripleo_ansible/ansible_plugins/modules/tripleo_container_manage.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Do not execute anything if a host is unreachable
  tripleo_ansible/playbooks/cli-overcloud-backup-cron.yaml
  tripleo_ansible/playbooks/cli-overcloud-backup.yaml
  tripleo_ansible/playbooks/prepare-overcloud-backup.yaml
  tripleo_ansible/roles/backup_and_restore/tasks/main.yml
Due: none

Container build: define ARGs after FROM line
  tripleo_ansible/roles/tripleo_container_image_build/templates/Containerfile.j2
Due: none

Mark B&R job as voting
  tripleo_ansible/roles/backup_and_restore/molecule/cli_undercloud_backup_db/prepare.yml
  tripleo_ansible/roles/backup_and_restore/molecule/default/prepare.yml
  zuul.d/molecule.yaml
Due: none

Remove unused molecule Dockerfile.j2
  .config/molecule/Dockerfile.j2
Due: none

We need to downgrade in the pre.yml as well
  zuul.d/playbooks/pre.yml
Due: tripleo-ansible-centos-8-molecule-tripleo-container-manage

Fix typo when nova pool is built and wrong flag during cli creation
  tripleo_ansible/roles/tripleo_ceph_work_dir/tasks/build_pools.yml
  tripleo_ansible/roles/tripleo_cephadm/tasks/post.yaml
Due: none

tripleo_sshd: update for standalone roles
  ansible-test-env-podman.rc
  tripleo_ansible/roles/tripleo_sshd/defaults/main.yml
  tripleo_ansible/roles/tripleo_sshd/molecule/banners/molecule.yml
  tripleo_ansible/roles/tripleo_sshd/molecule/default/Dockerfile.j2
  tripleo_ansible/roles/tripleo_sshd/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_sshd/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo_sshd/molecule/gssapi/molecule.yml
  tripleo_ansible/roles/tripleo_sshd/tasks/configure.yml
  tripleo_ansible/roles/tripleo_sshd/tasks/install.yml
  tripleo_ansible/roles/tripleo_sshd/tasks/load_vars.yml
  tripleo_ansible/roles/tripleo_sshd/tasks/run.yml
Due: none

We don't need the final drop rule anymore
  tripleo_ansible/roles/tripleo_firewall/defaults/main.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/nftables/converge.yml
  tripleo_ansible/roles/tripleo_nftables/defaults/main.yml
Due: none

Allow role re-tagging of ports
  tripleo_ansible/ansible_plugins/modules/tripleo_overcloud_network_ports.py
  tripleo_ansible/ansible_plugins/modules/tripleo_ovn_mac_addresses.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

bnr - Update on rear scripts to support the ceph bnr on LVM
  tripleo_ansible/roles/backup_and_restore/tasks/setup_rear.yml
Due: none

Unbound: remove incorrect config of forwarding
  tripleo_ansible/roles/tripleo_unbound/tasks/main.yml
  tripleo_ansible/roles/tripleo_unbound/templates/tripleo-forwarder-unbound.conf.j2
Due: none

Enable network configuration using ansible by default
  tripleo_ansible/roles/tripleo_network_config/defaults/main.yml
  tripleo_ansible/roles/tripleo_network_config/molecule/default/converge.yml
Due: none

Drop variables for legacy networking
  tripleo_ansible/ansible_plugins/modules/tripleo_generate_inventory_network_config.py
  tripleo_ansible/roles/tripleo_network_config/tasks/os_net_config.yml
  tripleo_ansible/tests/modules/test_tripleo_generate_inventory_network_config.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

[TRAIN-ONLY] - Fix ceph-ansible permissions when workdir is created
  tripleo_ansible/roles/tripleo-ceph-run-ansible/tasks/create_ceph_ansible_remote_tmp.yml
  tripleo_ansible/roles/tripleo-ceph-run-ansible/tasks/main.yml
  tripleo_ansible/roles/tripleo-ceph-uuid/tasks/prepare.yml
  tripleo_ansible/roles/tripleo-ceph-work-dir/tasks/prepare.yml
Due: tripleo-ansible-centos-8-molecule-tripleo-ceph-run-ansible

Enable --retain option for zebra daemon
  tripleo_ansible/roles/tripleo_frr/templates/daemons.j2
Due: none

Ensure the openvswitch service is enabled and deps are installed
  tripleo_ansible/roles/tripleo_bootstrap/tasks/main.yml
  tripleo_ansible/roles/tripleo_bootstrap/vars/fedora-28.yml
  tripleo_ansible/roles/tripleo_bootstrap/vars/redhat-8.yml
  tripleo_ansible/roles/tripleo_bootstrap/vars/redhat-9.yml
  tripleo_ansible/roles/tripleo_bootstrap/vars/redhat.yml
Due: none

Ensure the openvswitch service is enabled and deps are installed
  tripleo_ansible/roles/tripleo-bootstrap/tasks/main.yml
  tripleo_ansible/roles/tripleo-bootstrap/vars/fedora-28.yml
  tripleo_ansible/roles/tripleo-bootstrap/vars/redhat-8.yml
  tripleo_ansible/roles/tripleo-bootstrap/vars/redhat.yml
Due: tripleo-ansible-centos-8-molecule-tripleo-bootstrap

Drop role_name option from tripleo_ovn_mac_addresses
  tripleo_ansible/ansible_plugins/modules/tripleo_ovn_mac_addresses.py
  tripleo_ansible/roles/tripleo_ovn/tasks/externaldeploy.yml
  tripleo_ansible/tests/modules/test_tripleo_ovn_mac_addresses.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Clean tripleo_iptables related resources
  .ansible-lint
  releasenotes/notes/clean-iptables-967b9dda091a6535.yaml
  tripleo_ansible/ansible_plugins/action/tripleo_iptables.py
  tripleo_ansible/roles/tripleo_firewall/defaults/main.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/firewall-add-complex/converge.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/firewall-add-complex/molecule.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/firewall-add-complex/prepare.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/firewall-add/converge.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/firewall-add/molecule.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/firewall-add/prepare.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/firewall-masquerade/converge.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/firewall-masquerade/molecule.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/firewall-masquerade/prepare.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/firewall-remove-complex/converge.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/firewall-remove-complex/molecule.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/firewall-remove-complex/prepare.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/firewall-remove/converge.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/firewall-remove/molecule.yml
  tripleo_ansible/roles/tripleo_firewall/molecule/firewall-remove/prepare.yml
  tripleo_ansible/roles/tripleo_firewall/tasks/iptables.yaml
  tripleo_ansible/roles/tripleo_firewall/tasks/main.yml
  tripleo_ansible/roles/tripleo_firewall/vars/redhat.yml
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Update tripleo_nova_libvirt to virsh-secret define for ceph
  tripleo_ansible/roles/tripleo_nova_libvirt/files/nova_libvirt_init_secret.sh
  tripleo_ansible/roles/tripleo_nova_libvirt/tasks/run.yml
  tripleo_ansible/roles/tripleo_nova_libvirt/templates/nova_libvirt_init_secret.yaml.j2
Due: none

tripleo_nova_compute: add for standalone roles
  tripleo_ansible/roles/tripleo_container_standalone/defaults/main.yml
  tripleo_ansible/roles/tripleo_nova_compute/defaults/main.yml
  tripleo_ansible/roles/tripleo_nova_compute/files/.gitkeep
  tripleo_ansible/roles/tripleo_nova_compute/files/check-run-nova-compute
  tripleo_ansible/roles/tripleo_nova_compute/files/delay-nova-compute
  tripleo_ansible/roles/tripleo_nova_compute/files/nova_statedir_ownership.py
  tripleo_ansible/roles/tripleo_nova_compute/files/nova_wait_for_compute_service.yaml
  tripleo_ansible/roles/tripleo_nova_compute/files/tests/test_nova_statedir_ownership.py
  tripleo_ansible/roles/tripleo_nova_compute/handlers/main.yml
  tripleo_ansible/roles/tripleo_nova_compute/meta/main.yml
  tripleo_ansible/roles/tripleo_nova_compute/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_nova_compute/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_nova_compute/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_nova_compute/tasks/configure.yml
  tripleo_ansible/roles/tripleo_nova_compute/tasks/externaldeploy.yml
  tripleo_ansible/roles/tripleo_nova_compute/tasks/install.yml
  tripleo_ansible/roles/tripleo_nova_compute/tasks/logging-install.yml
  tripleo_ansible/roles/tripleo_nova_compute/tasks/logging-run.yml
  tripleo_ansible/roles/tripleo_nova_compute/tasks/main.yml
  tripleo_ansible/roles/tripleo_nova_compute/tasks/run.yml
  tripleo_ansible/roles/tripleo_nova_compute/tasks/scale.yml
  tripleo_ansible/roles/tripleo_nova_compute/tasks/update.yml
  tripleo_ansible/roles/tripleo_nova_compute/tasks/upgrade.yml
  tripleo_ansible/roles/tripleo_nova_compute/tasks/validate.yml
  tripleo_ansible/roles/tripleo_nova_compute/templates/kolla_config/nova_compute.yaml.j2
  tripleo_ansible/roles/tripleo_nova_compute/templates/nova_compute.yaml.j2
  tripleo_ansible/roles/tripleo_nova_compute/templates/nova_compute_init_log.yaml.j2
  tripleo_ansible/roles/tripleo_nova_compute/templates/nova_compute_statedir_owner.yaml.j2
  tripleo_ansible/roles/tripleo_nova_compute/templates/nova_wait_for_compute_service.yaml.j2
  tripleo_ansible/roles/tripleo_nova_compute/vars/main.yml
  zuul.d/molecule.yaml
Due: none

tripleo_timezone: update for standalone roles
  tripleo_ansible/roles/tripleo_timezone/tasks/configure.yml
  tripleo_ansible/roles/tripleo_timezone/tasks/run.yml
Due: none

Derive parameters clean up
  doc/source/modules/modules-tripleo_derive_hci_parameters.rst
  doc/source/modules/modules-tripleo_get_flavor_profile.rst
  doc/source/modules/modules-tripleo_get_introspected_data.rst
  tripleo_ansible/ansible_plugins/filter/number_list.py
  tripleo_ansible/ansible_plugins/filter/range_list.py
  tripleo_ansible/ansible_plugins/module_utils/tripleo_common_utils.py
  tripleo_ansible/ansible_plugins/modules/tripleo_derive_hci_parameters.py
  tripleo_ansible/ansible_plugins/modules/tripleo_get_dpdk_core_list.py
  tripleo_ansible/ansible_plugins/modules/tripleo_get_dpdk_nics_numa_info.py
  tripleo_ansible/ansible_plugins/modules/tripleo_get_dpdk_socket_memory.py
  tripleo_ansible/ansible_plugins/modules/tripleo_get_flavor_profile.py
  tripleo_ansible/ansible_plugins/modules/tripleo_get_host_cpus.py
  tripleo_ansible/ansible_plugins/modules/tripleo_get_introspected_data.py
  tripleo_ansible/playbooks/cli-derive-parameters.yaml
  tripleo_ansible/roles/tripleo_derived_parameters/defaults/main.yml
  tripleo_ansible/roles/tripleo_derived_parameters/meta/main.yml
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/mock_baremetal_ComputeHCI
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/mock_baremetal_Controller
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/mock_hci_profile_config
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/mock_ironic_all
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/mock_params
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/mock_roles
  tripleo_ansible/roles/tripleo_derived_parameters/tasks/derive-host-parameters.yml
  tripleo_ansible/roles/tripleo_derived_parameters/tasks/derive-ovs-dpdk-parameters.yml
  tripleo_ansible/roles/tripleo_derived_parameters/tasks/derive-sriov-parameters.yml
  tripleo_ansible/roles/tripleo_derived_parameters/tasks/main.yml
  tripleo_ansible/tests/modules/test_derive_hci_parameters.py
  tripleo_ansible/tests/modules/test_tripleo_get_dpdk_core_list.py
  tripleo_ansible/tests/modules/test_tripleo_get_dpdk_nics_numa_info.py
  tripleo_ansible/tests/modules/test_tripleo_get_dpdk_socket_memory.py
  tripleo_ansible/tests/modules/test_tripleo_get_host_cpus.py
  tripleo_ansible/tests/plugins/filter/test_number_list.py
  tripleo_ansible/tests/plugins/filter/test_range_list.py
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Remove task to delete overcloud stack
  tripleo_ansible/playbooks/cli-overcloud-delete.yaml
Due: none

Support standalone variable names in tripleo_ceph_client
  tripleo_ansible/roles/tripleo_ceph_client/defaults/main.yml
  tripleo_ansible/roles/tripleo_ceph_client/tasks/multiple_external_ceph_clusters.yml
Due: none

Add observability_data_only condition to node-exporter component
  tripleo_ansible/roles/tripleo_cephadm/defaults/main.yml
  tripleo_ansible/roles/tripleo_cephadm/tasks/monitoring.yaml
Due: none

Designate: disable listening on IP version not in use
  tripleo_ansible/roles/designate_bind_config/templates/options.conf.j2
Due: none

Designate: allow enabling bind query logging
  tripleo_ansible/roles/designate_bind_config/defaults/main.yml
  tripleo_ansible/roles/designate_bind_config/templates/options.conf.j2
Due: none

Template RBD Multi Config map correctly in tripleo_nova_compute
  tripleo_ansible/roles/tripleo_nova_compute/templates/kolla_config/nova_compute.yaml.j2
Due: none

We can load the iptables compat everytime
  tripleo_ansible/roles/tripleo_nftables/tasks/main.yml
Due: none

tripleo_iscsid: update for standalone roles
  tripleo_ansible/roles/tripleo_iscsid/defaults/main.yml
  tripleo_ansible/roles/tripleo_iscsid/tasks/configure.yml
  tripleo_ansible/roles/tripleo_iscsid/tasks/install.yml
  tripleo_ansible/roles/tripleo_iscsid/tasks/iscsid.yaml
  tripleo_ansible/roles/tripleo_iscsid/tasks/iscsid_install.yaml
  tripleo_ansible/roles/tripleo_iscsid/tasks/run.yml
Due: none

Add docs for standalone roles and playbooks
  doc/source/index.rst
  doc/source/standalone-roles-playbooks.rst
Due: openstack-tox-docs, promote-openstack-tox-docs

Improved way of detecting Galera cluster is up&running
  tripleo_ansible/roles/backup_and_restore/tasks/db_backup.yml
  tripleo_ansible/roles/backup_and_restore/tasks/pacemaker_start.yml
Due: none

Fix insertafter for managing cell host entries
  tripleo_ansible/roles/tripleo_cellv2/tasks/add_internalapi_hosts_entries.yml
Due: none

Split tripleo_nftables tasks
  tripleo_ansible/roles/tripleo_firewall/molecule/nftables/converge.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/action/converge.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/action/prepare.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/destination/converge.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/destination/prepare.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/source/converge.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/source/prepare.yml
  tripleo_ansible/roles/tripleo_nftables/tasks/cleanup.yml
  tripleo_ansible/roles/tripleo_nftables/tasks/configure.yml
  tripleo_ansible/roles/tripleo_nftables/tasks/main.yml
  tripleo_ansible/roles/tripleo_nftables/tasks/run.yml
  tripleo_ansible/roles/tripleo_nftables/tasks/service-bootstrap.yml
Due: none

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt, ^tripleo_ansible/ansible_plugins/.*
  promote-openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt, ^tripleo_ansible/ansible_plugins/.*
  tripleo-ansible-centos-8-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-8-molecule-tripleo_auditd: any of: ^tripleo_ansible/roles/tripleo_auditd/(?!meta).*
  tripleo-ansible-centos-8-molecule-backup-and-restore: any of: ^tripleo_ansible/roles/backup-and-restore/.*
  tripleo-ansible-centos-8-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-8-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-8-molecule-test_package_action: any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*
  tripleo-ansible-centos-8-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-8-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  tripleo-ansible-centos-8-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-8-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-8-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-8-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-8-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-8-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-8-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-8-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-8-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-8-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-8-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-8-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-8-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-image-build: any of: ^tripleo_ansible/roles/tripleo-container-image-build/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-8-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-8-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-8-molecule-tripleo_lvmfilter: any of: ^tripleo_ansible/roles/tripleo_lvmfilter/.*
  tripleo-ansible-centos-8-molecule-tripleo_multipathd: any of: ^tripleo_ansible/roles/tripleo_multipathd/.*
  tripleo-ansible-centos-8-molecule-tripleo-network-config: any of: ^tripleo_ansible/roles/tripleo-network-config/.*
  tripleo-ansible-centos-8-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-8-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-8-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-8-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
  tripleo-ansible-centos-8-molecule-tripleo-clients-install: any of: ^tripleo_ansible/roles/tripleo-clients-install/.*
  tripleo-ansible-centos-8-molecule-tripleo-redhat-enforce: any of: ^tripleo_ansible/roles/tripleo-redhat-enforce/.*
  tripleo-ansible-centos-8-molecule-tripleo-sshd: any of: ^tripleo_ansible/roles/tripleo-sshd/.*
  tripleo-ansible-centos-8-molecule-tripleo-hosts-entries: any of: ^tripleo_ansible/roles/tripleo-hosts-entries/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-manage: any of: ^zuul.d/playbooks/pre.yml, ^tripleo_ansible/roles/tripleo-container-manage/.*, ^tripleo_ansible/roles/tripleo-container-rm/.*, ^tripleo_ansible/ansible_plugins/action/container_status.py$, ^tripleo_ansible/ansible_plugins/action/container_systemd.py$, ^tripleo_ansible/ansible_plugins/filter/helpers.py$, ^tripleo_ansible/ansible_plugins/modules/container_config_data.py$, ^tripleo_ansible/ansible_plugins/modules/container_puppet_config.py$, ^tripleo_ansible/ansible_plugins/modules/container_startup_config.py$, ^tripleo_ansible/ansible_plugins/modules/podman_container.py$, ^tripleo_ansible/ansible_plugins/modules/podman_container_info.py$
  tripleo-ansible-centos-8-molecule-tripleo-modules: any of: ^tripleo_ansible/ansible_plugins/.*$, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-8-molecule-tripleo-keystone-resources: any of: ^tripleo_ansible/roles/tripleo-keystone-resources/.*
  tripleo-ansible-centos-8-molecule-tripleo-systemd-wrapper: any of: ^tripleo_ansible/roles/tripleo-systemd-wrapper/.*
  tripleo-ansible-centos-8-molecule-tripleo_nvdimm: any of: ^tripleo_ansible/roles/tripleo_nvdimm/.*
  tripleo-ansible-centos-8-molecule-tripleo_ha_wrapper: any of: ^tripleo_ansible/roles/tripleo_ha_wrapper/.*
  tripleo-ansible-centos-8-molecule-tripleo_nodes_validation: any of: ^tripleo_ansible/roles/tripleo_nodes_validation/.*
  tripleo-ansible-centos-8-molecule-tripleo_ovn_cluster: any of: ^tripleo_ansible/roles/tripleo_ovn_cluster/.*
