Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-scenario003-standalone, tripleo-ci-centos-8-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-standalone-upgrade, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-persist, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-7-molecule-login-defs, tripleo-ansible-centos-7-molecule-tripleo-ptp, tripleo-ansible-centos-7-molecule-tripleo-timezone, tripleo-ansible-centos-7-molecule-tripleo-config, tripleo-ansible-centos-7-molecule-tripleo-container-stop, tripleo-ansible-centos-7-molecule-tripleo-hieradata, tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-7-molecule-tripleo-kernel, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-7-molecule-tripleo-firewall, tripleo-ansible-centos-7-molecule-tripleo-securetty, tripleo-ansible-centos-7-molecule-tripleo-cellv2, tripleo-ansible-centos-7-molecule-tripleo-clients-install, tripleo-ansible-centos-7-molecule-tripleo-validations-package, tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk, tripleo-ansible-centos-7-molecule-tripleo-sshd, tripleo-ansible-centos-7-molecule-backup-and-restore, tripleo-ansible-centos-7-molecule-tripleo-packages, tripleo-ansible-centos-7-molecule-tripleo-hosts-entries, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules, tripleo-ansible-centos-7-molecule-tripleo-keystone-resources, tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt
  tripleo-ci-centos-7-containers-multinode: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-standalone: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-containers-undercloud-minion: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-undercloud-containers: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario001-standalone: (any of: ^tripleo_ansible/roles/tripleo_ceph_.*/.*, ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*, ^setup.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario002-standalone: (any of: ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario003-standalone: (any of: ^tripleo_ansible/roles/tripleo_create_admin/.*, ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario004-standalone: (any of: ^tripleo_ansible/roles/tripleo_ceph_.*/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-scenario010-standalone: (any of: ^tripleo_ansible/.*octavia.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-standalone-upgrade: (any of: ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*, ^tripleo_ansible/roles/tripleo_container_manage/.*, ^tripleo_ansible/roles/tripleo_container_rm/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  promote-openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-7-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-7-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-7-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-7-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-7-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-7-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-7-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-7-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-7-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-7-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-7-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-7-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-7-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
  tripleo-ansible-centos-7-molecule-tripleo-clients-install: any of: ^tripleo_ansible/roles/tripleo-clients-install/.*
  tripleo-ansible-centos-7-molecule-tripleo-validations-package: any of: ^tripleo_ansible/roles/tripleo-validations-package/.*
  tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk: any of: ^tripleo_ansible/roles/tripleo-ovs-dpdk/.*
  tripleo-ansible-centos-7-molecule-tripleo-sshd: any of: ^tripleo_ansible/roles/tripleo-sshd/.*
  tripleo-ansible-centos-7-molecule-backup-and-restore: any of: ^tripleo_ansible/roles/backup-and-restore/.*
  tripleo-ansible-centos-7-molecule-tripleo-packages: any of: ^tripleo_ansible/roles/tripleo-packages/.*
  tripleo-ansible-centos-7-molecule-tripleo-hosts-entries: any of: ^tripleo_ansible/roles/tripleo-hosts-entries/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-manage: any of: ^tripleo_ansible/roles/tripleo-container-manage/.*
  tripleo-ansible-centos-7-molecule-tripleo-modules: any of: ^tripleo_ansible/ansible_plugins/.*$, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-keystone-resources: any of: ^tripleo_ansible/roles/tripleo-keystone-resources/.*
  tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper: any of: ^tripleo_ansible/roles/tripleo-systemd-wrapper/.*

Use jinja templating when setting facts
  tripleo_ansible/playbooks/rotate-keys.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

tripleo_all_nodes_data: Append server node IP to the list.
  tripleo_ansible/ansible_plugins/action/tripleo_all_nodes_data.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Don't call sdk.connect() again
  tripleo_ansible/ansible_plugins/modules/baremetal_register_or_update_nodes.py
  tripleo_ansible/ansible_plugins/modules/os_tripleo_baremetal_configure.py
Due: tripleo-ansible-centos-7-molecule-tripleo-modules

Allow passwords to be reset (force rotated)
  tripleo_ansible/playbooks/cli-update-deployment-plan.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Hide passwords better
  tripleo_ansible/playbooks/cli-create-deployment-plan.yaml
  tripleo_ansible/playbooks/cli-undercloud-backup.yaml
  tripleo_ansible/roles/backup_and_restore/tasks/db_backup.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Relax get_failed_containers() filter
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

tripleo_container_rm: fix check mode
  tripleo_ansible/roles/tripleo_container_rm/tasks/main.yml
  tripleo_ansible/roles/tripleo_container_rm/tasks/tripleo_docker_container_rm.yml
  tripleo_ansible/roles/tripleo_container_rm/tasks/tripleo_podman_container_rm.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade

container_puppet_config: don't show a warning if config_hash is empty
  tripleo_ansible/ansible_plugins/modules/container_puppet_config.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

tripleo_container_manage: add check mode testing
  tripleo_ansible/roles/tripleo_container_manage/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_container_manage/molecule/default/molecule.yml
Due: none

tripleo_container_rm: fix check mode
  tripleo_ansible/roles/tripleo-container-rm/tasks/main.yml
  tripleo_ansible/roles/tripleo-container-rm/tasks/tripleo_docker_container_rm.yml
  tripleo_ansible/roles/tripleo-container-rm/tasks/tripleo_podman_container_rm.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-rm

tripleo_container_manage: add check mode testing
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/playbook.yml
Due: tripleo-ansible-centos-7-molecule-tripleo-container-manage

tripleo_all_nodes_data: sort enabled_services (idempotency)
  tripleo_ansible/ansible_plugins/action/tripleo_all_nodes_data.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Link tripleo-ansible inventory for ceph-ansible with force
  tripleo_ansible/roles/tripleo-ceph-work-dir/tasks/prepare.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

tripleo_hieradata/molecule: add check mode testing
  tripleo_ansible/roles/tripleo_hieradata/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_hieradata/molecule/hieradata_vars/molecule.yml
Due: none

tripleo_hieradata/molecule: add check mode testing
  tripleo_ansible/roles/tripleo-hieradata/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-hieradata/molecule/hieradata_vars/molecule.yml
Due: tripleo-ansible-centos-7-molecule-tripleo-hieradata

tripleo_bootstrap: do not fail if OVS rpm wasn't found
  tripleo_ansible/roles/tripleo_bootstrap/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Update the auto-doc-plugin to support legacy file names
  doc/source/_exts/ansible-autodoc.py
Due: openstack-tox-docs, promote-openstack-tox-docs

Add a tripleo-common module util
  doc/source/conf.py
  tripleo_ansible/ansible_plugins/module_utils/tripleo_common_utils.py
  tripleo_ansible/ansible_plugins/modules/baremetal_register_or_update_nodes.py
  tripleo_ansible/ansible_plugins/modules/os_baremetal_node_info.py
  tripleo_ansible/ansible_plugins/modules/os_tripleo_baremetal_configure.py
  tripleo_ansible/ansible_plugins/modules/tripleo_fernet_keys_rotate.py
  tripleo_ansible/ansible_plugins/modules/tripleo_image_params_prepare.py
  tripleo_ansible/ansible_plugins/modules/tripleo_passwords_rotate.py
  tripleo_ansible/ansible_plugins/modules/tripleo_plan_deploy.py
  tripleo_ansible/ansible_plugins/modules/tripleo_plan_parameters_update.py
  tripleo_ansible/ansible_plugins/modules/tripleo_swift_tempurl.py
  tripleo_ansible/ansible_plugins/modules/tripleo_templates_upload.py
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules

tripleo_container_manage: optimize systemd services/healthcheck bootstrap
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/manage.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/start_order.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/systemd.yml
  tripleo_ansible/roles/tripleo_container_manage/templates/systemd-healthcheck.j2
  tripleo_ansible/roles/tripleo_container_manage/templates/systemd-service.j2
  tripleo_ansible/roles/tripleo_container_manage/templates/systemd-timer.j2
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade, tripleo-ansible-centos-7-molecule-tripleo-modules

Hide passwords better
  tripleo_ansible/playbooks/undercloud_backup.yaml
  tripleo_ansible/roles/backup-and-restore/backup/tasks/db_backup.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-backup-and-restore

Add ceph config overrides support
  tripleo_ansible/roles/tripleo-ceph-common/defaults/main.yml
  tripleo_ansible/roles/tripleo-ceph-work-dir/tasks/build_config_overrides.yml
  tripleo_ansible/roles/tripleo-ceph-work-dir/tasks/prepare.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Correctly set openstack_domains for ansible >= 2.9
  tripleo_ansible/roles/tripleo_keystone_resources/tasks/gather_domains_new.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

tripleo_bootstrap: do not fail if OVS rpm wasn't found
  tripleo_ansible/roles/tripleo-bootstrap/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-bootstrap

Switch install-docker with ensure-docker
  tripleo_ansible/roles/backup-and-restore/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-container-rm/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-container-stop/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-container-tag/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-podman/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-podman/molecule/login/prepare.yml
  zuul.d/playbooks/pre.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-container-stop, tripleo-ansible-centos-7-molecule-backup-and-restore

tripleo_container_manage: print message if no container action
  tripleo_ansible/roles/tripleo_container_manage/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade

Switch install-docker with ensure-docker
  tripleo_ansible/roles/backup_and_restore/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_container_rm/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_container_stop/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_container_tag/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_podman/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_podman/molecule/login/prepare.yml
  zuul.d/playbooks/pre.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade

[upgrade] Add inventory filters to map groups to roles
  tripleo_ansible/ansible_plugins/filter/tripleo_inventory.py
  tripleo_ansible/tests/plugins/filter/test_tripleo_inventory.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

tripleo_container_manage: add safeguard against wrong healthcheck config
  tripleo_ansible/roles/tripleo_container_manage/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_container_manage/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/systemd.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade

Add support for v2 registries.conf
  tripleo_ansible/roles/tripleo_podman/defaults/main.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_install.yml
  tripleo_ansible/roles/tripleo_podman/templates/registries.conf.j2
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

tripleo_container_manage: print message if no container action
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage

podman_container: only add --rm if rm is True
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Correctly set openstack_domains for ansible >= 2.9
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/gather_domains_new.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-keystone-resources

Simplify tripleo_container_rm to not check binaries
  tripleo_ansible/roles/tripleo_container_rm/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade
