Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario012-standalone, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-persist, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-7-molecule-login-defs, tripleo-ansible-centos-7-molecule-tripleo-ptp, tripleo-ansible-centos-7-molecule-tripleo-timezone, tripleo-ansible-centos-7-molecule-tripleo-config, tripleo-ansible-centos-7-molecule-tripleo-container-stop, tripleo-ansible-centos-7-molecule-tripleo-hieradata, tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-7-molecule-tripleo-kernel, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-7-molecule-tripleo-firewall, tripleo-ansible-centos-7-molecule-tripleo-securetty, tripleo-ansible-centos-7-molecule-tripleo-cellv2

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  tripleo-ci-centos-7-scenario004-standalone: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario010-standalone: (any of: ^tripleo_ansible/.*octavia.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario003-standalone: (any of: ^tripleo_ansible/roles/tripleo-create-admin/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario012-standalone: (any of: ^tripleo_ansible/roles/tripleo-module-load/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-7-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-7-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-7-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-7-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-7-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-7-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-7-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-7-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-7-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-7-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-7-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-7-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-7-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*

Adding setup_rear and setup_nfs task
  tripleo_ansible/roles/backup-and-restore/tasks/setup_nfs.yml
  tripleo_ansible/roles/backup-and-restore/tasks/setup_rear.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Adds new molecule testing for tripleo-container-manage
  bindep.txt
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Revert "Workaround for ansible-lint installation failure"
  .pre-commit-config.yaml
  tox.ini
Due: tripleo-ansible-centos-7-role-addition

zuul/container-manage: trigger molecule jobs on more files
  zuul.d/molecule.yaml
Due: none

Remove old Heat hosts entries in tripleo-hosts-entries
  tripleo_ansible/roles/tripleo-hosts-entries/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-hosts-entries/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Add the skeleton role as an irrelevant file for scenarios
  zuul.d/layout.yaml
Due: none

paunch: use utils.load_config()
  tripleo_ansible/ansible_plugins/modules/paunch.py
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: add check tasks to the molecule playbook
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/playbook.yml
Due: none

Use module command to run podman
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-scenario004-standalone

tox: Keeping going with docs
  molecule-requirements.txt
  tox.ini
Due: tripleo-ansible-centos-7-role-addition

Molecule job for testing plugins and modules
  tox.ini
  tripleo_ansible/ansible_plugins/modules/podman_container_info.py
  tripleo_ansible/ansible_plugins/modules/podman_volume_info.py
  tripleo_ansible/ansible_plugins/tests/.yamllint
  tripleo_ansible/ansible_plugins/tests/molecule/podman_container/molecule.yml
  tripleo_ansible/ansible_plugins/tests/molecule/podman_container/playbook.yml
  tripleo_ansible/ansible_plugins/tests/molecule/podman_container/prepare.yml
  tripleo_ansible/ansible_plugins/tests/molecule/podman_container_info/molecule.yml
  tripleo_ansible/ansible_plugins/tests/molecule/podman_container_info/playbook.yml
  tripleo_ansible/ansible_plugins/tests/molecule/podman_container_info/prepare.yml
  tripleo_ansible/ansible_plugins/tests/molecule/podman_volume_info/molecule.yml
  tripleo_ansible/ansible_plugins/tests/molecule/podman_volume_info/playbook.yml
  tripleo_ansible/ansible_plugins/tests/molecule/podman_volume_info/prepare.yml
  tripleo_ansible/playbooks/podman_tests.yml
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman.yaml
  zuul.d/molecule.yaml
  zuul.d/playbooks/run.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-role-addition

tripleo-container-manage - first support for idempotency
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo-container-manage/tasks/create_podman.yaml
  tripleo_ansible/roles/tripleo-container-manage/tasks/delete_podman.yaml
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-healthcheck.j2
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-timer.j2
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: include_tasks to speed things up
  tripleo_ansible/roles/tripleo-container-manage/tasks/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/create_podman.yaml
  tripleo_ansible/roles/tripleo-container-manage/tasks/delete.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/delete.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/exec.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/systemd.yml
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: introduce concurrency
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo-container-manage/defaults/main.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/exec.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/start_order.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/systemd.yml
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-healthcheck.j2
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-service.j2
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-timer.j2
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: fix log_opt
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Fix the filter plugin location for triple-ovs-dpdk role
  tripleo_ansible/ansible_plugins/filter/cpu_mask.py
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: some nits fixed
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Fix network hostnames in tripleo-hosts-entries
  tripleo_ansible/roles/tripleo-hosts-entries/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo-hosts-entries/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Add support for --limit option into ceph-ansible call
  tripleo_ansible/roles/tripleo-ceph-run-ansible/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible

Run undercloud-containers job in check/gate
  zuul.d/layout.yaml
Due: none

Relax needs_delete() filter
  tripleo_ansible/ansible_plugins/filter/helpers.py
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: add task to start systemd healthcheck service
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/systemd.yml
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: fix exec check
  tripleo_ansible/roles/tripleo-container-manage/tasks/delete.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/exec.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/start_order.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Idempotency for podman_container
  tripleo_ansible/ansible_plugins/modules/podman_container.py
  tripleo_ansible/ansible_plugins/tests/molecule/podman_container/playbook.yml
  tripleo_ansible/ansible_plugins/tests/molecule/podman_container/prepare.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Fix ssh_known_hosts hostname entries
  releasenotes/notes/fix_ssh-known-hosts-2520b9d6f67458b7.yaml
  tripleo_ansible/roles/tripleo-ssh-known-hosts/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts

Fix enabled_services to include all_nodes_extra_map_data
  tripleo_ansible/roles/tripleo-hieradata/templates/all_nodes.j2
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-hieradata

Prefer ovn_dbs_vip from all_nodes_extra_map_data
  tripleo_ansible/roles/tripleo-hieradata/templates/all_nodes.j2
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-hieradata

Include ceph-ansible filter_plugins
  tripleo_ansible/roles/tripleo-ceph-run-ansible/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible

Create role to do puppet cache actions
  doc/source/roles/role-tripleo-puppet-cache.rst
  tripleo_ansible/roles/tripleo-puppet-cache/defaults/main.yml
  tripleo_ansible/roles/tripleo-puppet-cache/meta/main.yml
  tripleo_ansible/roles/tripleo-puppet-cache/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-puppet-cache/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-puppet-cache/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-puppet-cache/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-puppet-cache/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo-puppet-cache/tasks/main.yml
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: use async
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo-container-manage/tasks/container_running.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/exec.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/manage.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/systemd.yml
Due: tripleo-ci-centos-7-scenario004-standalone

normalize newlines at end of file
  LICENSE
  _skeleton_role_/defaults/main.yml.j2
  _skeleton_role_/meta/main.yml.j2
  _skeleton_role_/molecule/default/Dockerfile.j2
  _skeleton_role_/molecule/default/playbook.yml.j2
  doc/source/roles/role-backup-and-restore.rst
  tripleo_ansible/roles/aide/molecule/default/Dockerfile
  tripleo_ansible/roles/octavia-controller-config/templates/ifcfg.j2
  tripleo_ansible/roles/test_json_error_callback/molecule/default/Dockerfile
  tripleo_ansible/roles/test_package_action/molecule/default/Dockerfile
  tripleo_ansible/roles/test_package_action/molecule/negative/Dockerfile
  tripleo_ansible/roles/test_package_action/molecule/positive/Dockerfile
  tripleo_ansible/roles/tripleo-image-serve/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-image-serve/molecule/legacy_vars/Dockerfile
  tripleo_ansible/roles/tuned/molecule/default/Dockerfile
  tripleo_ansible/roles/tuned/molecule/isolated/Dockerfile
Due: tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-image-serve

Revert "Fix ssh_known_hosts hostname entries"
  releasenotes/notes/fix_ssh-known-hosts-2520b9d6f67458b7.yaml
  tripleo_ansible/roles/tripleo-ssh-known-hosts/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts

Use more exact path to Zuul source dir
  zuul.d/molecule.yaml
  zuul.d/playbooks/pre.yml
  zuul.d/playbooks/run.yml
Due: none

Don't install docker on rhel/centos 8
  zuul.d/playbooks/pre.yml
Due: none

Lists python packages from test-python environment
  scripts/run-local-test
  zuul.d/molecule.yaml
  zuul.d/playbooks/pre.yml
Due: none
