Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-aide, tripleo-ansible-centos-8-molecule-tripleo_auditd, tripleo-ansible-centos-8-molecule-backup-and-restore, tripleo-ansible-centos-8-molecule-test_deps, tripleo-ansible-centos-8-molecule-test_json_error_callback, tripleo-ansible-centos-8-molecule-test_package_action, tripleo-ansible-centos-8-molecule-tripleo-bootstrap, tripleo-ansible-centos-8-molecule-tuned, tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-create-admin, tripleo-ansible-centos-8-molecule-tripleo-module-load, tripleo-ansible-centos-8-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-8-molecule-tripleo-container-tag, tripleo-ansible-centos-8-molecule-tripleo-container-rm, tripleo-ansible-centos-8-molecule-tripleo-image-serve, tripleo-ansible-centos-8-molecule-tripleo-transfer, tripleo-ansible-centos-8-molecule-tripleo-podman, tripleo-ansible-centos-8-molecule-tripleo-persist, tripleo-ansible-centos-8-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-8-molecule-login-defs, tripleo-ansible-centos-8-molecule-tripleo-ptp, tripleo-ansible-centos-8-molecule-tripleo-timezone, tripleo-ansible-centos-8-molecule-tripleo-config, tripleo-ansible-centos-8-molecule-tripleo-container-image-build, tripleo-ansible-centos-8-molecule-tripleo-container-stop, tripleo-ansible-centos-8-molecule-tripleo-hieradata, tripleo-ansible-centos-8-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-8-molecule-tripleo_lvmfilter, tripleo-ansible-centos-8-molecule-tripleo_multipathd, tripleo-ansible-centos-8-molecule-tripleo-network-config, tripleo-ansible-centos-8-molecule-tripleo-kernel, tripleo-ansible-centos-8-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-8-molecule-tripleo-firewall, tripleo-ansible-centos-8-molecule-tripleo-securetty, tripleo-ansible-centos-8-molecule-tripleo-cellv2, tripleo-ansible-centos-8-molecule-tripleo-clients-install, tripleo-ansible-centos-8-molecule-tripleo-redhat-enforce, tripleo-ansible-centos-8-molecule-tripleo-sshd, tripleo-ansible-centos-8-molecule-tripleo-hosts-entries, tripleo-ansible-centos-8-molecule-tripleo-container-manage, tripleo-ansible-centos-8-molecule-tripleo-modules, tripleo-ansible-centos-8-molecule-tripleo-keystone-resources, tripleo-ansible-centos-8-molecule-tripleo-systemd-wrapper, tripleo-ansible-centos-8-molecule-tripleo_nvdimm, tripleo-ansible-centos-8-molecule-tripleo_ha_wrapper, tripleo-ansible-centos-8-molecule-tripleo_nodes_validation, tripleo-ansible-centos-8-molecule-tripleo_ovn_cluster

tripleo-ansible-docs:
  parent: openstack-tox-docs

tripleo-ansible-centos-7-molecule-aide:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-aide

tripleo-ansible-centos-7-molecule-test_deps:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_deps

tripleo-ansible-centos-7-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_json_error_callback

tripleo-ansible-centos-7-molecule-test_package_action:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_package_action

tripleo-ansible-centos-7-molecule-tuned:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-tuned

tripleo-ansible-centos-8-molecule-aide:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: aide

tripleo-ansible-centos-8-molecule-tripleo_auditd:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo_auditd

tripleo-ansible-centos-8-molecule-backup-and-restore:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: backup-and-restore

tripleo-ansible-centos-8-molecule-test_deps:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: test_deps

tripleo-ansible-centos-8-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: test_json_error_callback

tripleo-ansible-centos-8-molecule-test_package_action:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: test_package_action

tripleo-ansible-centos-8-molecule-tripleo-bootstrap:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-bootstrap

tripleo-ansible-centos-8-molecule-tuned:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tuned

tripleo-ansible-centos-8-role-addition:
  parent: tripleo-ansible-centos-8-base
  timeout: 1800
  vars:
    tox_envlist: role-addition

tripleo-ansible-centos-8-molecule-tripleo-create-admin:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-create-admin

tripleo-ansible-centos-8-molecule-tripleo-module-load:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-module-load

tripleo-ansible-centos-8-molecule-tripleo-ssh-known-hosts:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-ssh-known-hosts

tripleo-ansible-centos-8-molecule-tripleo-container-tag:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-container-tag

tripleo-ansible-centos-8-molecule-tripleo-container-rm:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-container-rm

tripleo-ansible-centos-8-molecule-tripleo-image-serve:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-image-serve

tripleo-ansible-centos-8-molecule-tripleo-transfer:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-transfer

Allow overriding keystone username by parameter
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/users.yml
Due: tripleo-ansible-centos-8-molecule-tripleo-keystone-resources

Make creating/updating users idempotent
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/admin.yml
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/users.yml
Due: tripleo-ansible-centos-8-molecule-tripleo-keystone-resources

Move cryprography pin
  ansible-requirements.txt
  molecule-requirements.txt
  tox.ini
  tripleo_ansible/roles/tripleo_keystone_resources/molecule/default/start_keystone.sh
  zuul.d/playbooks/run-role-addition.yml
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-modules

Enable --retain option for zebra daemon
  tripleo_ansible/roles/tripleo_frr/templates/daemons.j2
Due: none

Remove unnecesary tls-verify
  tripleo_ansible/roles/tripleo_podman/defaults/main.yml
  tripleo_ansible/roles/tripleo_podman/molecule/login/converge.yml
  tripleo_ansible/roles/tripleo_podman/molecule/login/prepare.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_buildah_login.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_login.yml
Due: none

Fix molecule jobs broken with latest cryptography
  molecule-requirements.txt
  tripleo_ansible/roles/tripleo_keystone_resources/molecule/default/Dockerfile.keystone
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-modules

Move cryprography pin
  ansible-requirements.txt
  molecule-requirements.txt
  tox.ini
  tripleo_ansible/roles/tripleo_keystone_resources/molecule/default/start_keystone.sh
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-modules

Make creating/updating users idempotent
  tripleo_ansible/roles/tripleo_keystone_resources/tasks/admin.yml
  tripleo_ansible/roles/tripleo_keystone_resources/tasks/users.yml
Due: none

Fix compatibility with Ansible 2.14
  tripleo_ansible/ansible_plugins/callback/tripleo.py
  tripleo_ansible/ansible_plugins/callback/tripleo_dense.py
  tripleo_ansible/ansible_plugins/strategy/tripleo_base.py
  tripleo_ansible/ansible_plugins/strategy/tripleo_linear.py
  tripleo_ansible/playbooks/rotate-keys.yaml
  tripleo_ansible/roles/backup_and_restore/tasks/run_backup.yml
  tripleo_ansible/roles/tripleo_bootstrap/tasks/bootstrap.yml
  tripleo_ansible/roles/tripleo_bootstrap/tasks/packages.yml
  tripleo_ansible/roles/tripleo_bootstrap/tasks/puppet.yml
  tripleo_ansible/roles/tripleo_packages/tasks/upgrade.yml
  tripleo_ansible/roles/tuned/tasks/tuned_install.yml
Due: tripleo-ansible-centos-7-molecule-tuned, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tuned, tripleo-ansible-centos-8-molecule-tripleo-modules

Add missing vars for tripleo-standalone-vars
  scripts/tripleo-standalone-vars
Due: none

Improved way of detecting Galera cluster is up&running
  tripleo_ansible/roles/backup-and-restore/backup/tasks/db_backup.yml
  tripleo_ansible/roles/backup-and-restore/backup/tasks/pacemaker_start.yml
Due: tripleo-ansible-centos-8-molecule-backup-and-restore

[ffwd3] Use tripleo tags in network extraction
  tripleo_ansible/ansible_plugins/modules/tripleo_overcloud_network_extract.py
  tripleo_ansible/ansible_plugins/modules/tripleo_overcloud_network_vip_extract.py
  tripleo_ansible/tests/modules/test_tripleo_overcloud_network_extract.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Ensure $tuned_params is restored after grub2-mkconfig
  tripleo_ansible/roles/tripleo_kernel/tasks/kernelargs.yml
Due: none

Correct constant's spelling error
  tripleo_ansible/ansible_plugins/modules/tripleo_overcloud_network_extract.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Mass corrections of molecule scenarios
  tripleo_ansible/roles/snapshot_and_revert/molecule/default/molecule.yml
  tripleo_ansible/roles/test_deps/tasks/main.yml
  tripleo_ansible/roles/tripleo_auditd/molecule/custom_rules/converge.yml
  tripleo_ansible/roles/tripleo_auditd/molecule/custom_rules/molecule.yml
  tripleo_ansible/roles/tripleo_auditd/molecule/custom_rules/prepare.yml
Due: tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-8-molecule-tripleo_auditd, tripleo-ansible-centos-8-molecule-test_deps

Trigger all molecule jobs if we modify molecule-requirements
  role-addition.yml
  zuul.d/molecule.yaml
Due: tripleo-ansible-centos-8-role-addition

Remove cryptography pin
  ansible-requirements.txt
  molecule-requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-modules

Drop ansible-core pin from requirements
  ansible-requirements.txt
  doc/requirements.txt
  molecule-requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-modules

Use uc for tox py* targets
  tox.ini
Due: tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-modules

Designate: allow enabling bind query logging
  tripleo_ansible/roles/designate_bind_config/defaults/main.yml
  tripleo_ansible/roles/designate_bind_config/templates/options.conf.j2
Due: none

Designate: disable listening on IP version not in use
  tripleo_ansible/roles/designate_bind_config/templates/options.conf.j2
Due: none

Change keystone region used in cinder auth
  tripleo_ansible/roles/tripleo_nova_compute/defaults/main.yml
Due: none

Rename the files tasks.
  tripleo_ansible/playbooks/cli-container-registry-config.yaml
  tripleo_ansible/playbooks/deploy-tripleo-os-configure.yml
  tripleo_ansible/playbooks/deploy-tripleo-os-install.yml
  tripleo_ansible/roles/tripleo_podman/molecule/login/converge.yml
  tripleo_ansible/roles/tripleo_podman/molecule/login/prepare.yml
  tripleo_ansible/roles/tripleo_podman/tasks/buildah_login.yml
  tripleo_ansible/roles/tripleo_podman/tasks/configure.yml
  tripleo_ansible/roles/tripleo_podman/tasks/install.yml
  tripleo_ansible/roles/tripleo_podman/tasks/login.yml
  tripleo_ansible/roles/tripleo_podman/tasks/main.yml
  tripleo_ansible/roles/tripleo_podman/tasks/purge.yml
  tripleo_ansible/roles/tripleo_podman/tasks/rsyslog.yml
  tripleo_ansible/roles/tripleo_podman/tasks/rsyslog_cleanup.yml
  tripleo_ansible/roles/tripleo_podman/tasks/service.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_install.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_login.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_purge.yml
Due: none

[TRAIN-ONLY] Rotate ceph_ansible_command.log
  tripleo_ansible/roles/tripleo-ceph-run-ansible/tasks/main.yml
Due: tripleo-ansible-centos-8-molecule-tripleo-ceph-run-ansible

nova-compute: Remove old workaround to purge nova packages
  tripleo_ansible/roles/tripleo_nova_compute/tasks/scale.yml
Due: none

Enable start of FRR for non-root user
  tripleo_ansible/roles/tripleo_frr/templates/daemons.j2
Due: none

Fix missing links for old names
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_rsyslog_cleanup.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_service.yml
Due: none

Modify how tripleo_nftables gets its configurations
  tripleo_ansible/ansible_plugins/modules/tripleo_nftables_from_files.py
  tripleo_ansible/ansible_plugins/modules/tripleo_nftables_snippet.py
  tripleo_ansible/roles/tripleo_firewall/defaults/main.yml
  tripleo_ansible/roles/tripleo_firewall/tasks/main.yml
  tripleo_ansible/roles/tripleo_nftables/defaults/main.yml
  tripleo_ansible/roles/tripleo_nftables/files/00-base-rules.yaml
  tripleo_ansible/roles/tripleo_nftables/molecule/action/converge.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/action/prepare.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/destination/converge.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/source/converge.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/source/prepare.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/update_rules/converge.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/update_rules/molecule.yml
  tripleo_ansible/roles/tripleo_nftables/molecule/update_rules/prepare.yml
  tripleo_ansible/roles/tripleo_nftables/tasks/cleanup.yml
  tripleo_ansible/roles/tripleo_nftables/tasks/configure.yml
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

bnr - Make the galera desync retries and delay configurable
  tripleo_ansible/roles/backup_and_restore/defaults/main.yml
  tripleo_ansible/roles/backup_and_restore/tasks/db_backup.yml
Due: none

Add podman_socket role
  tripleo_ansible/roles/tripleo_podman/defaults/main.yml
  tripleo_ansible/roles/tripleo_podman/meta/main.yml
  tripleo_ansible/roles/tripleo_podman/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_podman/molecule/login/prepare.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_rsyslog_cleanup.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_service.yml
  tripleo_ansible/roles/tripleo_podman/templates/podman.service.j2
Due: none

Ensure english locale when running the command for ovs checks.
  tripleo_ansible/ansible_plugins/modules/tripleo_ovs_upgrade.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Add support for new ovn-bgp-agent config flag
  tripleo_ansible/roles/tripleo_frr/defaults/main.yml
  tripleo_ansible/roles/tripleo_frr/templates/ovn-bgp-agent.conf.j2
Due: none

Sync: Use ansible group var to detect instance ha
  tripleo_ansible/roles/tripleo_nova_compute/tasks/install.yml
Due: none

Drop unused vars for cells v2 discover tasks
  tripleo_ansible/playbooks/create-nova-cell-v2.yaml
  tripleo_ansible/roles/tripleo_cellv2/defaults/main.yml
  tripleo_ansible/roles/tripleo_cellv2/tasks/add_internalapi_hosts_entries.yml
  tripleo_ansible/roles/tripleo_cellv2/tasks/check_cell_exist.yml
  tripleo_ansible/roles/tripleo_cellv2/tasks/create_cell.yml
  tripleo_ansible/roles/tripleo_cellv2/tasks/discover_hosts.yml
Due: none

Don't use meta:end_play after growvols check
  tripleo_ansible/playbooks/cli-overcloud-node-growvols.yaml
Due: none

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt, ^tripleo_ansible/ansible_plugins/.*
  promote-openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt, ^tripleo_ansible/ansible_plugins/.*
  tripleo-ansible-centos-8-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-8-molecule-tripleo_auditd: any of: ^tripleo_ansible/roles/tripleo_auditd/(?!meta).*
  tripleo-ansible-centos-8-molecule-backup-and-restore: any of: ^tripleo_ansible/roles/backup-and-restore/.*
  tripleo-ansible-centos-8-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-8-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-8-molecule-test_package_action: any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*
  tripleo-ansible-centos-8-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-8-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  tripleo-ansible-centos-8-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-8-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-8-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-8-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-8-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-8-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-8-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-8-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-8-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-8-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-8-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-8-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-8-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-image-build: any of: ^tripleo_ansible/roles/tripleo-container-image-build/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-8-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-8-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-8-molecule-tripleo_lvmfilter: any of: ^tripleo_ansible/roles/tripleo_lvmfilter/.*
  tripleo-ansible-centos-8-molecule-tripleo_multipathd: any of: ^tripleo_ansible/roles/tripleo_multipathd/.*
  tripleo-ansible-centos-8-molecule-tripleo-network-config: any of: ^tripleo_ansible/roles/tripleo-network-config/.*
  tripleo-ansible-centos-8-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-8-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-8-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-8-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
  tripleo-ansible-centos-8-molecule-tripleo-clients-install: any of: ^tripleo_ansible/roles/tripleo-clients-install/.*
  tripleo-ansible-centos-8-molecule-tripleo-redhat-enforce: any of: ^tripleo_ansible/roles/tripleo-redhat-enforce/.*
  tripleo-ansible-centos-8-molecule-tripleo-sshd: any of: ^tripleo_ansible/roles/tripleo-sshd/.*
  tripleo-ansible-centos-8-molecule-tripleo-hosts-entries: any of: ^tripleo_ansible/roles/tripleo-hosts-entries/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-manage: any of: ^zuul.d/playbooks/pre.yml, ^tripleo_ansible/roles/tripleo-container-manage/.*, ^tripleo_ansible/roles/tripleo-container-rm/.*, ^tripleo_ansible/ansible_plugins/action/container_status.py$, ^tripleo_ansible/ansible_plugins/action/container_systemd.py$, ^tripleo_ansible/ansible_plugins/filter/helpers.py$, ^tripleo_ansible/ansible_plugins/modules/container_config_data.py$, ^tripleo_ansible/ansible_plugins/modules/container_puppet_config.py$, ^tripleo_ansible/ansible_plugins/modules/container_startup_config.py$, ^tripleo_ansible/ansible_plugins/modules/podman_container.py$, ^tripleo_ansible/ansible_plugins/modules/podman_container_info.py$
  tripleo-ansible-centos-8-molecule-tripleo-modules: any of: ^tripleo_ansible/ansible_plugins/.*$, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-8-molecule-tripleo-keystone-resources: any of: ^tripleo_ansible/roles/tripleo-keystone-resources/.*
  tripleo-ansible-centos-8-molecule-tripleo-systemd-wrapper: any of: ^tripleo_ansible/roles/tripleo-systemd-wrapper/.*
  tripleo-ansible-centos-8-molecule-tripleo_nvdimm: any of: ^tripleo_ansible/roles/tripleo_nvdimm/.*
  tripleo-ansible-centos-8-molecule-tripleo_ha_wrapper: any of: ^tripleo_ansible/roles/tripleo_ha_wrapper/.*
  tripleo-ansible-centos-8-molecule-tripleo_nodes_validation: any of: ^tripleo_ansible/roles/tripleo_nodes_validation/.*
  tripleo-ansible-centos-8-molecule-tripleo_ovn_cluster: any of: ^tripleo_ansible/roles/tripleo_ovn_cluster/.*
