Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-scenario003-standalone, tripleo-ci-centos-8-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-standalone-upgrade, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-persist, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-7-molecule-login-defs, tripleo-ansible-centos-7-molecule-tripleo-ptp, tripleo-ansible-centos-7-molecule-tripleo-timezone, tripleo-ansible-centos-7-molecule-tripleo-config, tripleo-ansible-centos-7-molecule-tripleo-container-stop, tripleo-ansible-centos-7-molecule-tripleo-hieradata, tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-7-molecule-tripleo-kernel, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-7-molecule-tripleo-firewall, tripleo-ansible-centos-7-molecule-tripleo-securetty, tripleo-ansible-centos-7-molecule-tripleo-cellv2, tripleo-ansible-centos-7-molecule-tripleo-clients-install, tripleo-ansible-centos-7-molecule-tripleo-validations-package, tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk, tripleo-ansible-centos-7-molecule-tripleo-sshd, tripleo-ansible-centos-7-molecule-backup-and-restore, tripleo-ansible-centos-7-molecule-tripleo-packages, tripleo-ansible-centos-7-molecule-tripleo-hosts-entries, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules, tripleo-ansible-centos-7-molecule-tripleo-keystone-resources, tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt
  tripleo-ci-centos-7-containers-multinode: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-standalone: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-containers-undercloud-minion: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-undercloud-containers: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario001-standalone: (any of: ^tripleo_ansible/roles/tripleo_ceph_.*/.*, ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*, ^setup.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario002-standalone: (any of: ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario003-standalone: (any of: ^tripleo_ansible/roles/tripleo_create_admin/.*, ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario004-standalone: (any of: ^tripleo_ansible/roles/tripleo_ceph_.*/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-scenario010-standalone: (any of: ^tripleo_ansible/.*octavia.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-standalone-upgrade: (any of: ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*, ^tripleo_ansible/roles/tripleo_container_manage/.*, ^tripleo_ansible/roles/tripleo_container_rm/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  promote-openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-7-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-7-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-7-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-7-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-7-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-7-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-7-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-7-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-7-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-7-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-7-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-7-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-7-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
  tripleo-ansible-centos-7-molecule-tripleo-clients-install: any of: ^tripleo_ansible/roles/tripleo-clients-install/.*
  tripleo-ansible-centos-7-molecule-tripleo-validations-package: any of: ^tripleo_ansible/roles/tripleo-validations-package/.*
  tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk: any of: ^tripleo_ansible/roles/tripleo-ovs-dpdk/.*
  tripleo-ansible-centos-7-molecule-tripleo-sshd: any of: ^tripleo_ansible/roles/tripleo-sshd/.*
  tripleo-ansible-centos-7-molecule-backup-and-restore: any of: ^tripleo_ansible/roles/backup-and-restore/.*
  tripleo-ansible-centos-7-molecule-tripleo-packages: any of: ^tripleo_ansible/roles/tripleo-packages/.*
  tripleo-ansible-centos-7-molecule-tripleo-hosts-entries: any of: ^tripleo_ansible/roles/tripleo-hosts-entries/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-manage: any of: ^tripleo_ansible/roles/tripleo-container-manage/.*
  tripleo-ansible-centos-7-molecule-tripleo-modules: any of: ^tripleo_ansible/ansible_plugins/.*$, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-keystone-resources: any of: ^tripleo_ansible/roles/tripleo-keystone-resources/.*
  tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper: any of: ^tripleo_ansible/roles/tripleo-systemd-wrapper/.*

[upgrade] Add inventory filters to map groups to roles
  tripleo_ansible/ansible_plugins/filter/tripleo_inventory.py
  tripleo_ansible/tests/plugins/filter/test_tripleo_inventory.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

tripleo_container_manage/systemd: add retries mechanism
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/systemd.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade

Create Symlink /usr/bin/ansible-playbook-3 when not exist
  tripleo_ansible/roles/tripleo_bootstrap/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Simplify tripleo_container_rm to not check binaries
  tripleo_ansible/roles/tripleo-container-rm/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-rm

tripleo_container_manage: extract get_commands into playbooks
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/exec.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/get_commands_create.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/get_commands_exec.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade

tripleo_container_manage: manage systemd services per step vs start_order
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo_container_manage/tasks/create.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/start_order.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/systemd.yml
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade, tripleo-ansible-centos-7-molecule-tripleo-modules

Add new role to manage persistent memory devices
  doc/source/roles/role-tripleo_nvdimm.rst
  tripleo_ansible/roles/tripleo_nvdimm/defaults/main.yml
  tripleo_ansible/roles/tripleo_nvdimm/files/.gitkeep
  tripleo_ansible/roles/tripleo_nvdimm/handlers/main.yml
  tripleo_ansible/roles/tripleo_nvdimm/meta/main.yml
  tripleo_ansible/roles/tripleo_nvdimm/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo_nvdimm/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_nvdimm/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_nvdimm/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_nvdimm/molecule/default/tests/test_default.py
  tripleo_ansible/roles/tripleo_nvdimm/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo_nvdimm/tasks/create_namespaces.yml
  tripleo_ansible/roles/tripleo_nvdimm/tasks/main.yml
  tripleo_ansible/roles/tripleo_nvdimm/vars/.gitkeep
  zuul.d/molecule.yaml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs

Create Symlink /usr/bin/ansible-playbook-3 when not exist
  tripleo_ansible/roles/tripleo-bootstrap/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-bootstrap

[train-squash] tripleo_container_manage: backport systemd optimizations
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/manage.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/start_order.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/systemd.yml
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-healthcheck.j2
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-service.j2
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-timer.j2
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules

tripleo_container_manage/systemd: add retries mechanism
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/systemd.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage

Revert "Add strategy optimization"
  tripleo_ansible/ansible_plugins/strategy/linear.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

tripleo_container_rm: use loop instead of with_items
  tripleo_ansible/roles/tripleo_container_rm/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade

Remove mistral user access to config-download work dir
  tripleo_ansible/playbooks/cli-grant-local-access.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

tripleo_container_manage: extract get_commands into playbooks
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/exec.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/get_commands_create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/get_commands_exec.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage

Update method name to be more accurate
  tripleo_ansible/ansible_plugins/module_utils/tripleo_common_utils.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

tripleo_container_manage: manage systemd services per step vs start_order
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo-container-manage/tasks/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/start_order.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/systemd.yml
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules

tripleo_container_manage: set empty default to systemd registers
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/systemd.yml
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade, tripleo-ansible-centos-7-molecule-tripleo-modules

tripleo_container_manage: trim down ansible tasks
  tripleo_ansible/roles/tripleo-container-manage/tasks/container_running.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/check_exit_code.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/systemd.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage

tripleo_container_manage: remove systemd healthchecks
  doc/source/roles/role-tripleo_container_manage.rst
  releasenotes/notes/podman_heathcheck_v2-b3d4db0aeaf03519.yaml
  tripleo_ansible/ansible_plugins/modules/podman_container.py
  tripleo_ansible/roles/tripleo_container_manage/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_container_manage/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/cleanup_healthcheck.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/stat_healthcheck.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/systemd.yml
  tripleo_ansible/roles/tripleo_container_manage/templates/systemd-healthcheck.j2
  tripleo_ansible/roles/tripleo_container_manage/templates/systemd-timer.j2
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules

tripleo_container_manage: trim down ansible tasks
  tripleo_ansible/roles/tripleo_container_manage/tasks/container_running.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/create.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/check_exit_code.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/systemd.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade

Add connection check before configuring tripleo-admin
  tripleo_ansible/playbooks/cli-enable-ssh-admin.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Fix the swift-rings container suffix
  tripleo_ansible/playbooks/cli-deploy-deployment-plan.yaml
  tripleo_ansible/playbooks/cli-update-deployment-plan.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Octavia: handle empty amphora image search result
  tripleo_ansible/roles/octavia_undercloud/tasks/image_mgmt.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-scenario010-standalone

Fix typo in sync script string container name comparison
  tripleo_ansible/roles/tripleo_systemd_wrapper/templates/service_sync.j2
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Change Ansible group from overcloud to allovercloud.
  tripleo_ansible/roles/tripleo_hosts_entries/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_hosts_entries/tasks/main.yml
  tripleo_ansible/roles/tripleo_ssh_known_hosts/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_ssh_known_hosts/molecule/no_networks/molecule.yml
  tripleo_ansible/roles/tripleo_ssh_known_hosts/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Fix swift_ring_rebalance.yaml playbook
  tripleo_ansible/playbooks/swift_ring_rebalance.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Add ansible hieradata file
  tripleo_ansible/roles/tripleo_hieradata/defaults/main.yml
  tripleo_ansible/roles/tripleo_hieradata/molecule/ansible_hieradata/Dockerfile
  tripleo_ansible/roles/tripleo_hieradata/molecule/ansible_hieradata/converge.yml
  tripleo_ansible/roles/tripleo_hieradata/molecule/ansible_hieradata/molecule.yml
  tripleo_ansible/roles/tripleo_hieradata/molecule/ansible_hieradata/prepare.yml
  tripleo_ansible/roles/tripleo_hieradata/tasks/ansible_hieradata.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-scenario003-standalone, tripleo-ci-centos-7-standalone-upgrade

Add filters used to process data for derived params
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

tripleo_redhat_enforce new role to enforce RHOSP constraints.
  doc/source/roles/role-tripleo_redhat_enforce.rst
  tripleo_ansible/roles/tripleo_redhat_enforce/defaults/main.yml
  tripleo_ansible/roles/tripleo_redhat_enforce/meta/main.yml
  tripleo_ansible/roles/tripleo_redhat_enforce/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo_redhat_enforce/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_redhat_enforce/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_redhat_enforce/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_redhat_enforce/tasks/enforce_release.yml
  tripleo_ansible/roles/tripleo_redhat_enforce/tasks/main.yml
  tripleo_ansible/roles/tripleo_redhat_enforce/vars/redhat.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs

Add userspace-tso configuration in open_vswitch
  doc/source/roles/role-tripleo-ovs-dpdk.rst
  tripleo_ansible/roles/tripleo_ovs_dpdk/defaults/main.yml
  tripleo_ansible/roles/tripleo_ovs_dpdk/molecule/default/tests/test_default.py
  tripleo_ansible/roles/tripleo_ovs_dpdk/molecule/positive/converge.yml
  tripleo_ansible/roles/tripleo_ovs_dpdk/molecule/positive/tests/test_positive.py
  tripleo_ansible/roles/tripleo_ovs_dpdk/tasks/config.yml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs

Use shared volume for side-car wrapper locks
  tripleo_ansible/roles/tripleo_systemd_wrapper/templates/service_sync.j2
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

[Community goal] Update contributor documentation
  doc/source/contributing_roles.rst
  doc/source/contributor/contributing.rst
  doc/source/index.rst
Due: openstack-tox-docs, promote-openstack-tox-docs

Avoid broken dogpile.cache
  molecule-requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-modules

Add a new set of modules to support derived params
  doc/source/modules/modules-tripleo_get_flatten_stack.rst
  doc/source/modules/modules-tripleo_get_flavor_profile.rst
  doc/source/modules/modules-tripleo_get_introspected_data.rst
  doc/source/modules/modules-tripleo_get_role_list.rst
  doc/source/modules/modules-tripleo_reset_params.rst
  tripleo_ansible/ansible_plugins/module_utils/tripleo_common_utils.py
  tripleo_ansible/ansible_plugins/modules/baremetal_register_or_update_nodes.py
  tripleo_ansible/ansible_plugins/modules/tripleo_fernet_keys_rotate.py
  tripleo_ansible/ansible_plugins/modules/tripleo_get_flatten_stack.py
  tripleo_ansible/ansible_plugins/modules/tripleo_get_flavor_profile.py
  tripleo_ansible/ansible_plugins/modules/tripleo_get_introspected_data.py
  tripleo_ansible/ansible_plugins/modules/tripleo_get_role_list.py
  tripleo_ansible/ansible_plugins/modules/tripleo_image_params_prepare.py
  tripleo_ansible/ansible_plugins/modules/tripleo_nova_image_cache.py
  tripleo_ansible/ansible_plugins/modules/tripleo_passwords_rotate.py
  tripleo_ansible/ansible_plugins/modules/tripleo_plan_deploy.py
  tripleo_ansible/ansible_plugins/modules/tripleo_plan_parameters_update.py
  tripleo_ansible/ansible_plugins/modules/tripleo_reset_params.py
  tripleo_ansible/ansible_plugins/modules/tripleo_swift_tempurl.py
  tripleo_ansible/ansible_plugins/modules/tripleo_templates_upload.py
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules

Pin sh library used for molecule tests
  molecule-requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-modules

container_manage: introduce create_retries and exec_retries vars
  tripleo_ansible/roles/tripleo_container_manage/defaults/main.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/exec.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade

container_manage: introduce create_retries and exec_retries vars
  tripleo_ansible/roles/tripleo-container-manage/defaults/main.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/exec.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage

tripleo-redhat-enforce new role to enforce RHOSP constraints.
  doc/source/roles/role-tripleo-redhat-enforce.rst
  tripleo_ansible/roles/tripleo-redhat-enforce/defaults/main.yml
  tripleo_ansible/roles/tripleo-redhat-enforce/meta/main.yml
  tripleo_ansible/roles/tripleo-redhat-enforce/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-redhat-enforce/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-redhat-enforce/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-redhat-enforce/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-redhat-enforce/tasks/enforce_release.yml
  tripleo_ansible/roles/tripleo-redhat-enforce/tasks/main.yml
  tripleo_ansible/roles/tripleo-redhat-enforce/vars/redhat.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs

Add module and playbook for overcloudrc generation
  doc/source/modules/modules-tripleo_generate_overcloudrc.rst
  tripleo_ansible/ansible_plugins/modules/tripleo_generate_overcloudrc.py
  tripleo_ansible/playbooks/cli-generate-overcloudrc.yaml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules
