Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-scenario003-standalone, tripleo-ci-centos-8-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-standalone-upgrade, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-persist, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-7-molecule-login-defs, tripleo-ansible-centos-7-molecule-tripleo-ptp, tripleo-ansible-centos-7-molecule-tripleo-timezone, tripleo-ansible-centos-7-molecule-tripleo-config, tripleo-ansible-centos-7-molecule-tripleo-container-stop, tripleo-ansible-centos-7-molecule-tripleo-hieradata, tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-7-molecule-tripleo-kernel, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-7-molecule-tripleo-firewall, tripleo-ansible-centos-7-molecule-tripleo-securetty, tripleo-ansible-centos-7-molecule-tripleo-cellv2, tripleo-ansible-centos-7-molecule-tripleo-clients-install, tripleo-ansible-centos-7-molecule-tripleo-validations-package, tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk, tripleo-ansible-centos-7-molecule-tripleo-sshd, tripleo-ansible-centos-7-molecule-backup-and-restore, tripleo-ansible-centos-7-molecule-tripleo-packages, tripleo-ansible-centos-7-molecule-tripleo-hosts-entries, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules, tripleo-ansible-centos-7-molecule-tripleo-keystone-resources, tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper

tripleo-ansible-docs:
  parent: openstack-tox-docs

tripleo-ansible-centos-7-molecule-aide:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-aide

tripleo-ansible-centos-7-molecule-test_deps:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_deps

tripleo-ansible-centos-7-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_json_error_callback

tripleo-ansible-centos-7-molecule-test_package_action:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_package_action

tripleo-ansible-centos-7-molecule-tuned:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-tuned

tripleo-ci-centos-7-containers-multinode:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-containers-undercloud-minion:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-undercloud-containers:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario001-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario002-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario003-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario004-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-scenario010-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-standalone-upgrade:
  dependencies:
  - openstack-tox-linters

tripleo-ansible-centos-7-molecule-tripleo-bootstrap:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-bootstrap

tripleo-ansible-centos-7-role-addition:
  nodeset: centos-7
  parent: tox-molecule
  timeout: 1800
  vars:
    tox_envlist: role-addition

tripleo-ansible-centos-7-molecule-tripleo-create-admin:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-create-admin

tripleo-ansible-centos-7-molecule-tripleo-module-load:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-module-load

tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-ssh-known-hosts

tripleo-ansible-centos-7-molecule-tripleo-container-tag:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-tag

tripleo-ansible-centos-7-molecule-tripleo-container-rm:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-rm

tripleo-ansible-centos-7-molecule-tripleo-image-serve:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-image-serve

tripleo-ansible-centos-7-molecule-tripleo-transfer:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-transfer

tripleo-ansible-centos-7-molecule-tripleo-podman:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-podman

Use py3 for libselinux / libsemanage in Cent 7/8
  bindep.txt
Due: none

Make tripleo_ceph_run_ansible handle change in remote_tmp
  tripleo_ansible/roles/tripleo-ceph-run-ansible/tasks/create_ceph_ansible_remote_tmp.yml
  tripleo_ansible/roles/tripleo-ceph-run-ansible/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible

Set short ANSIBLE_SSH_CONTROL_PATH_DIR for all ceph roles
  tripleo_ansible/roles/tripleo-ceph-run-ansible/tasks/create_ceph_ansible_remote_tmp.yml
  tripleo_ansible/roles/tripleo-ceph-run-ansible/tasks/main.yml
  tripleo_ansible/roles/tripleo-ceph-uuid/tasks/gather.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible

Handle unreachable
  tripleo_ansible/ansible_plugins/callback/tripleo_dense.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Revert "move undercloud-containers to nv"
  zuul.d/layout.yaml
Due: none

Implement container_startup_config module
  tripleo_ansible/ansible_plugins/modules/container_config_data.py
  tripleo_ansible/ansible_plugins/modules/container_startup_config.py
  tripleo_ansible/ansible_plugins/tests/molecule/container_startup_config/container-configs.yml
  tripleo_ansible/ansible_plugins/tests/molecule/container_startup_config/converge.yml
  tripleo_ansible/ansible_plugins/tests/molecule/container_startup_config/molecule.yml
  tripleo_ansible/ansible_plugins/tests/molecule/container_startup_config/prepare.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/main.yml
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade, tripleo-ansible-centos-7-molecule-tripleo-modules

Introduce an Action Plugin to fetch container infos
  tripleo_ansible/ansible_plugins/action/container_status.py
  tripleo_ansible/roles/tripleo_container_manage/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/check_exit_code.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/get_commands_create.yml
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade, tripleo-ansible-centos-7-molecule-tripleo-modules

Set retry timeout for nodes introspection
  tripleo_ansible/ansible_plugins/modules/os_tripleo_baremetal_node_introspection.py
  tripleo_ansible/playbooks/cli-baremetal-introspect.yaml
Due: tripleo-ansible-centos-7-molecule-tripleo-modules

Prepare tripleo deps repo in tripleo_client_install molecule job
  tripleo_ansible/roles/tripleo_clients_install/molecule/default/prepare.yml
Due: none

Install osc-placement package during client package installation
  tripleo_ansible/roles/tripleo_clients_install/defaults/main.yml
  tripleo_ansible/roles/tripleo_clients_install/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_clients_install/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Fix host entries permissions
  tripleo_ansible/roles/tripleo_hosts_entries/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Fix tripleo_hierdata permissions
  tripleo_ansible/roles/tripleo_hieradata/tasks/ansible_hieradata.yml
  tripleo_ansible/roles/tripleo_hieradata/tasks/hieradata_vars.yaml
  tripleo_ansible/roles/tripleo_hieradata/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-scenario003-standalone, tripleo-ci-centos-7-standalone-upgrade

Fix missing requirements for tests
  requirements.txt
Due: openstack-tox-docs, promote-openstack-tox-docs

Implement a tripleo free strategy
  tripleo_ansible/ansible_plugins/strategy/tripleo_free.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Implement run_once
  tripleo_ansible/ansible_plugins/strategy/tripleo_free.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Add tripleo linear strategy
  tripleo_ansible/ansible_plugins/strategy/tripleo_linear.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Create tripleo base strategy class
  tripleo_ansible/ansible_plugins/strategy/tripleo_base.py
  tripleo_ansible/ansible_plugins/strategy/tripleo_free.py
  tripleo_ansible/ansible_plugins/strategy/tripleo_linear.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Make tripleo_ceph_run_ansible handle change in remote_tmp
  tripleo_ansible/roles/tripleo_ceph_run_ansible/tasks/create_ceph_ansible_remote_tmp.yml
  tripleo_ansible/roles/tripleo_ceph_run_ansible/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario004-standalone

Use ansible_user instead of ANSIBLE_REMOTE_USER env var
  tripleo_ansible/roles/tripleo_ceph_run_ansible/tasks/create_ceph_ansible_remote_tmp.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario004-standalone

Fix host entries permissions
  tripleo_ansible/roles/tripleo-hosts-entries/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-hosts-entries

Implement container_startup_config module
  tripleo_ansible/ansible_plugins/modules/container_config_data.py
  tripleo_ansible/ansible_plugins/modules/container_startup_config.py
  tripleo_ansible/ansible_plugins/tests/molecule/container_startup_config/container-configs.yml
  tripleo_ansible/ansible_plugins/tests/molecule/container_startup_config/molecule.yml
  tripleo_ansible/ansible_plugins/tests/molecule/container_startup_config/playbook.yml
  tripleo_ansible/ansible_plugins/tests/molecule/container_startup_config/prepare.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules

Prepend timestamp callback output
  tripleo_ansible/ansible_plugins/callback/tripleo_dense.py
  tripleo_ansible/ansible_plugins/callback/tripleo_profile_tasks.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Max percentage failure support
  tripleo_ansible/ansible_plugins/strategy/tripleo_base.py
  tripleo_ansible/ansible_plugins/strategy/tripleo_free.py
  tripleo_ansible/ansible_plugins/strategy/tripleo_linear.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Molecule testing for TripleO Strategy Plugins
  ansible-test-env.rc
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/ansible-test-env.rc
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/converge.yml
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/inventory-fail
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/inventory-success
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/molecule.yml
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/tripleo-free.yml
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_strategies/tripleo-linear.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Make throttle optional
  tripleo_ansible/ansible_plugins/strategy/tripleo_free.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Use ansible_user instead of ANSIBLE_REMOTE_USER env var
  tripleo_ansible/roles/tripleo-ceph-run-ansible/tasks/create_ceph_ansible_remote_tmp.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible

Run scenario004 for changes to tripleo-ceph-* roles
  zuul.d/layout.yaml
Due: none

Add mock to test-requirements
  test-requirements.txt
Due: none

Use registry:2.7.0 instead of registry:2
  tripleo_ansible/roles/tripleo_podman/molecule/login/prepare.yml
Due: none

Introduce an Action Plugin to manage systemd services for containers
  tripleo_ansible/ansible_plugins/action/container_systemd.py
  tripleo_ansible/roles/tripleo_container_manage/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/create.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/cleanup_healthcheck.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/stat_healthcheck.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/systemd.yml
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade, tripleo-ansible-centos-7-molecule-tripleo-modules

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt
  tripleo-ci-centos-7-containers-multinode: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-standalone: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-containers-undercloud-minion: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-undercloud-containers: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario001-standalone: (any of: ^tripleo_ansible/roles/tripleo_ceph_.*/.*, ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*, ^setup.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario002-standalone: (any of: ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario003-standalone: (any of: ^tripleo_ansible/roles/tripleo_create_admin/.*, ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario004-standalone: (any of: ^tripleo_ansible/roles/tripleo_ceph_.*/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-scenario010-standalone: (any of: ^tripleo_ansible/.*octavia.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-standalone-upgrade: (any of: ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*, ^tripleo_ansible/roles/tripleo_container_manage/.*, ^tripleo_ansible/roles/tripleo_container_rm/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  promote-openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-7-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-7-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-7-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-7-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-7-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-7-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-7-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-7-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-7-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-7-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-7-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-7-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-7-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
  tripleo-ansible-centos-7-molecule-tripleo-clients-install: any of: ^tripleo_ansible/roles/tripleo-clients-install/.*
  tripleo-ansible-centos-7-molecule-tripleo-validations-package: any of: ^tripleo_ansible/roles/tripleo-validations-package/.*
  tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk: any of: ^tripleo_ansible/roles/tripleo-ovs-dpdk/.*
  tripleo-ansible-centos-7-molecule-tripleo-sshd: any of: ^tripleo_ansible/roles/tripleo-sshd/.*
  tripleo-ansible-centos-7-molecule-backup-and-restore: any of: ^tripleo_ansible/roles/backup-and-restore/.*
  tripleo-ansible-centos-7-molecule-tripleo-packages: any of: ^tripleo_ansible/roles/tripleo-packages/.*
  tripleo-ansible-centos-7-molecule-tripleo-hosts-entries: any of: ^tripleo_ansible/roles/tripleo-hosts-entries/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-manage: any of: ^tripleo_ansible/roles/tripleo-container-manage/.*
  tripleo-ansible-centos-7-molecule-tripleo-modules: any of: ^tripleo_ansible/ansible_plugins/.*$, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-keystone-resources: any of: ^tripleo_ansible/roles/tripleo-keystone-resources/.*
  tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper: any of: ^tripleo_ansible/roles/tripleo-systemd-wrapper/.*
