Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-scenario003-standalone, tripleo-ci-centos-8-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-standalone-upgrade, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-persist, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-7-molecule-login-defs, tripleo-ansible-centos-7-molecule-tripleo-ptp, tripleo-ansible-centos-7-molecule-tripleo-timezone, tripleo-ansible-centos-7-molecule-tripleo-config, tripleo-ansible-centos-7-molecule-tripleo-container-stop, tripleo-ansible-centos-7-molecule-tripleo-hieradata, tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-7-molecule-tripleo-kernel, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-7-molecule-tripleo-firewall, tripleo-ansible-centos-7-molecule-tripleo-securetty, tripleo-ansible-centos-7-molecule-tripleo-cellv2, tripleo-ansible-centos-7-molecule-tripleo-clients-install, tripleo-ansible-centos-7-molecule-tripleo-validations-package, tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk, tripleo-ansible-centos-7-molecule-tripleo-sshd, tripleo-ansible-centos-7-molecule-backup-and-restore, tripleo-ansible-centos-7-molecule-tripleo-packages, tripleo-ansible-centos-7-molecule-tripleo-hosts-entries, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules, tripleo-ansible-centos-7-molecule-tripleo-keystone-resources, tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper

tripleo-ansible-docs:
  parent: openstack-tox-docs

tripleo-ansible-centos-7-molecule-aide:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-aide

tripleo-ansible-centos-7-molecule-test_deps:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_deps

tripleo-ansible-centos-7-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_json_error_callback

tripleo-ansible-centos-7-molecule-test_package_action:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_package_action

tripleo-ansible-centos-7-molecule-tuned:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-tuned

tripleo-ci-centos-7-containers-multinode:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-containers-undercloud-minion:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-undercloud-containers:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario001-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario002-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario003-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario004-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-scenario010-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-standalone-upgrade:
  dependencies:
  - openstack-tox-linters

tripleo-ansible-centos-7-molecule-tripleo-bootstrap:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-bootstrap

tripleo-ansible-centos-7-role-addition:
  nodeset: centos-7
  parent: tox-molecule
  timeout: 1800
  vars:
    tox_envlist: role-addition

tripleo-ansible-centos-7-molecule-tripleo-create-admin:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-create-admin

tripleo-ansible-centos-7-molecule-tripleo-module-load:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-module-load

tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-ssh-known-hosts

tripleo-ansible-centos-7-molecule-tripleo-container-tag:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-tag

tripleo-ansible-centos-7-molecule-tripleo-container-rm:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-rm

tripleo-ansible-centos-7-molecule-tripleo-image-serve:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-image-serve

tripleo-ansible-centos-7-molecule-tripleo-transfer:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-transfer

tripleo-ansible-centos-7-molecule-tripleo-podman:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-podman

Stop relying on future mtime in tripleo_nova_image_cache
  tripleo_ansible/ansible_plugins/modules/tripleo_nova_image_cache.py
  tripleo_ansible/playbooks/tripleo_nova_image_cache.yml
  tripleo_ansible/roles/tripleo_nova_image_cache/tasks/cache.yml
  tripleo_ansible/roles/tripleo_nova_image_cache/tasks/main.yml
  tripleo_ansible/roles/tripleo_nova_image_cache/tasks/uncache.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Fix podman and buildah only on rhel-8.2
  tripleo_ansible/roles/tripleo_podman/vars/redhat-8.2.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Workaround tripleo_nova_cache issue in ansible 2.9.11
  tripleo_ansible/ansible_plugins/action/tripleo_nova_image_cache.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Stop relying on future mtime in tripleo_nova_image_cache
  tripleo_ansible/ansible_plugins/modules/tripleo_nova_image_cache.py
  tripleo_ansible/playbooks/tripleo_nova_image_cache.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/tasks/cache.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/tasks/main.yml
  tripleo_ansible/roles/tripleo-nova-image-cache/tasks/uncache.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Remove swift_ring_rebalance.yaml playbook
  tripleo_ansible/playbooks/swift_ring_rebalance.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Only concatenate default_templates_dir when necessary
  tripleo_ansible/playbooks/cli-create-deployment-plan.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Add os-net-config mappings support
  tripleo_ansible/ansible_plugins/modules/tripleo_os_net_config_mappings.py
  tripleo_ansible/roles/tripleo_network_config/defaults/main.yml
  tripleo_ansible/roles/tripleo_network_config/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_network_config/tasks/main.yml
  tripleo_ansible/tests/modules/test_tripleo_os_net_config_mappings.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Ensure yaml packages are installed
  tripleo_ansible/roles/test_deps/tasks/main.yml
  tripleo_ansible/roles/test_deps/vars/centos-7.yml
  tripleo_ansible/roles/test_deps/vars/centos-8.yml
  tripleo_ansible/roles/test_deps/vars/redhat-8.yml
Due: tripleo-ansible-centos-7-molecule-test_deps

Add tripleo_diff_exec module
  doc/source/modules/modules-tripleo_diff_exec.rst
  tripleo_ansible/ansible_plugins/modules/tripleo_diff_exec.py
  tripleo_ansible/tests/modules/test_tripleo_diff_exec.py
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules

Introduce module tripleo_derive_hci_parameters
  doc/source/modules/modules-tripleo_derive_hci_parameters.rst
  tripleo_ansible/ansible_plugins/modules/tripleo_derive_hci_parameters.py
  tripleo_ansible/playbooks/cli-derive-local-hci-parameters.yml
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/mock_baremetal_ComputeHCI
  tripleo_ansible/roles/tripleo_derived_parameters/tasks/main.yml
  tripleo_ansible/tests/modules/test_derive_hci_parameters.py
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules

doc: tripleo_os_net_config_mappings module
  doc/source/modules/modules-tripleo_os_net_config_mappings.rst
Due: openstack-tox-docs, promote-openstack-tox-docs

Add tripleo_ha_wrapper role
  doc/source/roles/role-tripleo_ha_wrappers.rst
  tripleo_ansible/roles/tripleo_ha_wrapper/defaults/main.yml
  tripleo_ansible/roles/tripleo_ha_wrapper/meta/main.yml
  tripleo_ansible/roles/tripleo_ha_wrapper/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo_ha_wrapper/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_ha_wrapper/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_ha_wrapper/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_ha_wrapper/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo_ha_wrapper/tasks/main.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs

Fix role name typo in octavia playbook
  tripleo_ansible/playbooks/octavia-files.yaml
  tripleo_ansible/roles/octavia-controller-check
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-scenario010-standalone

Fix role-addition CI
  tox.ini
Due: tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-modules

Move c7 mol jobs to c8
  bindep.txt
  tripleo_ansible/roles/test_deps/molecule/default/molecule.yml
  tripleo_ansible/roles/test_deps/tasks/main.yml
  tripleo_ansible/roles/tripleo-bootstrap/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-bootstrap/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-container-rm/defaults/main.yml
  tripleo_ansible/roles/tripleo-container-rm/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-container-rm/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-container-rm/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-container-rm/molecule/docker_rm/molecule.yml
  tripleo_ansible/roles/tripleo-container-rm/molecule/docker_rm/playbook.yml
  tripleo_ansible/roles/tripleo-container-rm/molecule/docker_rm/prepare.yml
  tripleo_ansible/roles/tripleo-container-rm/molecule/legacy_vars/molecule.yml
  tripleo_ansible/roles/tripleo-container-rm/molecule/podman-rm-stopped/molecule.yml
  tripleo_ansible/roles/tripleo-container-rm/molecule/podman/molecule.yml
  tripleo_ansible/roles/tripleo-container-rm/molecule/podman/playbook.yml
  tripleo_ansible/roles/tripleo-container-rm/molecule/podman/prepare.yml
  tripleo_ansible/roles/tripleo-container-tag/defaults/main.yml
  tripleo_ansible/roles/tripleo-container-tag/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-container-tag/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-container-tag/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-container-tag/molecule/podman/molecule.yml
  tripleo_ansible/roles/tripleo-container-tag/molecule/podman/playbook.yml
  tripleo_ansible/roles/tripleo-container-tag/molecule/podman/prepare.yml
  tripleo_ansible/roles/tripleo-module-load/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-module-load/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-module-load/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-module-load/molecule/legacy_vars/molecule.yml
  tripleo_ansible/roles/tripleo-module-load/molecule/legacy_vars/prepare.yml
  tripleo_ansible/roles/tripleo-module-load/molecule/remove_module/molecule.yml
  tripleo_ansible/roles/tripleo-module-load/molecule/remove_module/prepare.yml
  zuul.d/molecule.yaml
Due: tripleo-ansible-centos-7-molecule-test_deps, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm

Add tripleo_ha_wrapper role
  doc/source/roles/role-tripleo_ha_wrappers.rst
  tripleo_ansible/roles/tripleo_ha_wrapper/defaults/main.yml
  tripleo_ansible/roles/tripleo_ha_wrapper/meta/main.yml
  tripleo_ansible/roles/tripleo_ha_wrapper/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo_ha_wrapper/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_ha_wrapper/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo_ha_wrapper/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_ha_wrapper/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo_ha_wrapper/tasks/main.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs

Derive HCI reseverved host memory without average guest workload
  tripleo_ansible/ansible_plugins/modules/tripleo_derive_hci_parameters.py
  tripleo_ansible/tests/modules/test_derive_hci_parameters.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Use bool filter when checking use_default_templates var
  tripleo_ansible/playbooks/cli-create-deployment-plan.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Avoid reboot for node update even when kernelargs changed
  tripleo_ansible/roles/tripleo_kernel/tasks/kernelargs.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Update kernel args grub file entry inline with upgrade changes
  tripleo_ansible/roles/tripleo_kernel/molecule/kernelargs-update/Dockerfile
  tripleo_ansible/roles/tripleo_kernel/molecule/kernelargs-update/converge.yml
  tripleo_ansible/roles/tripleo_kernel/molecule/kernelargs-update/molecule.yml
  tripleo_ansible/roles/tripleo_kernel/molecule/kernelargs-update/prepare.yml
  tripleo_ansible/roles/tripleo_kernel/molecule/kernelargs-update/verify.yml
  tripleo_ansible/roles/tripleo_kernel/tasks/kernelargs.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Don't hide logs in molecule
  tripleo_ansible/roles/tripleo_podman/molecule/login/converge.yml
Due: none

Add guard to ensure a mapping has a valid key
  tripleo_ansible/ansible_plugins/action/container_status.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

OvS DPDK and SRIOV derive parameters
  tripleo_ansible/ansible_plugins/filter/number_list.py
  tripleo_ansible/ansible_plugins/filter/range_list.py
  tripleo_ansible/ansible_plugins/module_utils/tripleo_common_utils.py
  tripleo_ansible/ansible_plugins/modules/tripleo_get_dpdk_core_list.py
  tripleo_ansible/ansible_plugins/modules/tripleo_get_dpdk_nics_numa_info.py
  tripleo_ansible/ansible_plugins/modules/tripleo_get_dpdk_socket_memory.py
  tripleo_ansible/ansible_plugins/modules/tripleo_get_host_cpus.py
  tripleo_ansible/roles/tripleo_derived_parameters/tasks/derive-host-parameters.yml
  tripleo_ansible/roles/tripleo_derived_parameters/tasks/derive-ovs-dpdk-parameters.yml
  tripleo_ansible/roles/tripleo_derived_parameters/tasks/derive-sriov-parameters.yml
  tripleo_ansible/roles/tripleo_derived_parameters/tasks/main.yml
  tripleo_ansible/tests/modules/test_tripleo_get_dpdk_core_list.py
  tripleo_ansible/tests/modules/test_tripleo_get_dpdk_nics_numa_info.py
  tripleo_ansible/tests/modules/test_tripleo_get_dpdk_socket_memory.py
  tripleo_ansible/tests/modules/test_tripleo_get_host_cpus.py
  tripleo_ansible/tests/plugins/filter/test_number_list.py
  tripleo_ansible/tests/plugins/filter/test_range_list.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Add filter for absolute path of file/dir
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/playbooks/cli-container-image-prepare.yaml
  tripleo_ansible/playbooks/cli-create-deployment-plan.yaml
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Check for raw image in node provision
  tripleo_ansible/playbooks/cli-overcloud-node-provision.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Add release version package
  tripleo_ansible/roles/tripleo_bootstrap/defaults/main.yml
  tripleo_ansible/roles/tripleo_bootstrap/tasks/main.yml
  tripleo_ansible/roles/tripleo_bootstrap/vars/redhat-8.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Fix compatibility issue in tripleo callback
  tripleo_ansible/ansible_plugins/callback/tripleo.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Add no_log to os_user async status
  tripleo_ansible/roles/tripleo_keystone_resources/tasks/users.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Stop using profile_tasks as a base
  tripleo_ansible/ansible_plugins/callback/tripleo_profile_tasks.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Make profile tasks host aware
  tripleo_ansible/ansible_plugins/callback/tripleo_profile_tasks.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Ansible interface for os-net-config
  doc/source/modules/modules-tripleo_os_net_config.rst
  molecule-requirements.txt
  tripleo_ansible/ansible_plugins/modules/tripleo_os_net_config.py
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_os_net_config/converge.yml
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_os_net_config/molecule.yml
  tripleo_ansible/ansible_plugins/tests/molecule/tripleo_os_net_config/prepare.yml
  tripleo_ansible/roles/tripleo_network_config/defaults/main.yml
  tripleo_ansible/roles/tripleo_network_config/tasks/main.yml
  tripleo_ansible/roles/tripleo_network_config/tasks/os_net_config.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-modules

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt
  tripleo-ci-centos-7-containers-multinode: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-standalone: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-containers-undercloud-minion: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-undercloud-containers: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario001-standalone: (any of: ^tripleo_ansible/roles/tripleo_ceph_.*/.*, ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*, ^setup.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario002-standalone: (any of: ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario003-standalone: (any of: ^tripleo_ansible/roles/tripleo_create_admin/.*, ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario004-standalone: (any of: ^tripleo_ansible/roles/tripleo_ceph_.*/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-scenario010-standalone: (any of: ^tripleo_ansible/.*octavia.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-standalone-upgrade: (any of: ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*, ^tripleo_ansible/roles/tripleo_container_manage/.*, ^tripleo_ansible/roles/tripleo_container_rm/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  promote-openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-7-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-7-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-7-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-7-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-7-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-7-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-7-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-7-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-7-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-7-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-7-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-7-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-7-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
  tripleo-ansible-centos-7-molecule-tripleo-clients-install: any of: ^tripleo_ansible/roles/tripleo-clients-install/.*
  tripleo-ansible-centos-7-molecule-tripleo-validations-package: any of: ^tripleo_ansible/roles/tripleo-validations-package/.*
  tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk: any of: ^tripleo_ansible/roles/tripleo-ovs-dpdk/.*
  tripleo-ansible-centos-7-molecule-tripleo-sshd: any of: ^tripleo_ansible/roles/tripleo-sshd/.*
  tripleo-ansible-centos-7-molecule-backup-and-restore: any of: ^tripleo_ansible/roles/backup-and-restore/.*
  tripleo-ansible-centos-7-molecule-tripleo-packages: any of: ^tripleo_ansible/roles/tripleo-packages/.*
  tripleo-ansible-centos-7-molecule-tripleo-hosts-entries: any of: ^tripleo_ansible/roles/tripleo-hosts-entries/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-manage: any of: ^tripleo_ansible/roles/tripleo-container-manage/.*
  tripleo-ansible-centos-7-molecule-tripleo-modules: any of: ^tripleo_ansible/ansible_plugins/.*$, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-keystone-resources: any of: ^tripleo_ansible/roles/tripleo-keystone-resources/.*
  tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper: any of: ^tripleo_ansible/roles/tripleo-systemd-wrapper/.*
