Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario012-standalone, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-persist, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-7-molecule-login-defs, tripleo-ansible-centos-7-molecule-tripleo-ptp, tripleo-ansible-centos-7-molecule-tripleo-timezone, tripleo-ansible-centos-7-molecule-tripleo-config, tripleo-ansible-centos-7-molecule-tripleo-container-stop, tripleo-ansible-centos-7-molecule-tripleo-hieradata, tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-7-molecule-tripleo-kernel, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-7-molecule-tripleo-firewall, tripleo-ansible-centos-7-molecule-tripleo-securetty, tripleo-ansible-centos-7-molecule-tripleo-cellv2

tripleo-ansible-docs:
  parent: openstack-tox-docs

tripleo-ansible-centos-7-molecule-aide:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-aide

tripleo-ansible-centos-7-molecule-test_deps:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_deps

tripleo-ansible-centos-7-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_json_error_callback

tripleo-ansible-centos-7-molecule-test_package_action:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_package_action

tripleo-ansible-centos-7-molecule-tuned:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-tuned

tripleo-ansible-centos-7-molecule-tripleo-bootstrap:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-bootstrap

tripleo-ansible-centos-7-role-addition:
  nodeset: centos-7
  parent: tox-molecule
  timeout: 1800
  vars:
    tox_envlist: role-addition

tripleo-ansible-centos-7-molecule-tripleo-create-admin:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-create-admin

tripleo-ansible-centos-7-molecule-tripleo-module-load:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-module-load

tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-ssh-known-hosts

tripleo-ansible-centos-7-molecule-tripleo-container-tag:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-tag

tripleo-ansible-centos-7-molecule-tripleo-container-rm:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-rm

tripleo-ansible-centos-7-molecule-tripleo-image-serve:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-image-serve

tripleo-ansible-centos-7-molecule-tripleo-transfer:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-transfer

tripleo-ansible-centos-7-molecule-tripleo-podman:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-podman

tripleo-ansible-centos-7-molecule-tripleo-persist:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-persist

tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_job_ansible_args: -v --skip-tags=run_uuid_ansible,run_ceph_ansible
    tripleo_role_name: tripleo-ceph-run-ansible

tripleo-ansible-centos-7-molecule-login-defs:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: login-defs

tripleo-ansible-centos-7-molecule-tripleo-ptp:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-ptp

tripleo-ansible-centos-7-molecule-tripleo-timezone:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-timezone

Create a role for OvS-DPDK host configuration
  .gitignore
  doc/source/roles/role-tripleo-ovs-dpdk.rst
  tripleo_ansible/roles/tripleo-ovs-dpdk/defaults/main.yml
  tripleo_ansible/roles/tripleo-ovs-dpdk/library/openvswitch_db.py
  tripleo_ansible/roles/tripleo-ovs-dpdk/meta/main.yml
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/default/tests/test_default.py
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/positive/Dockerfile
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/positive/molecule.yml
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/positive/playbook.yml
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/positive/prepare.yml
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/positive/tests/test_positive.py
  tripleo_ansible/roles/tripleo-ovs-dpdk/plugins/filters/cpu_mask.py
  tripleo_ansible/roles/tripleo-ovs-dpdk/tasks/config.yml
  tripleo_ansible/roles/tripleo-ovs-dpdk/tasks/main.yml
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Enhance docker check verifying its socket existence.
  tripleo_ansible/roles/tripleo-container-rm/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-container-rm

Improving ReaR configuration parameters (exclusion path and networking changes)
  tripleo_ansible/roles/backup-and-restore/defaults/main.yml
  tripleo_ansible/roles/backup-and-restore/molecule/default/playbook.yml
  tripleo_ansible/roles/backup-and-restore/molecule/default/prepare.yml
  tripleo_ansible/roles/backup-and-restore/setup_rear/tasks/main.yml
  tripleo_ansible/roles/backup-and-restore/templates/local.conf.j2
Due: tripleo-ci-centos-7-scenario004-standalone

Add local_address to the default hieradata on all hosts
  tripleo_ansible/roles/tripleo-hieradata/defaults/main.yml
  tripleo_ansible/roles/tripleo-hieradata/templates/all_nodes.j2
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-hieradata

remove broken link
  tripleo_ansible/roles/tripleo-container-image-prepare/molecule/build/playbook-docker-vfs-setup.yml
Due: tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare

Introduce new module for Paunch
  doc/source/modules/modules-paunch.rst
  requirements.txt
  tripleo_ansible/ansible_plugins/modules/paunch.py
Due: tripleo-ci-centos-7-scenario004-standalone

Add test to find broken symlinks
  scripts/detect-broken-symlinks.sh
  tox.ini
Due: tripleo-ansible-centos-7-role-addition

Let ReaR uses different backup strategy
  tripleo_ansible/roles/backup-and-restore/defaults/main.yml
  tripleo_ansible/roles/backup-and-restore/templates/local.conf.j2
  tripleo_ansible/roles/backup-and-restore/templates/rescue.conf.j2
Due: tripleo-ci-centos-7-scenario004-standalone

Ignore the Sphinx documentation build
  .gitignore
Due: none

Remove duplicate publish docs jobs
  zuul.d/layout.yaml
Due: none

Fix the non-HA case where OVN has its own VIP
  tripleo_ansible/roles/tripleo-hieradata/templates/vip_data.j2
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-hieradata

Use shell to ensure faster task execution
  tripleo_ansible/roles/tripleo-bootstrap/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-bootstrap

Switching the delete param handler to use rm
  tripleo_ansible/roles/tripleo-container-image-prepare/handlers/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare

increase coverage of tripleo-ansible
  zuul.d/layout.yaml
Due: none

remove unessisary blocks
  tripleo_ansible/roles/login-defs/tasks/main.yml
  tripleo_ansible/roles/tripleo-ceph-common/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-login-defs

paunch: disable check mode
  tripleo_ansible/ansible_plugins/modules/paunch.py
Due: tripleo-ci-centos-7-scenario004-standalone

Support 'ipversion' property in rules
  tripleo_ansible/roles/tripleo-firewall/defaults/main.yml
  tripleo_ansible/roles/tripleo-firewall/tasks/tripleo_firewall_add.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-firewall

Open ipv6-icmp traffic by default
  tripleo_ansible/roles/tripleo-firewall/defaults/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-firewall

Pivot ovs-dpdk molecule to ansible tasks
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/positive/Dockerfile
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/positive/molecule.yml
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/positive/prepare.yml
Due: none

Add kernelargs and tuned core configuration
  .gitignore
  tripleo_ansible/roles/tripleo-kernel/defaults/main.yml
  tripleo_ansible/roles/tripleo-kernel/molecule/kernelargs/Dockerfile
  tripleo_ansible/roles/tripleo-kernel/molecule/kernelargs/molecule.yml
  tripleo_ansible/roles/tripleo-kernel/molecule/kernelargs/playbook.yml
  tripleo_ansible/roles/tripleo-kernel/molecule/kernelargs/prepare.yml
  tripleo_ansible/roles/tripleo-kernel/molecule/kernelargs/verify.yml
  tripleo_ansible/roles/tripleo-kernel/tasks/kernelargs.yml
  tripleo_ansible/roles/tripleo-kernel/tasks/reboot.yaml
  tripleo_ansible/roles/tripleo-ovs-dpdk/tasks/workarounds.yml
  tripleo_ansible/roles/tuned/molecule/isolated/Dockerfile
  tripleo_ansible/roles/tuned/molecule/isolated/molecule.yml
  tripleo_ansible/roles/tuned/molecule/isolated/playbook.yml
  tripleo_ansible/roles/tuned/molecule/isolated/prepare.yml
  tripleo_ansible/roles/tuned/molecule/isolated/tests/test_isolated.py
  tripleo_ansible/roles/tuned/tasks/tuned_config.yml
Due: tripleo-ansible-centos-7-molecule-tuned, tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-kernel

Remove modules that have been up-streamed
  tripleo_ansible/ansible_plugins/modules/podman_image.py
  tripleo_ansible/ansible_plugins/modules/podman_image_facts.py
Due: tripleo-ci-centos-7-scenario004-standalone

paunch: add support for 'cleanup'
  tripleo_ansible/ansible_plugins/modules/paunch.py
Due: tripleo-ci-centos-7-scenario004-standalone

Exclude database controllers path only if they are a controller node.
  tripleo_ansible/roles/backup-and-restore/setup_rear/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Fix launchpad tracker in README.rst
  README.rst
Due: none

Add podman_volume_info ansible module
  tripleo_ansible/ansible_plugins/modules/podman_volume_info.py
Due: tripleo-ci-centos-7-scenario004-standalone

Only use the network service for EL 7.
  tripleo_ansible/roles/tripleo-bootstrap/defaults/main.yml
  tripleo_ansible/roles/tripleo-bootstrap/tasks/main.yml
  tripleo_ansible/roles/tripleo-bootstrap/vars/redhat-8.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-bootstrap

scenario010 nonvoting
  zuul.d/layout.yaml
Due: none

Add podman_container_info
  tripleo_ansible/ansible_plugins/modules/podman_container_info.py
Due: tripleo-ci-centos-7-scenario004-standalone

Handle empty cert related hostvar info
  tripleo_ansible/playbooks/octavia-files.yaml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone

Remove podman_image*
  tripleo_ansible/ansible_plugins/modules/podman_image.py
  tripleo_ansible/ansible_plugins/modules/podman_image_facts.py
Due: tripleo-ci-centos-7-scenario004-standalone

Add missing [] around all_nodes_extra_map_data
  tripleo_ansible/roles/tripleo-hieradata/templates/all_nodes.j2
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-hieradata

Add podman_container module
  tripleo_ansible/ansible_plugins/modules/podman_container.py
  tripleo_ansible/playbooks/podman_tests.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Set calling_ansible_environment_variables after preset vars
  tripleo_ansible/roles/tripleo-ceph-run-ansible/tasks/main.yml
  tripleo_ansible/roles/tripleo-ceph-uuid/tasks/gather.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible

podman_container: fix some booleans
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-scenario004-standalone

podman_container: move ulimit into a list
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-scenario004-standalone

podman_container: add log_driver support
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-scenario004-standalone

Change parameters processing to class based
  tripleo_ansible/ansible_plugins/modules/podman_container.py
  tripleo_ansible/playbooks/podman_tests.yml
Due: tripleo-ci-centos-7-scenario004-standalone

Fix port info lookup parsing
  tripleo_ansible/roles/octavia-controller-config/tasks/netport.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone

Use dynamic argument_spec from documentation
  tripleo_ansible/ansible_plugins/modules/podman_container.py
  tripleo_ansible/ansible_plugins/modules/podman_container_info.py
  tripleo_ansible/ansible_plugins/modules/podman_volume_info.py
Due: tripleo-ci-centos-7-scenario004-standalone

Optional flag file for tripleo-transfer to prevent overwriting
  tripleo_ansible/roles/tripleo-transfer/README.md
  tripleo_ansible/roles/tripleo-transfer/defaults/main.yml
  tripleo_ansible/roles/tripleo-transfer/tasks/flag.yml
  tripleo_ansible/roles/tripleo-transfer/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-transfer

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  tripleo-ci-centos-7-scenario004-standalone: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario010-standalone: (any of: ^tripleo_ansible/.*octavia.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario003-standalone: (any of: ^tripleo_ansible/roles/tripleo-create-admin/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario012-standalone: (any of: ^tripleo_ansible/roles/tripleo-module-load/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-7-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-7-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-7-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-7-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-7-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-7-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-7-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-7-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-7-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-7-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-7-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-7-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-7-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
