Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-aide, tripleo-ansible-centos-8-molecule-tripleo_auditd, tripleo-ansible-centos-8-molecule-backup-and-restore, tripleo-ansible-centos-8-molecule-test_deps, tripleo-ansible-centos-8-molecule-test_json_error_callback, tripleo-ansible-centos-8-molecule-test_package_action, tripleo-ansible-centos-8-molecule-tripleo-bootstrap, tripleo-ansible-centos-8-molecule-tuned, tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-create-admin, tripleo-ansible-centos-8-molecule-tripleo-module-load, tripleo-ansible-centos-8-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-8-molecule-tripleo-container-tag, tripleo-ansible-centos-8-molecule-tripleo-container-rm, tripleo-ansible-centos-8-molecule-tripleo-image-serve, tripleo-ansible-centos-8-molecule-tripleo-transfer, tripleo-ansible-centos-8-molecule-tripleo-podman, tripleo-ansible-centos-8-molecule-tripleo-persist, tripleo-ansible-centos-8-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-8-molecule-login-defs, tripleo-ansible-centos-8-molecule-tripleo-ptp, tripleo-ansible-centos-8-molecule-tripleo-timezone, tripleo-ansible-centos-8-molecule-tripleo-config, tripleo-ansible-centos-8-molecule-tripleo-container-image-build, tripleo-ansible-centos-8-molecule-tripleo-container-stop, tripleo-ansible-centos-8-molecule-tripleo-hieradata, tripleo-ansible-centos-8-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-8-molecule-tripleo_lvmfilter, tripleo-ansible-centos-8-molecule-tripleo_multipathd, tripleo-ansible-centos-8-molecule-tripleo-network-config, tripleo-ansible-centos-8-molecule-tripleo-kernel, tripleo-ansible-centos-8-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-8-molecule-tripleo-firewall, tripleo-ansible-centos-8-molecule-tripleo-securetty, tripleo-ansible-centos-8-molecule-tripleo-cellv2, tripleo-ansible-centos-8-molecule-tripleo-clients-install, tripleo-ansible-centos-8-molecule-tripleo-redhat-enforce, tripleo-ansible-centos-8-molecule-tripleo-sshd, tripleo-ansible-centos-8-molecule-tripleo-hosts-entries, tripleo-ansible-centos-8-molecule-tripleo-container-manage, tripleo-ansible-centos-8-molecule-tripleo-modules, tripleo-ansible-centos-8-molecule-tripleo-keystone-resources, tripleo-ansible-centos-8-molecule-tripleo-systemd-wrapper, tripleo-ansible-centos-8-molecule-tripleo_nvdimm, tripleo-ansible-centos-8-molecule-tripleo_ha_wrapper, tripleo-ansible-centos-8-molecule-tripleo_nodes_validation, tripleo-ansible-centos-8-molecule-tripleo_ovn_cluster

tripleo-ansible-docs:
  parent: openstack-tox-docs

tripleo-ansible-centos-7-molecule-aide:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-aide

tripleo-ansible-centos-7-molecule-test_deps:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_deps

tripleo-ansible-centos-7-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_json_error_callback

tripleo-ansible-centos-7-molecule-test_package_action:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_package_action

tripleo-ansible-centos-7-molecule-tuned:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-tuned

tripleo-ansible-centos-8-molecule-aide:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: aide

tripleo-ansible-centos-8-molecule-tripleo_auditd:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo_auditd

tripleo-ansible-centos-8-molecule-backup-and-restore:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: backup-and-restore

tripleo-ansible-centos-8-molecule-test_deps:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: test_deps

tripleo-ansible-centos-8-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: test_json_error_callback

tripleo-ansible-centos-8-molecule-test_package_action:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: test_package_action

tripleo-ansible-centos-8-molecule-tripleo-bootstrap:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-bootstrap

tripleo-ansible-centos-8-molecule-tuned:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tuned

tripleo-ansible-centos-8-role-addition:
  parent: tripleo-ansible-centos-8-base
  timeout: 1800
  vars:
    tox_envlist: role-addition

tripleo-ansible-centos-8-molecule-tripleo-create-admin:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-create-admin

tripleo-ansible-centos-8-molecule-tripleo-module-load:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-module-load

tripleo-ansible-centos-8-molecule-tripleo-ssh-known-hosts:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-ssh-known-hosts

tripleo-ansible-centos-8-molecule-tripleo-container-tag:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-container-tag

tripleo-ansible-centos-8-molecule-tripleo-container-rm:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-container-rm

tripleo-ansible-centos-8-molecule-tripleo-image-serve:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-image-serve

tripleo-ansible-centos-8-molecule-tripleo-transfer:
  parent: tripleo-ansible-centos-8-base
  vars:
    tripleo_role_name: tripleo-transfer

tripleo_logrotate_crond: add for standalone roles
  doc/source/roles/role-tripleo_logrotate_crond.rst
  tripleo_ansible/roles/tripleo_logrotate_crond/defaults/main.yml
  tripleo_ansible/roles/tripleo_logrotate_crond/files/logrotate_crond.yaml
  tripleo_ansible/roles/tripleo_logrotate_crond/meta/main.yml
  tripleo_ansible/roles/tripleo_logrotate_crond/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_logrotate_crond/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_logrotate_crond/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_logrotate_crond/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo_logrotate_crond/tasks/configure.yml
  tripleo_ansible/roles/tripleo_logrotate_crond/tasks/install.yml
  tripleo_ansible/roles/tripleo_logrotate_crond/tasks/logrotate_crond.yml
  tripleo_ansible/roles/tripleo_logrotate_crond/tasks/run.yml
  tripleo_ansible/roles/tripleo_logrotate_crond/tasks/update.yml
  tripleo_ansible/roles/tripleo_logrotate_crond/tasks/upgrade.yml
  tripleo_ansible/roles/tripleo_logrotate_crond/templates/logrotate-crond.conf.j2
  tripleo_ansible/roles/tripleo_logrotate_crond/templates/logrotate_crond.yaml.j2
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Add tripleo_etcd ansible role
  tripleo_ansible/roles/tripleo_etcd/defaults/main.yml
  tripleo_ansible/roles/tripleo_etcd/meta/main.yml
  tripleo_ansible/roles/tripleo_etcd/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_etcd/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_etcd/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_etcd/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo_etcd/tasks/host_prep.yml
  tripleo_ansible/roles/tripleo_etcd/tasks/main.yml
  tripleo_ansible/roles/tripleo_etcd/templates/etc/etcd/etcd.conf.j2
  tripleo_ansible/roles/tripleo_etcd/templates/etc/etcd/etcd.yml.j2
  zuul.d/molecule.yaml
Due: none

tripleo_sshd: Install systemd for local molecule testing
  tripleo_ansible/roles/tripleo_sshd/molecule/default/molecule.yml
Due: none

tripleo_nova_libvirt: make pid ns configurable
  tripleo_ansible/roles/tripleo_nova_libvirt/defaults/main.yml
  tripleo_ansible/roles/tripleo_nova_libvirt/templates/create_virtlogd_wrapper.yaml.j2
  tripleo_ansible/roles/tripleo_nova_libvirt/templates/nova_virtlogd.yaml.j2
  tripleo_ansible/roles/tripleo_nova_libvirt/templates/nova_virtlogd_wrapper.yaml.j2
  tripleo_ansible/roles/tripleo_nova_libvirt/templates/nova_virtnodedevd.yaml.j2
  tripleo_ansible/roles/tripleo_nova_libvirt/templates/nova_virtproxyd.yaml.j2
  tripleo_ansible/roles/tripleo_nova_libvirt/templates/nova_virtqemud.yaml.j2
  tripleo_ansible/roles/tripleo_nova_libvirt/templates/nova_virtsecretd.yaml.j2
  tripleo_ansible/roles/tripleo_nova_libvirt/templates/nova_virtstoraged.yaml.j2
Due: none

Improved way of detecting Galera cluster is up&running
  tripleo_ansible/roles/backup_and_restore/tasks/db_backup.yml
  tripleo_ansible/roles/backup_and_restore/tasks/pacemaker_start.yml
Due: none

Add standalone ovn-controller role
  ansible-test-env-podman.rc
  doc/source/roles/role-tripleo_ovn.rst
  tripleo_ansible/roles/tripleo_ovn/defaults/main.yml
  tripleo_ansible/roles/tripleo_ovn/molecule/default/Dockerfile.j2
  tripleo_ansible/roles/tripleo_ovn/molecule/default/cleanup.yml
  tripleo_ansible/roles/tripleo_ovn/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_ovn/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_ovn/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_ovn/tasks/bootstrap.yml
  tripleo_ansible/roles/tripleo_ovn/tasks/cleanup.yml
  tripleo_ansible/roles/tripleo_ovn/tasks/configure.yml
  tripleo_ansible/roles/tripleo_ovn/tasks/main.yml
  tripleo_ansible/roles/tripleo_ovn/tasks/run.yml
  tripleo_ansible/roles/tripleo_ovn/templates/kolla_ovn_controller.yaml.j2
  tripleo_ansible/roles/tripleo_ovn/templates/ovn_controller.yaml.j2
  zuul.d/molecule.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs

Add initial standalone playbooks and inventory for a compute node
  .gitignore
  scripts/tripleo-standalone-vars
  setup.cfg
  tripleo_ansible/inventory/01-site
  tripleo_ansible/inventory/02-computes
  tripleo_ansible/inventory/03-tripleo
  tripleo_ansible/inventory/group_vars/overcloud
  tripleo_ansible/inventory/host_vars/localhost
  tripleo_ansible/playbooks/deploy-overcloud-compute.yml
  tripleo_ansible/playbooks/deploy-tripleo-facts.yml
  tripleo_ansible/playbooks/deploy-tripleo-network-configure.yml
  tripleo_ansible/playbooks/deploy-tripleo-network-validate.yml
  tripleo_ansible/playbooks/deploy-tripleo-openstack-configure.yml
  tripleo_ansible/playbooks/deploy-tripleo-openstack-install.yml
  tripleo_ansible/playbooks/deploy-tripleo-openstack-run.yml
  tripleo_ansible/playbooks/deploy-tripleo-os-configure.yml
  tripleo_ansible/playbooks/deploy-tripleo-os-install.yml
  tripleo_ansible/playbooks/deploy-tripleo-os-run.yml
  tripleo_ansible/playbooks/deploy-tripleo-pre-network.yml
  tripleo_ansible/playbooks/deploy-tripleo-selinux.yml
Due: none

tripleo_compute_node: add for standalone roles
  doc/source/roles/role-tripleo_compute_node.rst
  scripts/run-local-test
  tox.ini
  tripleo_ansible/requirements.yml
  tripleo_ansible/roles/tripleo_compute_node/defaults/main.yml
  tripleo_ansible/roles/tripleo_compute_node/files/.gitkeep
  tripleo_ansible/roles/tripleo_compute_node/handlers/main.yml
  tripleo_ansible/roles/tripleo_compute_node/meta/main.yml
  tripleo_ansible/roles/tripleo_compute_node/molecule/default/Dockerfile.j2
  tripleo_ansible/roles/tripleo_compute_node/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_compute_node/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_compute_node/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_compute_node/molecule/inventory/host_vars/tripleo_compute_node
  tripleo_ansible/roles/tripleo_compute_node/molecule/inventory/site.yml
  tripleo_ansible/roles/tripleo_compute_node/tasks/main.yml
  tripleo_ansible/roles/tripleo_compute_node/vars/main.yml
  zuul.d/molecule.yaml
  zuul.d/playbooks/pre.yml
  zuul.d/playbooks/run.yml
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-container-manage, tripleo-ansible-centos-8-molecule-tripleo-modules

[Octavia] Create a rsyslog forward when *_log_targets params are set
  tripleo_ansible/playbooks/octavia-files.yaml
  tripleo_ansible/roles/octavia_controller_post_config/templates/10-octavia.conf.j2
Due: none

Add tripleo-external-compute-deployment-pipeline to tripleo-ansible
  zuul.d/layout.yaml
Due: none

Don't use meta:end_play after growvols check
  tripleo_ansible/playbooks/cli-overcloud-node-growvols.yaml
Due: none

Use vip_map data instead of deployed_server_port_map
  tripleo_ansible/roles/tripleo_network_config/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_network_config/templates/standalone.j2
  tripleo_ansible/roles/tripleo_network_config/templates/undercloud.j2
Due: none

tripleo_nova_compute: use config_template for configuration
  ansible-test-env-podman.rc
  tripleo_ansible/roles/tripleo_nova_compute/tasks/configure.yml
Due: none

Pin openstack.cloud collection
  tripleo_ansible/ansible-collections-requirements.yml
  tripleo_ansible/requirements.yml
  tripleo_ansible/roles/tripleo_keystone_resources/molecule/default/molecule.yml
Due: none

Sync: Enable post-copy by setting unprivileged_userfaultfd
  tripleo_ansible/roles/tripleo_nova_compute/tasks/configure.yml
Due: none

Sync: Fix service dependency on libvirt daemons
  tripleo_ansible/roles/tripleo_nova_compute/tasks/install.yml
Due: none

Update master for stable/zed
  releasenotes/source/index.rst
  releasenotes/source/zed.rst
Due: none

Switch to 2023.1 Python3 unit tests and generic template name
  zuul.d/layout.yaml
Due: none

Remove inspector client usage
  tripleo_ansible/ansible_plugins/module_utils/tripleo_common_utils.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Fix molecule jobs broken with latest cryptography
  molecule-requirements.txt
  tripleo_ansible/roles/tripleo_keystone_resources/molecule/default/Dockerfile.keystone
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-modules

Do not run ping when running in check_mode
  tripleo_ansible/roles/tripleo_nodes_validation/tasks/ping.yml
Due: tripleo-ansible-centos-8-molecule-tripleo_nodes_validation

Update .gitreview for stable/zed
  .gitreview
Due: none

Update TOX_CONSTRAINTS_FILE for stable/zed
  tox.ini
Due: tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-modules

Fix stable/zed molecule jobs
  molecule-requirements.txt
  tripleo_ansible/ansible-collections-requirements.yml
  tripleo_ansible/requirements.yml
  tripleo_ansible/roles/tripleo_keystone_resources/molecule/default/Dockerfile.keystone
  tripleo_ansible/roles/tripleo_keystone_resources/molecule/default/molecule.yml
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-modules

Add podman_socket role
  tripleo_ansible/roles/tripleo_podman/defaults/main.yml
  tripleo_ansible/roles/tripleo_podman/meta/main.yml
  tripleo_ansible/roles/tripleo_podman/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_podman/molecule/login/prepare.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_rsyslog_cleanup.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_service.yml
  tripleo_ansible/roles/tripleo_podman/templates/podman.service.j2
Due: none

Support setting ovn-ofctrl-wait-before-clear
  tripleo_ansible/roles/tripleo_ovn/defaults/main.yml
Due: none

Make creating/updating users idempotent
  tripleo_ansible/roles/tripleo_keystone_resources/tasks/admin.yml
  tripleo_ansible/roles/tripleo_keystone_resources/tasks/users.yml
Due: none

Enable --retain option for zebra daemon
  tripleo_ansible/roles/tripleo_frr/templates/daemons.j2
Due: none

Remove usage of swiftclient
  tripleo_ansible/ansible_plugins/module_utils/tripleo_common_utils.py
  tripleo_ansible/ansible_plugins/modules/tripleo_passwords_rotate.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Remove usage of glanceclient
  .ansible-lint
  releasenotes/notes/remove-baremetal_register_or_update_nodes-module-638e42682e08bc19.yaml
  requirements.txt
  tripleo_ansible/ansible_plugins/module_utils/tripleo_common_utils.py
  tripleo_ansible/ansible_plugins/modules/baremetal_register_or_update_nodes.py
  tripleo_ansible/playbooks/cli-overcloud-node-import.yaml
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Remove python-dev from bindep
  bindep.txt
Due: none

num_dpdk_interface_rx_queues support net conf schema
  releasenotes/notes/net-conf-schema-num_dpdk_interface_rx_queues-4a37e4fc3957ed9a.yaml
  tripleo_ansible/ansible_plugins/module_utils/baremetal_deploy.py
  tripleo_ansible/ansible_plugins/modules/tripleo_generate_inventory_network_config.py
  tripleo_ansible/tests/modules/test_tripleo_generate_inventory_network_config.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Allow bypassing uplinks definition in favor of peers
  tripleo_ansible/roles/tripleo_frr/defaults/main.yml
  tripleo_ansible/roles/tripleo_frr/tasks/main.yml
  tripleo_ansible/roles/tripleo_frr/templates/frr.conf.j2
Due: none

Move cryprography pin
  ansible-requirements.txt
  molecule-requirements.txt
  tox.ini
  tripleo_ansible/roles/tripleo_keystone_resources/molecule/default/start_keystone.sh
  zuul.d/playbooks/run-role-addition.yml
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-modules

Ensure english locale when running the command for ovs checks.
  tripleo_ansible/ansible_plugins/modules/tripleo_ovs_upgrade.py
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-molecule-tripleo-modules

Move cryprography pin
  ansible-requirements.txt
  molecule-requirements.txt
  tox.ini
  tripleo_ansible/roles/tripleo-keystone-resources/molecule/default/start_keystone.sh
Due: openstack-tox-docs, promote-openstack-tox-docs, tripleo-ansible-centos-8-role-addition, tripleo-ansible-centos-8-molecule-tripleo-modules, tripleo-ansible-centos-8-molecule-tripleo-keystone-resources

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt, ^tripleo_ansible/ansible_plugins/.*
  promote-openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt, ^tripleo_ansible/ansible_plugins/.*
  tripleo-ansible-centos-8-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-8-molecule-tripleo_auditd: any of: ^tripleo_ansible/roles/tripleo_auditd/(?!meta).*
  tripleo-ansible-centos-8-molecule-backup-and-restore: any of: ^tripleo_ansible/roles/backup-and-restore/.*
  tripleo-ansible-centos-8-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-8-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-8-molecule-test_package_action: any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*
  tripleo-ansible-centos-8-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-8-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  tripleo-ansible-centos-8-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-8-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-8-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-8-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-8-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-8-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-8-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-8-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-8-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-8-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-8-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-8-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-8-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-image-build: any of: ^tripleo_ansible/roles/tripleo-container-image-build/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-8-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-8-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-8-molecule-tripleo_lvmfilter: any of: ^tripleo_ansible/roles/tripleo_lvmfilter/.*
  tripleo-ansible-centos-8-molecule-tripleo_multipathd: any of: ^tripleo_ansible/roles/tripleo_multipathd/.*
  tripleo-ansible-centos-8-molecule-tripleo-network-config: any of: ^tripleo_ansible/roles/tripleo-network-config/.*
  tripleo-ansible-centos-8-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-8-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-8-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-8-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
  tripleo-ansible-centos-8-molecule-tripleo-clients-install: any of: ^tripleo_ansible/roles/tripleo-clients-install/.*
  tripleo-ansible-centos-8-molecule-tripleo-redhat-enforce: any of: ^tripleo_ansible/roles/tripleo-redhat-enforce/.*
  tripleo-ansible-centos-8-molecule-tripleo-sshd: any of: ^tripleo_ansible/roles/tripleo-sshd/.*
  tripleo-ansible-centos-8-molecule-tripleo-hosts-entries: any of: ^tripleo_ansible/roles/tripleo-hosts-entries/.*
  tripleo-ansible-centos-8-molecule-tripleo-container-manage: any of: ^zuul.d/playbooks/pre.yml, ^tripleo_ansible/roles/tripleo-container-manage/.*, ^tripleo_ansible/roles/tripleo-container-rm/.*, ^tripleo_ansible/ansible_plugins/action/container_status.py$, ^tripleo_ansible/ansible_plugins/action/container_systemd.py$, ^tripleo_ansible/ansible_plugins/filter/helpers.py$, ^tripleo_ansible/ansible_plugins/modules/container_config_data.py$, ^tripleo_ansible/ansible_plugins/modules/container_puppet_config.py$, ^tripleo_ansible/ansible_plugins/modules/container_startup_config.py$, ^tripleo_ansible/ansible_plugins/modules/podman_container.py$, ^tripleo_ansible/ansible_plugins/modules/podman_container_info.py$
  tripleo-ansible-centos-8-molecule-tripleo-modules: any of: ^tripleo_ansible/ansible_plugins/.*$, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-8-molecule-tripleo-keystone-resources: any of: ^tripleo_ansible/roles/tripleo-keystone-resources/.*
  tripleo-ansible-centos-8-molecule-tripleo-systemd-wrapper: any of: ^tripleo_ansible/roles/tripleo-systemd-wrapper/.*
  tripleo-ansible-centos-8-molecule-tripleo_nvdimm: any of: ^tripleo_ansible/roles/tripleo_nvdimm/.*
  tripleo-ansible-centos-8-molecule-tripleo_ha_wrapper: any of: ^tripleo_ansible/roles/tripleo_ha_wrapper/.*
  tripleo-ansible-centos-8-molecule-tripleo_nodes_validation: any of: ^tripleo_ansible/roles/tripleo_nodes_validation/.*
  tripleo-ansible-centos-8-molecule-tripleo_ovn_cluster: any of: ^tripleo_ansible/roles/tripleo_ovn_cluster/.*
