Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-scenario001-standalone, tripleo-ci-centos-7-scenario002-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-standalone-upgrade, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-persist, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-7-molecule-login-defs, tripleo-ansible-centos-7-molecule-tripleo-ptp, tripleo-ansible-centos-7-molecule-tripleo-timezone, tripleo-ansible-centos-7-molecule-tripleo-config, tripleo-ansible-centos-7-molecule-tripleo-container-stop, tripleo-ansible-centos-7-molecule-tripleo-hieradata, tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-7-molecule-tripleo-kernel, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-7-molecule-tripleo-firewall, tripleo-ansible-centos-7-molecule-tripleo-securetty, tripleo-ansible-centos-7-molecule-tripleo-cellv2, tripleo-ansible-centos-7-molecule-tripleo-clients-install, tripleo-ansible-centos-7-molecule-tripleo-validations-package, tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk, tripleo-ansible-centos-7-molecule-tripleo-sshd, tripleo-ansible-centos-7-molecule-backup-and-restore, tripleo-ansible-centos-7-molecule-tripleo-packages, tripleo-ansible-centos-7-molecule-tripleo-hosts-entries, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules, tripleo-ansible-centos-7-molecule-tripleo-keystone-resources, tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper

tripleo-ansible-docs:
  parent: openstack-tox-docs

tripleo-ansible-centos-7-molecule-aide:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-aide

tripleo-ansible-centos-7-molecule-test_deps:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_deps

tripleo-ansible-centos-7-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_json_error_callback

tripleo-ansible-centos-7-molecule-test_package_action:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_package_action

tripleo-ansible-centos-7-molecule-tuned:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-tuned

tripleo-ci-centos-7-containers-multinode:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-containers-undercloud-minion:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-undercloud-containers:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-scenario001-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-scenario002-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-scenario003-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-scenario004-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-scenario010-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-standalone-upgrade:
  dependencies:
  - openstack-tox-linters

tripleo-ansible-centos-7-molecule-tripleo-bootstrap:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-bootstrap

tripleo-ansible-centos-7-role-addition:
  nodeset: centos-7
  parent: tox-molecule
  timeout: 1800
  vars:
    tox_envlist: role-addition

tripleo-ansible-centos-7-molecule-tripleo-create-admin:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-create-admin

tripleo-ansible-centos-7-molecule-tripleo-module-load:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-module-load

tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-ssh-known-hosts

tripleo-ansible-centos-7-molecule-tripleo-container-tag:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-tag

tripleo-ansible-centos-7-molecule-tripleo-container-rm:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-rm

tripleo-ansible-centos-7-molecule-tripleo-image-serve:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-image-serve

tripleo-ansible-centos-7-molecule-tripleo-transfer:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-transfer

tripleo-ansible-centos-7-molecule-tripleo-podman:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-podman

tripleo-ansible-centos-7-molecule-login-defs:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: login-defs

tripleo_container_rm: also remove systemd requires when they exist
  tripleo_ansible/roles/tripleo_container_rm/tasks/tripleo_podman_container_rm.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Add tripleo-common and other client libraries to requirements
  requirements.txt
Due: none

Fix octavia services restart
  tripleo_ansible/roles/octavia_controller_post_config/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-scenario010-standalone

podman/systemd: manage timer requires
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/systemd.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

tripleo_container_rm: also remove systemd requires when they exist
  tripleo_ansible/roles/tripleo-container-rm/tasks/tripleo_podman_container_rm.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-rm

podman/systemd: manage timer requires
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/systemd.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage

Run standalone-upgrade job when touching container roles
  zuul.d/layout.yaml
Due: none

tripleo_container_manage: add systemd testcase for service reload
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/playbook.yml
Due: tripleo-ansible-centos-7-molecule-tripleo-container-manage

Add tmpwatch to the bootstrap
  tripleo_ansible/roles/tripleo-bootstrap/vars/redhat-8.yml
  tripleo_ansible/roles/tripleo-bootstrap/vars/redhat.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-bootstrap

Ensure ruamel is included when we build test environments
  molecule-requirements.txt
  zuul.d/layout.yaml
Due: tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-modules

Use baremetal modules in playbooks
  tripleo_ansible/playbooks/cli-baremetal-introspect.yaml
  tripleo_ansible/playbooks/cli-overcloud-node-provide.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Ensure rsync is installed during bootstrap
  tripleo_ansible/roles/tripleo_bootstrap/vars/fedora-28.yml
  tripleo_ansible/roles/tripleo_bootstrap/vars/redhat-8.yml
  tripleo_ansible/roles/tripleo_bootstrap/vars/redhat.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Ensure rsync is installed during bootstrap
  tripleo_ansible/roles/tripleo-bootstrap/vars/fedora-28.yml
  tripleo_ansible/roles/tripleo-bootstrap/vars/redhat-8.yml
  tripleo_ansible/roles/tripleo-bootstrap/vars/redhat.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-bootstrap

container_puppet_config: disable SElinux labelling
  tripleo_ansible/ansible_plugins/modules/container_puppet_config.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Improve logic in introspection module
  tripleo_ansible/ansible_plugins/modules/os_tripleo_baremetal_node_introspection.py
Due: tripleo-ansible-centos-7-molecule-tripleo-modules

Fix typo in introspection module
  tripleo_ansible/ansible_plugins/modules/os_tripleo_baremetal_node_introspection.py
Due: tripleo-ansible-centos-7-molecule-tripleo-modules

BaR Rename the mysql_short_bootstrap_name
  tripleo_ansible/roles/backup_and_restore/setup_rear/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Ansible module to clean nodes
  tripleo_ansible/ansible_plugins/modules/os_baremetal_clean_node.py
  tripleo_ansible/playbooks/cli-baremetal-clean.yaml
Due: tripleo-ansible-centos-7-molecule-tripleo-modules

BaR Rename the mysql_short_bootstrap_name
  tripleo_ansible/roles/backup-and-restore/setup_rear/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-backup-and-restore

Remove tripleo_ceph_fetch_dir role
  tripleo_ansible/playbooks/ceph.yaml
  tripleo_ansible/roles/tripleo-ceph-fetch-dir
  tripleo_ansible/roles/tripleo_ceph_common/defaults/main.yml
  tripleo_ansible/roles/tripleo_ceph_common/tasks/main.yml
  tripleo_ansible/roles/tripleo_ceph_common/vars/main.yml
  tripleo_ansible/roles/tripleo_ceph_fetch_dir/meta/main.yml
  tripleo_ansible/roles/tripleo_ceph_fetch_dir/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo_ceph_fetch_dir/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_ceph_fetch_dir/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo_ceph_fetch_dir/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_ceph_fetch_dir/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo_ceph_fetch_dir/tasks/backup_and_clean.yml
  tripleo_ansible/roles/tripleo_ceph_fetch_dir/tasks/create.yml
  tripleo_ansible/roles/tripleo_ceph_fetch_dir/tasks/main.yml
  tripleo_ansible/roles/tripleo_ceph_fetch_dir/vars/main.yml
  tripleo_ansible/roles/tripleo_ceph_run_ansible/meta/main.yml
  tripleo_ansible/roles/tripleo_ceph_run_ansible/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo_ceph_run_ansible/tasks/main.yml
  tripleo_ansible/roles/tripleo_ceph_uuid/meta/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Baremetal Configure Playbook
  tripleo_ansible/ansible_plugins/modules/os_tripleo_baremetal_configure.py
  tripleo_ansible/playbooks/cli-baremetal-configure.yaml
Due: tripleo-ansible-centos-7-molecule-tripleo-modules

filters: make get_domain_id more robust
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo_keystone_resources/tasks/user_per_role.yml
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Fix error with command ansible module and pipes
  tripleo_ansible/roles/backup_and_restore/backup/tasks/db_backup.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Implement concurrency in baremetal cleaning
  tripleo_ansible/ansible_plugins/modules/os_baremetal_clean_node.py
  tripleo_ansible/playbooks/cli-baremetal-clean.yaml
Due: tripleo-ansible-centos-7-molecule-tripleo-modules

Add raid configuration playbook and options
  tripleo_ansible/ansible_plugins/modules/os_baremetal_clean_node.py
  tripleo_ansible/playbooks/cli-baremetal-raid.yaml
Due: tripleo-ansible-centos-7-molecule-tripleo-modules

Create a bios reset playbook
  tripleo_ansible/playbooks/cli-baremetal-bios-reset.yaml
Due: none

Create a bios apply playbook
  tripleo_ansible/playbooks/cli-baremetal-bios-apply.yaml
Due: none

Add custom ansible-lint rule for Role Names
  .ansible-lint
  .ansible-lint_rules/RoleNames.py
Due: none

tripleo_container_manage: remove unused cpuset_cpus
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/create.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Modify the provide playbook to simplify client interactions
  tripleo_ansible/playbooks/cli-overcloud-node-provide.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Modify the introspection playbook to simplify client interactions
  tripleo_ansible/playbooks/cli-baremetal-introspect.yaml
Due: none

filters: make get_domain_id more robust
  tripleo_ansible/ansible_plugins/filter/helpers.py
  tripleo_ansible/roles/tripleo-keystone-resources/tasks/user_per_role.yml
  tripleo_ansible/tests/plugins/filter/test_helpers.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules, tripleo-ansible-centos-7-molecule-tripleo-keystone-resources

Add strategy optimization
  tripleo_ansible/ansible_plugins/strategy/linear.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Don't fail symlinking puppet modules if directory exists
  tripleo_ansible/roles/tripleo-bootstrap/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-bootstrap

Fix error with command ansible module and pipes
  tripleo_ansible/roles/backup-and-restore/backup/tasks/db_backup.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-backup-and-restore

Remove tripleo_ceph_fetch_dir role
  tripleo_ansible/playbooks/ceph.yaml
  tripleo_ansible/roles/tripleo-ceph-common/defaults/main.yml
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/meta/main.yml
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/tasks/backup_and_clean.yml
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/tasks/create.yml
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/tasks/main.yml
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/vars/main.yml
  tripleo_ansible/roles/tripleo-ceph-run-ansible/meta/main.yml
  tripleo_ansible/roles/tripleo-ceph-run-ansible/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-ceph-run-ansible/tasks/main.yml
  tripleo_ansible/roles/tripleo-ceph-uuid/meta/main.yml
  tripleo_ansible/roles/tripleo-ceph-work-dir/meta/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible

Fixed the condition for gather_domains
  tripleo_ansible/roles/tripleo_keystone_resources/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Increase number of retries for container create async task
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/create.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  openstack-tox-docs: any of: ^doc/.*, ^README.rst
  tripleo-ci-centos-7-containers-multinode: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-containers-undercloud-minion: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-undercloud-containers: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-scenario001-standalone: (any of: ^tripleo_ansible/roles/tripleo-ceph-*/.*, ^tripleo_ansible/roles/tripleo-hieradata/.*, ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*, ^setup.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-scenario002-standalone: (any of: ^tripleo_ansible/roles/tripleo-hieradata/.*, ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-scenario003-standalone: (any of: ^tripleo_ansible/roles/tripleo-create-admin/.*, ^tripleo_ansible/roles/tripleo-hieradata/.*, ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-scenario004-standalone: (any of: ^tripleo_ansible/roles/tripleo-ceph-*/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-scenario010-standalone: (any of: ^tripleo_ansible/.*octavia.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-standalone-upgrade: (any of: ^tripleo_ansible/roles/tripleo-hieradata/.*, ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  promote-openstack-tox-docs: any of: ^doc/.*, ^README.rst
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-7-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-7-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-7-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-7-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-7-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-7-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-7-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-7-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-7-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-7-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-7-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-7-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-7-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
  tripleo-ansible-centos-7-molecule-tripleo-clients-install: any of: ^tripleo_ansible/roles/tripleo-clients-install/.*
  tripleo-ansible-centos-7-molecule-tripleo-validations-package: any of: ^tripleo_ansible/roles/tripleo-validations-package/.*
  tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk: any of: ^tripleo_ansible/roles/tripleo-ovs-dpdk/.*
  tripleo-ansible-centos-7-molecule-tripleo-sshd: any of: ^tripleo_ansible/roles/tripleo-sshd/.*
  tripleo-ansible-centos-7-molecule-backup-and-restore: any of: ^tripleo_ansible/roles/backup-and-restore/.*
  tripleo-ansible-centos-7-molecule-tripleo-packages: any of: ^tripleo_ansible/roles/tripleo-packages/.*
  tripleo-ansible-centos-7-molecule-tripleo-hosts-entries: any of: ^tripleo_ansible/roles/tripleo-hosts-entries/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-manage: any of: ^tripleo_ansible/roles/tripleo-container-manage/.*
  tripleo-ansible-centos-7-molecule-tripleo-modules: any of: ^tripleo_ansible/ansible_plugins/.*$, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-keystone-resources: any of: ^tripleo_ansible/roles/tripleo-keystone-resources/.*
  tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper: any of: ^tripleo_ansible/roles/tripleo-systemd-wrapper/.*
