Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario002-standalone, tripleo-ci-centos-8-scenario003-standalone, tripleo-ci-centos-8-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-standalone-upgrade, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-persist, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-7-molecule-login-defs, tripleo-ansible-centos-7-molecule-tripleo-ptp, tripleo-ansible-centos-7-molecule-tripleo-timezone, tripleo-ansible-centos-7-molecule-tripleo-config, tripleo-ansible-centos-7-molecule-tripleo-container-stop, tripleo-ansible-centos-7-molecule-tripleo-hieradata, tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-7-molecule-tripleo-kernel, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-7-molecule-tripleo-firewall, tripleo-ansible-centos-7-molecule-tripleo-securetty, tripleo-ansible-centos-7-molecule-tripleo-cellv2, tripleo-ansible-centos-7-molecule-tripleo-clients-install, tripleo-ansible-centos-7-molecule-tripleo-validations-package, tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk, tripleo-ansible-centos-7-molecule-tripleo-sshd, tripleo-ansible-centos-7-molecule-backup-and-restore, tripleo-ansible-centos-7-molecule-tripleo-packages, tripleo-ansible-centos-7-molecule-tripleo-hosts-entries, tripleo-ansible-centos-7-molecule-tripleo-container-manage, tripleo-ansible-centos-7-molecule-tripleo-modules, tripleo-ansible-centos-7-molecule-tripleo-keystone-resources, tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper

tripleo-ansible-docs:
  parent: openstack-tox-docs

tripleo-ansible-centos-7-molecule-aide:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-aide

tripleo-ansible-centos-7-molecule-test_deps:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_deps

tripleo-ansible-centos-7-molecule-test_json_error_callback:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_json_error_callback

tripleo-ansible-centos-7-molecule-test_package_action:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-test_package_action

tripleo-ansible-centos-7-molecule-tuned:
  parent: tripleo-ansible-centos
  vars:
    tox_envlist: mol-tuned

tripleo-ci-centos-7-containers-multinode:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-containers-undercloud-minion:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-undercloud-containers:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario001-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario002-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario003-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-8-scenario004-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-scenario010-standalone:
  dependencies:
  - openstack-tox-linters

tripleo-ci-centos-7-standalone-upgrade:
  dependencies:
  - openstack-tox-linters

tripleo-ansible-centos-7-molecule-tripleo-bootstrap:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-bootstrap

tripleo-ansible-centos-7-role-addition:
  nodeset: centos-7
  parent: tox-molecule
  timeout: 1800
  vars:
    tox_envlist: role-addition

tripleo-ansible-centos-7-molecule-tripleo-create-admin:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-create-admin

tripleo-ansible-centos-7-molecule-tripleo-module-load:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-module-load

tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-ssh-known-hosts

tripleo-ansible-centos-7-molecule-tripleo-container-tag:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-tag

tripleo-ansible-centos-7-molecule-tripleo-container-rm:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-container-rm

tripleo-ansible-centos-7-molecule-tripleo-image-serve:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-image-serve

tripleo-ansible-centos-7-molecule-tripleo-transfer:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-transfer

tripleo-ansible-centos-7-molecule-tripleo-podman:
  parent: tripleo-ansible-centos-7-base
  vars:
    tripleo_role_name: tripleo-podman

Remove fedora28 from redhat-8 test
  tripleo_ansible/roles/test_deps/vars/redhat-8.yml
Due: tripleo-ansible-centos-7-molecule-test_deps

Add centos8 file for deps
  tripleo_ansible/roles/test_deps/vars/centos-8.yml
Due: tripleo-ansible-centos-7-molecule-test_deps

Correctly match openvswitch package
  tripleo_ansible/roles/tripleo-packages/tasks/upgrade.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-packages

Change Ansible group from overcloud to allovercloud.
  tripleo_ansible/roles/tripleo-hosts-entries/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-hosts-entries/tasks/main.yml
  tripleo_ansible/roles/tripleo-ssh-known-hosts/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-ssh-known-hosts/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-hosts-entries

podman/create: make containers_to_check more realistic
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/create.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade

container_manage: fix number of retries to match 10 minutes
  tripleo_ansible/roles/tripleo_container_manage/defaults/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade

podman/create: make containers_to_check more realistic
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage

[train-squash] Fix default timeouts for container_manage
  tripleo_ansible/roles/tripleo-container-manage/defaults/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage

Add log level config to podman_container module
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Add ansible module to generate tripleo inventory
  doc/source/modules/modules-tripleo_generate_ansible_inventory.rst
  tripleo_ansible/ansible_plugins/modules/tripleo_generate_ansible_inventory.py
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules

Add module for downloading confg
  doc/source/modules/modules-tripleo_config_download.rst
  tripleo_ansible/ansible_plugins/modules/tripleo_config_download.py
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules

tripleo_container_manage: set log_level appropriately
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/create.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade

tripleo_container_manage: set log_level appropriately
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage

Add playbook for config-download
  tripleo_ansible/playbooks/cli-config-download.yaml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Add security related podman options
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/create.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-standalone-upgrade

Add tripleo callback
  tripleo_ansible/ansible_plugins/callback/tripleo.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Add tripleo dense formatting
  tripleo_ansible/ansible_plugins/callback/tripleo_dense.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Add tripleo_profile_tasks for tripleo_dense output
  tripleo_ansible/ansible_plugins/callback/tripleo_profile_tasks.py
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-modules

Create derived parameters playbook, and role
  doc/source/_exts/ansible-autodoc.py
  doc/source/roles/role-tripleo_derived_parameters.rst
  tripleo_ansible/ansible_plugins/modules/tripleo_get_flatten_stack.py
  tripleo_ansible/ansible_plugins/modules/tripleo_get_role_list.py
  tripleo_ansible/ansible_plugins/modules/tripleo_reset_params.py
  tripleo_ansible/playbooks/cli-derive-parameters.yaml
  tripleo_ansible/roles/tripleo_derived_parameters/defaults/main.yml
  tripleo_ansible/roles/tripleo_derived_parameters/handlers/main.yml
  tripleo_ansible/roles/tripleo_derived_parameters/meta/main.yml
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/mock_baremetal_ComputeHCI
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/mock_baremetal_Controller
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/mock_hci_profile_config
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/mock_ironic_all
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/mock_params
  tripleo_ansible/roles/tripleo_derived_parameters/molecule/mock_roles
  tripleo_ansible/roles/tripleo_derived_parameters/tasks/main.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs, tripleo-ansible-centos-7-molecule-tripleo-modules

Add missing doc & zuul job for tripleo_provision_mcelog
  doc/source/roles/role-tripleo_provision_mcelog.rst
  tripleo_ansible/roles/tripleo_provision_mcelog/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo_provision_mcelog/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_provision_mcelog/tasks/main.yml
  zuul.d/molecule.yaml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs

Ensure that the playbooks and roles can display debug data when enabled
  _skeleton_role_/defaults/main.yml.j2
  tripleo_ansible/playbooks/cli-create-deployment-plan.yaml
  tripleo_ansible/playbooks/cli-undercloud-backup.yaml
  tripleo_ansible/playbooks/cli-update-deployment-plan.yaml
  tripleo_ansible/playbooks/rotate-fernet-keys.yaml
  tripleo_ansible/playbooks/rotate-keys.yaml
  tripleo_ansible/playbooks/rotate-passwords.yaml
  tripleo_ansible/roles/aide/defaults/main.yml
  tripleo_ansible/roles/aide/tasks/aide_config.yml
  tripleo_ansible/roles/aide/tasks/aide_upgrade.yml
  tripleo_ansible/roles/backup_and_restore/defaults/main.yml
  tripleo_ansible/roles/backup_and_restore/tasks/db_backup.yml
  tripleo_ansible/roles/login_defs/defaults/main.yml
  tripleo_ansible/roles/tripleo_cellv2/defaults/main.yml
  tripleo_ansible/roles/tripleo_ceph_run_ansible/defaults/main.yml
  tripleo_ansible/roles/tripleo_ceph_run_ansible/tasks/main.yml
  tripleo_ansible/roles/tripleo_container_image_prepare/defaults/main.yml
  tripleo_ansible/roles/tripleo_container_image_prepare/tasks/main.yml
  tripleo_ansible/roles/tripleo_container_manage/defaults/main.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/delete_orphan.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/create.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/exec.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/get_commands_exec.yml
  tripleo_ansible/roles/tripleo_container_manage/tasks/podman/start_order.yml
  tripleo_ansible/roles/tripleo_hosts_entries/defaults/main.yml
  tripleo_ansible/roles/tripleo_nova_image_cache/defaults/main.yml
  tripleo_ansible/roles/tripleo_ovs_dpdk/defaults/main.yml
  tripleo_ansible/roles/tripleo_packages/defaults/main.yml
  tripleo_ansible/roles/tripleo_podman/defaults/main.yml
  tripleo_ansible/roles/tripleo_podman/tasks/tripleo_podman_login.yml
  tripleo_ansible/roles/tripleo_puppet_cache/defaults/main.yml
  tripleo_ansible/roles/tripleo_puppet_cache/tasks/main.yml
  tripleo_ansible/roles/tripleo_redhat_enforce/defaults/main.yml
  tripleo_ansible/roles/tripleo_systemd_wrapper/defaults/main.yml
  tripleo_ansible/roles/tripleo_transfer/defaults/main.yml
  tripleo_ansible/roles/tripleo_transfer/tasks/main.yml
Due: tripleo-ansible-centos-7-molecule-aide, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-8-scenario001-standalone, tripleo-ci-centos-8-scenario004-standalone, tripleo-ci-centos-7-standalone-upgrade, tripleo-ansible-centos-7-role-addition

Add toggle for sensitive data within octavia
  tripleo_ansible/roles/octavia_controller_config/defaults/main.yml
  tripleo_ansible/roles/octavia_controller_config/tasks/certificate.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-scenario010-standalone

Add security related podman options
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman/create.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ansible-centos-7-molecule-tripleo-container-manage

Scan existing controllers on update to pick up existing certs/private keys
  tripleo_ansible/playbooks/octavia-files.yaml
  tripleo_ansible/roles/octavia-controller-check
  tripleo_ansible/roles/octavia_controller_check/meta/main.yml
  tripleo_ansible/roles/octavia_controller_check/tasks/main.yml
  tripleo_ansible/roles/octavia_controller_config/tasks/main.yml
  tripleo_ansible/roles/octavia_overcloud_config/tasks/check_existing_certs.yml
  tripleo_ansible/roles/octavia_overcloud_config/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, tripleo-ci-centos-7-scenario010-standalone

Update .gitreview for stable/ussuri
  .gitreview
Due: none

Update TOX_CONSTRAINTS_FILE for stable/ussuri
  tox.ini
Due: tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-modules

Update master for stable/ussuri
  releasenotes/source/index.rst
  releasenotes/source/ussuri.rst
Due: none

Add Python3 victoria unit tests
  zuul.d/layout.yaml
Due: none

added mcelog role
  tripleo_ansible/roles/tripleo_provision_mcelog/defaults/main.yml
  tripleo_ansible/roles/tripleo_provision_mcelog/meta/main.yml
  tripleo_ansible/roles/tripleo_provision_mcelog/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo_provision_mcelog/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_provision_mcelog/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_provision_mcelog/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_provision_mcelog/tasks/main.yml
Due: tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers

Add new role to manage persistent memory devices
  doc/source/roles/role-tripleo_nvdimm.rst
  tripleo_ansible/roles/tripleo_nvdimm/defaults/main.yml
  tripleo_ansible/roles/tripleo_nvdimm/files/.gitkeep
  tripleo_ansible/roles/tripleo_nvdimm/handlers/main.yml
  tripleo_ansible/roles/tripleo_nvdimm/meta/main.yml
  tripleo_ansible/roles/tripleo_nvdimm/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo_nvdimm/molecule/default/converge.yml
  tripleo_ansible/roles/tripleo_nvdimm/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo_nvdimm/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo_nvdimm/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo_nvdimm/molecule/default/tests/test_default.py
  tripleo_ansible/roles/tripleo_nvdimm/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo_nvdimm/tasks/create_namespaces.yml
  tripleo_ansible/roles/tripleo_nvdimm/tasks/main.yml
  tripleo_ansible/roles/tripleo_nvdimm/vars/.gitkeep
  zuul.d/molecule.yaml
Due: openstack-tox-docs, tripleo-ci-centos-7-containers-multinode, tripleo-ci-centos-8-standalone, tripleo-ci-centos-7-containers-undercloud-minion, tripleo-ci-centos-7-undercloud-containers, promote-openstack-tox-docs

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt
  tripleo-ci-centos-7-containers-multinode: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-standalone: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-containers-undercloud-minion: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-undercloud-containers: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario001-standalone: (any of: ^tripleo_ansible/roles/tripleo_ceph_.*/.*, ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*, ^setup.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario002-standalone: (any of: ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario003-standalone: (any of: ^tripleo_ansible/roles/tripleo_create_admin/.*, ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-8-scenario004-standalone: (any of: ^tripleo_ansible/roles/tripleo_ceph_.*/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-scenario010-standalone: (any of: ^tripleo_ansible/.*octavia.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  tripleo-ci-centos-7-standalone-upgrade: (any of: ^tripleo_ansible/roles/tripleo_hieradata/.*, ^tripleo_ansible/roles/tripleo_upgrade_hiera/.*, ^tripleo_ansible/roles/tripleo_container_manage/.*, ^tripleo_ansible/roles/tripleo_container_rm/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^_skeleton_role_/.*, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*, ^tripleo_ansible/roles/test_deps/.*)
  promote-openstack-tox-docs: any of: ^doc/.*, ^molecule-requirements.txt, ^README.rst, ^requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-7-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-7-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-7-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-7-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-7-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-7-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-7-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-7-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-7-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-7-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-7-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-7-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-7-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*
  tripleo-ansible-centos-7-molecule-tripleo-clients-install: any of: ^tripleo_ansible/roles/tripleo-clients-install/.*
  tripleo-ansible-centos-7-molecule-tripleo-validations-package: any of: ^tripleo_ansible/roles/tripleo-validations-package/.*
  tripleo-ansible-centos-7-molecule-tripleo-ovs-dpdk: any of: ^tripleo_ansible/roles/tripleo-ovs-dpdk/.*
  tripleo-ansible-centos-7-molecule-tripleo-sshd: any of: ^tripleo_ansible/roles/tripleo-sshd/.*
  tripleo-ansible-centos-7-molecule-backup-and-restore: any of: ^tripleo_ansible/roles/backup-and-restore/.*
  tripleo-ansible-centos-7-molecule-tripleo-packages: any of: ^tripleo_ansible/roles/tripleo-packages/.*
  tripleo-ansible-centos-7-molecule-tripleo-hosts-entries: any of: ^tripleo_ansible/roles/tripleo-hosts-entries/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-manage: any of: ^tripleo_ansible/roles/tripleo-container-manage/.*
  tripleo-ansible-centos-7-molecule-tripleo-modules: any of: ^tripleo_ansible/ansible_plugins/.*$, ^tox.ini, ^molecule-requirements.txt
  tripleo-ansible-centos-7-molecule-tripleo-keystone-resources: any of: ^tripleo_ansible/roles/tripleo-keystone-resources/.*
  tripleo-ansible-centos-7-molecule-tripleo-systemd-wrapper: any of: ^tripleo_ansible/roles/tripleo-systemd-wrapper/.*
