Repository openstack-archive/tripleo-ansible: changes, and which Zuul jobs are due for each by the changed paths.
All: tripleo-ansible-docs, tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_deps, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario012-standalone, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-persist, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible, tripleo-ansible-centos-7-molecule-login-defs, tripleo-ansible-centos-7-molecule-tripleo-ptp, tripleo-ansible-centos-7-molecule-tripleo-timezone, tripleo-ansible-centos-7-molecule-tripleo-config, tripleo-ansible-centos-7-molecule-tripleo-container-stop, tripleo-ansible-centos-7-molecule-tripleo-hieradata, tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera, tripleo-ansible-centos-7-molecule-tripleo-kernel, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-7-molecule-tripleo-firewall, tripleo-ansible-centos-7-molecule-tripleo-securetty, tripleo-ansible-centos-7-molecule-tripleo-cellv2

Path conditions:
  tripleo-ansible-docs: any of: ^tripleo_ansible/doc/.*, ^tripleo_ansible/README.rst
  tripleo-ansible-centos-7-molecule-aide: any of: ^tripleo_ansible/roles/aide/.*
  tripleo-ansible-centos-7-molecule-test_deps: any of: ^tripleo_ansible/roles/test_deps/.*
  tripleo-ansible-centos-7-molecule-test_json_error_callback: any of: ^tripleo_ansible/roles/test_json_error_callback/.*
  tripleo-ansible-centos-7-molecule-test_package_action: (any of: ^tripleo_ansible/roles/test_package_action/.*, ^tripleo-ansible/tripleo_ansible/ansible_plugins/action/package.py) or (any of: ^tripleo_ansible/ansible_plugins/action/package.py, ^tripleo_ansible/roles/test_package_action/.*)
  tripleo-ansible-centos-7-molecule-tuned: any of: ^tripleo_ansible/roles/tuned/.*
  tripleo-ci-centos-7-scenario004-standalone: (any of: ^tripleo_ansible/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario010-standalone: (any of: ^tripleo_ansible/.*octavia.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario003-standalone: (any of: ^tripleo_ansible/roles/tripleo-create-admin/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ci-centos-7-scenario012-standalone: (any of: ^tripleo_ansible/roles/tripleo-module-load/.*) and (unless all of: .*.md$, .*.rst$, .*.txt$, ^tripleo_ansible/.*molecule.*, ^tripleo_ansible/.*meta.*)
  tripleo-ansible-centos-7-molecule-tripleo-bootstrap: any of: ^tripleo_ansible/roles/tripleo-bootstrap/.*
  tripleo-ansible-centos-7-role-addition: any of: ^_skeleton_role_/.*, ^role-addition.yml, ^tox.ini
  tripleo-ansible-centos-7-molecule-tripleo-create-admin: any of: ^tripleo_ansible/roles/tripleo-create-admin/.*
  tripleo-ansible-centos-7-molecule-tripleo-module-load: any of: ^tripleo_ansible/roles/tripleo-module-load/.*
  tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts: any of: ^tripleo_ansible/roles/tripleo-ssh-known-hosts/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-tag: any of: ^tripleo_ansible/roles/tripleo-container-tag/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-rm: any of: ^tripleo_ansible/roles/tripleo-container-rm/.*
  tripleo-ansible-centos-7-molecule-tripleo-image-serve: any of: ^tripleo_ansible/roles/tripleo-image-serve/.*
  tripleo-ansible-centos-7-molecule-tripleo-transfer: any of: ^tripleo_ansible/roles/tripleo-transfer/.*
  tripleo-ansible-centos-7-molecule-tripleo-podman: any of: ^tripleo_ansible/roles/tripleo-podman/.*
  tripleo-ansible-centos-7-molecule-tripleo-persist: any of: ^tripleo_ansible/roles/tripleo-persist/.*
  tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible: any of: ^tripleo_ansible/roles/tripleo-ceph-run-ansible/.*
  tripleo-ansible-centos-7-molecule-login-defs: any of: ^tripleo_ansible/roles/login-defs/.*
  tripleo-ansible-centos-7-molecule-tripleo-ptp: any of: ^tripleo_ansible/roles/tripleo-ptp/.*
  tripleo-ansible-centos-7-molecule-tripleo-timezone: any of: ^tripleo_ansible/roles/tripleo-timezone/.*
  tripleo-ansible-centos-7-molecule-tripleo-config: any of: ^tripleo_ansible/roles/tripleo-config/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-stop: any of: ^tripleo_ansible/roles/tripleo-container-stop/.*
  tripleo-ansible-centos-7-molecule-tripleo-hieradata: any of: ^tripleo_ansible/roles/tripleo-hieradata/.*
  tripleo-ansible-centos-7-molecule-tripleo-upgrade-hiera: any of: ^tripleo_ansible/roles/tripleo-upgrade-hiera/.*
  tripleo-ansible-centos-7-molecule-tripleo-kernel: any of: ^tripleo_ansible/roles/tripleo-kernel/.*
  tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare: any of: ^tripleo_ansible/roles/tripleo-container-image-prepare/.*
  tripleo-ansible-centos-7-molecule-tripleo-firewall: any of: ^tripleo_ansible/roles/tripleo-firewall/.*
  tripleo-ansible-centos-7-molecule-tripleo-securetty: any of: ^tripleo_ansible/roles/tripleo-securetty/.*
  tripleo-ansible-centos-7-molecule-tripleo-cellv2: any of: ^tripleo_ansible/roles/tripleo-cellv2/.*

Revert "scenario010 nonvoting"
  zuul.d/layout.yaml
Due: none

Remove readme files within the roles
  _skeleton_role_/README.md
  tripleo_ansible/roles/aide/README.md
  tripleo_ansible/roles/test_json_error_callback/README.md
  tripleo_ansible/roles/test_package_action/README.md
  tripleo_ansible/roles/tripleo-bootstrap/README.md
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/README.md
  tripleo_ansible/roles/tripleo-ceph-run-ansible/README.md
  tripleo_ansible/roles/tripleo-ceph-uuid/README.md
  tripleo_ansible/roles/tripleo-ceph-work-dir/README.md
  tripleo_ansible/roles/tripleo-clients-install/README.md
  tripleo_ansible/roles/tripleo-container-tag/README.md
  tripleo_ansible/roles/tripleo-create-admin/README.md
  tripleo_ansible/roles/tripleo-image-serve/README.md
  tripleo_ansible/roles/tripleo-ssh-known-hosts/README.md
  tripleo_ansible/roles/tripleo-transfer/README.md
  tripleo_ansible/roles/tripleo-validations-package/README.md
  tripleo_ansible/roles/tuned/README.md
Due: tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-test_json_error_callback, tripleo-ansible-centos-7-molecule-test_package_action, tripleo-ansible-centos-7-molecule-tuned, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible

podman_container: command now accepts lists
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-scenario004-standalone

Add a playbook for the "openstack overcloud delete" CLI Command
  tripleo_ansible/playbooks/overcloud-delete.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Update config to support RHEL/CENT8
  bindep.txt
  scripts/run-local-test
  tripleo_ansible/roles/test_deps/vars/redhat-8.yml
  zuul.d/playbooks/pre.yml
Due: tripleo-ansible-centos-7-molecule-test_deps, tripleo-ci-centos-7-scenario004-standalone

Install packages and load kernel modules before configuring sysctl.
  tripleo_ansible/roles/tripleo-kernel/tasks/main.yml
  tripleo_ansible/roles/tripleo-kernel/vars/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-kernel

podman_container: only add --volume if item not empty
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-scenario004-standalone

Remove leftovers for podman-image*
  doc/source/modules/modules-podman_image.rst
  doc/source/modules/modules-podman_image_facts.rst
Due: none

Add the Apache license to the overcloud-delete playbook
  tripleo_ansible/playbooks/overcloud-delete.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Fix cellv2 role handler
  tripleo_ansible/roles/tripleo-cellv2/handlers/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-cellv2

Use executable for podman container from params
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-scenario004-standalone

Fix booleans settings in podman_container
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-scenario004-standalone

paunch: support a directory for "config" parameter
  tripleo_ansible/ansible_plugins/modules/paunch.py
Due: tripleo-ci-centos-7-scenario004-standalone

Fix the filter plugin location for triple-ovs-dpdk role
  tripleo_ansible/ansible_plugins/filter/cpu_mask.py
Due: tripleo-ci-centos-7-scenario004-standalone

Workaround for ansible-lint installation failure
  bindep.txt
  tox.ini
Due: tripleo-ansible-centos-7-role-addition

Update .gitreview for stable/train
  .gitreview
Due: none

Update TOX/UPPER_CONSTRAINTS_FILE for stable/train
  tox.ini
Due: tripleo-ansible-centos-7-role-addition

Update master for stable/train
  releasenotes/source/index.rst
  releasenotes/source/train.rst
Due: none

Simplify octavia post deploy configs
  releasenotes/notes/fix-scattered-octavia-configs-2ef4f66ed1e02b60.yaml
  tripleo_ansible/roles/octavia-controller-config/tasks/main.yml
  tripleo_ansible/roles/octavia-controller-config/tasks/octavia.yml
  tripleo_ansible/roles/octavia-controller-config/templates/manager-post-deploy.conf.j2
  tripleo_ansible/roles/octavia-controller-post-config/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario010-standalone

Include stdout and stderr in return of podman_container
  tripleo_ansible/ansible_plugins/modules/podman_container.py
Due: tripleo-ci-centos-7-scenario004-standalone

paunch: only read container config JSON which starts by "hashed-"
  tripleo_ansible/ansible_plugins/modules/paunch.py
Due: tripleo-ci-centos-7-scenario004-standalone

Fix invalid variable issue with StorageNFS
  releasenotes/notes/bug-1849393-fix-retrieval-of-storage-nfs-params-5f92d7999c36ef05.yaml
  tripleo_ansible/roles/tripleo-hieradata/templates/vip_data.j2
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-hieradata

Tighten up how we add and remove kernel modules
  tripleo_ansible/roles/tripleo-module-load/handlers/main.yml
  tripleo_ansible/roles/tripleo-module-load/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-module-load/molecule/legacy_vars/molecule.yml
  tripleo_ansible/roles/tripleo-module-load/molecule/legacy_vars/prepare.yml
  tripleo_ansible/roles/tripleo-module-load/molecule/remove_module/molecule.yml
  tripleo_ansible/roles/tripleo-module-load/molecule/remove_module/prepare.yml
  tripleo_ansible/roles/tripleo-module-load/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario012-standalone, tripleo-ansible-centos-7-molecule-tripleo-module-load

Introduce tripleo-container-manage role
  doc/source/roles/role-tripleo-container-manage.rst
  tripleo_ansible/roles/tripleo-container-manage/defaults/main.yml
  tripleo_ansible/roles/tripleo-container-manage/filter_plugins/helpers.py
  tripleo_ansible/roles/tripleo-container-manage/meta/main.yml
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-container-manage/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman.yaml
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-healthcheck.j2
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-service.j2
  tripleo_ansible/roles/tripleo-container-manage/templates/systemd-timer.j2
Due: tripleo-ci-centos-7-scenario004-standalone

Drop unnecessary tripleo_ prefix from skeleton role
  _skeleton_role_/defaults/main.yml.j2
  _skeleton_role_/vars/main.yml
  tripleo_ansible/roles/tripleo-container-image-prepare/defaults/main.yml
  tripleo_ansible/roles/tripleo-sshd/defaults/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare

Fix typo in skeleton role
  _skeleton_role_/defaults/main.yml.j2
  tripleo_ansible/roles/aide/defaults/main.yml
  tripleo_ansible/roles/backup-and-restore/defaults/main.yml
  tripleo_ansible/roles/tripleo-bootstrap/defaults/main.yml
  tripleo_ansible/roles/tripleo-cellv2/defaults/main.yml
  tripleo_ansible/roles/tripleo-clients-install/defaults/main.yml
  tripleo_ansible/roles/tripleo-config/defaults/main.yml
  tripleo_ansible/roles/tripleo-container-image-prepare/defaults/main.yml
  tripleo_ansible/roles/tripleo-container-rm/defaults/main.yml
  tripleo_ansible/roles/tripleo-container-tag/defaults/main.yml
  tripleo_ansible/roles/tripleo-create-admin/defaults/main.yml
  tripleo_ansible/roles/tripleo-firewall/defaults/main.yml
  tripleo_ansible/roles/tripleo-image-serve/defaults/main.yml
  tripleo_ansible/roles/tripleo-kernel/defaults/main.yml
  tripleo_ansible/roles/tripleo-module-load/defaults/main.yml
  tripleo_ansible/roles/tripleo-podman/defaults/main.yml
  tripleo_ansible/roles/tripleo-ptp/defaults/main.yml
  tripleo_ansible/roles/tripleo-securetty/defaults/main.yml
  tripleo_ansible/roles/tripleo-ssh-known-hosts/defaults/main.yml
  tripleo_ansible/roles/tripleo-sshd/defaults/main.yml
  tripleo_ansible/roles/tripleo-timezone/defaults/main.yml
  tripleo_ansible/roles/tripleo-transfer/defaults/main.yml
  tripleo_ansible/roles/tuned/defaults/main.yml
Due: tripleo-ansible-centos-7-molecule-aide, tripleo-ansible-centos-7-molecule-tuned, tripleo-ci-centos-7-scenario004-standalone, tripleo-ci-centos-7-scenario003-standalone, tripleo-ci-centos-7-scenario012-standalone, tripleo-ansible-centos-7-molecule-tripleo-bootstrap, tripleo-ansible-centos-7-role-addition, tripleo-ansible-centos-7-molecule-tripleo-create-admin, tripleo-ansible-centos-7-molecule-tripleo-module-load, tripleo-ansible-centos-7-molecule-tripleo-ssh-known-hosts, tripleo-ansible-centos-7-molecule-tripleo-container-tag, tripleo-ansible-centos-7-molecule-tripleo-container-rm, tripleo-ansible-centos-7-molecule-tripleo-image-serve, tripleo-ansible-centos-7-molecule-tripleo-transfer, tripleo-ansible-centos-7-molecule-tripleo-podman, tripleo-ansible-centos-7-molecule-tripleo-ptp, tripleo-ansible-centos-7-molecule-tripleo-timezone, tripleo-ansible-centos-7-molecule-tripleo-config, tripleo-ansible-centos-7-molecule-tripleo-kernel, tripleo-ansible-centos-7-molecule-tripleo-container-image-prepare, tripleo-ansible-centos-7-molecule-tripleo-firewall, tripleo-ansible-centos-7-molecule-tripleo-securetty, tripleo-ansible-centos-7-molecule-tripleo-cellv2

Add tripleo-hosts-entries role
  doc/source/roles/role-tripleo-hosts-entries.rst
  tripleo_ansible/roles/tripleo-hosts-entries/defaults/main.yml
  tripleo_ansible/roles/tripleo-hosts-entries/files/.gitkeep
  tripleo_ansible/roles/tripleo-hosts-entries/handlers/main.yml
  tripleo_ansible/roles/tripleo-hosts-entries/meta/main.yml
  tripleo_ansible/roles/tripleo-hosts-entries/molecule/default/Dockerfile
  tripleo_ansible/roles/tripleo-hosts-entries/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-hosts-entries/molecule/default/playbook.yml
  tripleo_ansible/roles/tripleo-hosts-entries/molecule/default/prepare.yml
  tripleo_ansible/roles/tripleo-hosts-entries/molecule/default/verify.yml
  tripleo_ansible/roles/tripleo-hosts-entries/tasks/main.yml
  tripleo_ansible/roles/tripleo-hosts-entries/vars/main.yml
  zuul.d/molecule.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

tripleo-container-manage: set some defaults
  tripleo_ansible/roles/tripleo-container-manage/defaults/main.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman.yaml
Due: tripleo-ci-centos-7-scenario004-standalone

Add support for --limit option into ceph-ansible call
  tripleo_ansible/roles/tripleo-ceph-run-ansible/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible

Remove roles symlink
  roles
Due: none

Revert "Remove roles symlink"
  roles
Due: none

Move the filters plugin to the core plugins location
  tripleo_ansible/ansible_plugins/filter/helpers.py
Due: tripleo-ci-centos-7-scenario004-standalone

Revert "Workaround for ansible-lint installation failure"
  .pre-commit-config.yaml
  tox.ini
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-role-addition

Ensure plugin path is correct
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-ovs-dpdk/molecule/positive/molecule.yml
  tripleo_ansible/roles/tripleo-packages/molecule/default/molecule.yml
  tripleo_ansible/roles/tripleo-packages/molecule/external_upgrade/molecule.yml
  tripleo_ansible/roles/tripleo-packages/molecule/update/molecule.yml
  tripleo_ansible/roles/tripleo-packages/molecule/upgrade/molecule.yml
  tripleo_ansible/roles/tripleo-packages/molecule/upgrade/prepare.yml
Due: none

Run scenario004 for changes to tripleo-ceph-* roles
  zuul.d/layout.yaml
Due: none

Add conditions to ceph roles for dependencies
  tripleo_ansible/roles/tripleo-ceph-common/tasks/main.yml
  tripleo_ansible/roles/tripleo-ceph-common/vars/main.yml
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/meta/main.yml
  tripleo_ansible/roles/tripleo-ceph-fetch-dir/tasks/create.yml
  tripleo_ansible/roles/tripleo-ceph-run-ansible/meta/main.yml
  tripleo_ansible/roles/tripleo-ceph-uuid/meta/main.yml
  tripleo_ansible/roles/tripleo-ceph-uuid/tasks/main.yml
  tripleo_ansible/roles/tripleo-ceph-work-dir/meta/main.yml
  tripleo_ansible/roles/tripleo-ceph-work-dir/tasks/main.yml
  tripleo_ansible/roles/tripleo-ceph-work-dir/tasks/prepare.yml
Due: tripleo-ci-centos-7-scenario004-standalone, tripleo-ansible-centos-7-molecule-tripleo-ceph-run-ansible

tripleo-container-manage: few improvements
  tripleo_ansible/roles/tripleo-container-manage/defaults/main.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/main.yml
  tripleo_ansible/roles/tripleo-container-manage/tasks/podman.yaml
Due: tripleo-ci-centos-7-scenario004-standalone
